<!-- footer -->
<div class="content footer">
{% include sharing-buttons.html %}
  <p class="footer-links">
    <a href="http://www.hhs.gov/Privacy.html">Privacy Policy</a>
    <a href="http://www.healthit.gov/newsroom/web-site-disclaimers">Website Disclaimers</a>
    <a href="http://www.hhs.gov/plugins.html">Videos/Players</a>
  </p>
  <p class="footer-logos">
    <a href="https://www.usa.gov/"><img src="{{ "/img/logo-usagov.png" | prepend: site.baseurl }}" alt="USA.gov"></a>
    <a href="https://www.whitehouse.gov/"><img src="{{ "/img/logo-whitehouse.png" | prepend: site.baseurl }}" alt="whitehouse.gov"></a>
    <a href="http://www.hhs.gov/"><img src="{{ "/img/logo-hhs.png" | prepend: site.baseurl }}" alt="HHS.gov"></a>
    <a href="https://www.healthit.gov/"><img src="{{ "/img/logo-healthit.png" | prepend: site.baseurl }}" alt="HealthIT.gov"></a>
  </p>
</div>
