<div class="infographic-block">
  <div class="infographic-container">

    <div class="slide" id="slide-01">
      <div class="row">
        <div class="grid-9 offset-3 space-top-6">
          <div class="heading-block">
            <div class="heading-inner">
              <h1>Encourage Patients<br> to Sign Up</h1>
            </div>
          </div>
          <a href="#slide-02" class="btn btn-start js-btn-next">Get Started</a>
        </div>
      </div>
      <div class="sharing">
        <a href="#" class="btn-sharing btn-facebook">Facebook</a>
        <a href="#" class="btn-sharing btn-linkedin">LinkedIn</a>
        <a href="#" class="btn-sharing btn-twitter">Twitter</a>
      </div>
    </div>

    <div class="slide off" id="slide-02">
      <div class="slide-frame slide-title in-1">
        <h2>Patients benefit from patient portals &mdash; once they're used to them.</h2>
      </div>
      <div class="slide-nav">
        <a href="#slide-01" class="btn btn-previous js-btn-previous">Previous</a>
        <a href="#slide-03" class="btn btn-next js-btn-next">Next</a>
        <div class="dot-nav" aria-hidden="true">
          <span>&bull;</span> &bull; &bull; &bull; &bull; &bull;
        </div>
      </div>
    </div>

    <div class="slide off" id="slide-03">
      <div class="slide-frame">
        <div class="first-third bottom in-1">
          <p class="text-center"><img src="{{ "/img/ig-1-patient-standoffish.png" | prepend: site.baseurl }}" alt=""></p>
        </div>
        <div class="second-twothirds middle slide-title in-2">
          <p><strong>But they can be wary at first.</strong><br>
          You may struggle to get them to enroll.</p>
        </div>
      </div>
      <div class="slide-nav">
        <a href="#slide-02" class="btn btn-previous js-btn-previous">Previous</a>
        <a href="#slide-04" class="btn btn-next js-btn-next">Next</a>
        <div class="dot-nav" aria-hidden="true">
          <span>&bull; &bull;</span> &bull; &bull; &bull; &bull;
        </div>
      </div>
    </div>

    <div class="slide off" id="slide-04">
      <div class="slide-frame">
        <div class="first-third bottom in-1">
          <p class="text-center"><img src="{{ "/img/ig-1-patient-comfortable.png" | prepend: site.baseurl }}" alt=""></p>
        </div>
        <div class="second-twothirds middle slide-title in-2">
          <p>Patients who use portals are <strong>2.6 times</strong> more likely to <strong>stay</strong> patients.</p>
        </div>
      </div>
      <div class="slide-nav">
        <a href="#slide-03" class="btn btn-previous js-btn-previous">Previous</a>
        <a href="#slide-05" class="btn btn-next js-btn-next">Next</a>
        <div class="dot-nav" aria-hidden="true">
          <span>&bull; &bull; &bull;</span> &bull; &bull; &bull;
        </div>
      </div>
    </div>

    <div class="slide off" id="slide-05">
      <div class="slide-title">
        <div class="slide-image in-2 space-top-4">
          <p class="text-center"><img src="{{ "/img/ig-1-question-mark.png" | prepend: site.baseurl }}" alt=""></p>
        </div>
        <div class="slide-content in-1">
          <h2 class="text-center">So, how do you get them to buy in?</h2>
        </div>
      </div>
      <div class="slide-nav">
        <a href="#slide-04" class="btn btn-previous js-btn-previous">Previous</a>
        <a href="#slide-06" class="btn btn-next js-btn-next">Next</a>
        <div class="dot-nav" aria-hidden="true">
          <span>&bull; &bull; &bull; &bull;</span> &bull; &bull;
        </div>
      </div>
    </div>

    <div class="slide off" id="slide-06">
      <div class="slide-frame office in-1">
        <div class="hotspot hotspot-1 in-3"><a href="#hotspot-content-1" class="hotspot-link">+</a></div>
        <div class="hotspot hotspot-2 in-3"><a href="#hotspot-content-2" class="hotspot-link">+</a></div>
        <div class="hotspot hotspot-3 in-3"><a href="#hotspot-content-3" class="hotspot-link">+</a></div>
        <div class="hotspot hotspot-4 in-3"><a href="#hotspot-content-4" class="hotspot-link">+</a></div>
        <div class="hotspot hotspot-5 in-3"><a href="#hotspot-content-5" class="hotspot-link">+</a></div>
        <div class="hotspot-title in-2">
          <p>Use every appointment to promote the value of your patient portal.</p>
        </div>
      </div>

      <div class="slide-nav slide-nav-dark">
        <a href="#slide-05" class="btn btn-previous js-btn-previous">Previous</a>
        <a href="#slide-07" class="btn btn-next js-btn-next">Next</a>
        <div class="dot-nav">
          <span>&bull; &bull; &bull; &bull; &bull;</span> &bull;
        </div>
      </div>
    </div>

    <div class="hotspot-container">
      <div class="hotspot-content" id="hotspot-content-1">
        <h2>Nurses</h2>
        <p>[image of nurse]</p>
        <p>When nurses are taking vital signs and entering information into the EHR, they can remind patients to review their medical data in the portal.</p>
      </div>

      <div class="hotspot-content" id="hotspot-content-2">
        <h2>Printed material</h2>
        <p>[image of poster on wall and rack of brochures beneath it]</p>
        <p>Posters and brochures help drive home the message — and including the website link will encourage patients to check it out on their phone while they wait.</p>
      </div>

      <div class="hotspot-content" id="hotspot-content-3">
        <h2>Receptionists</h2>
        <p>[image of receptionist]</p>
        <p>Receptionists can suggest patients use the portal to schedule appointments, refill prescriptions, and ask questions.</p>
      </div>

      <div class="hotspot-content" id="hotspot-content-4">
        <h2>Emails and correspondence</h2>
        <p>[image of computer next to receptionist]</p>
        <p>Automated follow-up emails after an appointment — as well as bills and receipts — can include a link and remind people to sign up.</p>
      </div>

      <div class="hotspot-content" id="hotspot-content-5">
        <h2>Computer kiosks</h2>
        <p>[image of computer in waiting room for patient use]</p>
        <p>Patients can check their records on a computer kiosk in the waiting room — and staff can use the kiosk to show new patients how the portal works.</p>
      </div>

      <div class="hotspot-content" id="hotspot-content-6">
        <h2>TVs</h2>
        <p>[image of TV]</p>
        <p>Grab attention with educational videos about the value of consumer access to patient data.</p>
      </div>
    </div>


    <div class="slide off" id="slide-07">
      <div class="slide-content">
        <div class="slide-title">
          <h2 class="text-center space-top-3 in-1">Find this information helpful?</h2>
          <div class="in-2">
            <h3 class="text-center">Share it with others.</h3>
            <p class="text-center">
              <a href="#" class="btn-sharing btn-facebook">Facebook</a>
              <a href="#" class="btn-sharing btn-linkedin">LinkedIn</a>
              <a href="#" class="btn-sharing btn-twitter">Twitter</a>
            </p>
          </div>
        </div>
      </div>
      <div class="slide-nav">
        <a href="#slide-06" class="btn btn-previous js-btn-previous">Previous</a>
        <div class="dot-nav">
          <span>&bull; &bull; &bull; &bull; &bull; &bull;</span>
        </div>
      </div>
    </div>

  </div>
</div>
