<div class="content">
  <div class="row">
    <div class="grid-12">
      <p class="space-top-0"><img src="https://dummyimage.com/1200x700/999999/ffffff&amp;text=graphic" alt="Infographic placeholder image"></p>
      <p>Proposed graphic</p>
      <div class="sharing">
        <a href="#" class="btn-sharing btn-facebook" aria-label="Share this page on Facebook">Facebook</a>
        <a href="#" class="btn-sharing btn-linkedin" aria-label="Share this page on LinkedIn">LinkedIn</a>
        <a href="#" class="btn-sharing btn-twitter" aria-label="Share this page on Twitter">Twitter</a>
      </div>
    </div>
  </div>
</div>
