<div class="infographic-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="infographic-container">

          <div class="slide" id="slide-01">
            <div class="sharing">
              <a href="#" class="btn-sharing btn-facebook">Facebook</a>
              <a href="#" class="btn-sharing btn-linkedin">LinkedIn</a>
              <a href="#" class="btn-sharing btn-twitter">Twitter</a>
            </div>

            <div class="slide-content">
              <h1>Encourage Patients to Sign Up</h1>
              <a href="#slide-02" class="btn js-btn-next">Get Started</a>
            </div>
          </div>

          <div class="slide off" id="slide-02">
            <div class="slide-content">
              <h2>Patients benefit from patient portals &mdash; once they're used to them.</h2>
            </div>

            <div class="slide-nav">
              <a href="#slide-01" class="btn btn-previous js-btn-previous">Previous</a>
              <a href="#slide-03" class="btn btn-next js-btn-next">Next</a>
              <div class="dot-nav">
                &bull; &bull; &bull; &bull; &bull; &bull; &bull;
              </div>
            </div>
          </div>

          <div class="slide off" id="slide-03">
            <div class="slide-content">
              <div class="slide-image image-left">
                <p>(Image of patient looking standoffish)</p>
              </div>
              <p><strong>But they can be wary at first.</strong><br>
              You may struggle to get them to enroll.</p>
            </div>

            <div class="slide-nav">
              <a href="#slide-02" class="btn btn-previous js-btn-previous">Previous</a>
              <a href="#slide-04" class="btn btn-next js-btn-next">Next</a>
              <div class="dot-nav">
                &bull; &bull; &bull; &bull; &bull; &bull; &bull;
              </div>
            </div>
          </div>

          <div class="slide off" id="slide-04">
            <div class="slide-content">
              <div class="slide-image image-left">
                <p>(Image of patient looking comfortable)</p>
              </div>
              <p>Patients who use portals are 2.6 times more likely to <strong>stay</strong> patients.</p>
            </div>

            <div class="slide-nav">
              <a href="#slide-03" class="btn btn-previous js-btn-previous">Previous</a>
              <a href="#slide-05" class="btn btn-next js-btn-next">Next</a>
              <div class="dot-nav">
                &bull; &bull; &bull; &bull; &bull; &bull; &bull;
              </div>
            </div>
          </div>

          <div class="slide off" id="slide-05">
            <div class="slide-content">
              <div class="slide-image">
                <p class="text-center">(question mark icon)</p>
              </div>
              <h2 class="text-center">So, how do you get them to buy in?</h2>
            </div>

            <div class="slide-nav">
              <a href="#slide-04" class="btn btn-previous js-btn-previous">Previous</a>
              <a href="#slide-06" class="btn btn-next js-btn-next">Next</a>
              <div class="dot-nav">
                &bull; &bull; &bull; &bull; &bull; &bull; &bull;
              </div>
            </div>
          </div>

          <div class="slide hotspot off" id="slide-06">
            <div class="slide-content">
              <div class="slide-image">
                <p>(office background image with hotspots)</p>
              </div>

              <p>Use every appointment to promote the value of your patient portal.</p>
            </div>

            <div class="slide-nav slide-nav-dark">
              <a href="#slide-05" class="btn btn-previous js-btn-previous">Previous</a>
              <a href="#slide-07" class="btn btn-next js-btn-next">Next</a>
              <div class="dot-nav">
                &bull; &bull; &bull; &bull; &bull; &bull; &bull;
              </div>
            </div>
          </div>

          <!-- hotspot lightbox content -->

          <div class="slide off" id="slide-07">
            <div class="slide-content">
              <h2 class="text-center">Find this information helpful?<br>
              Share it with others.</h2>
              <p class="text-center">(Social sharing icons)</p>
            </div>
            <div class="slide-nav">
              <a href="#slide-06" class="btn btn-previous js-btn-previous">Previous</a>
              <div class="dot-nav">
                &bull; &bull; &bull; &bull; &bull; &bull; &bull;
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
