<div class="content">
  <div class="row">
    <div class="grid-12">
    <div class="sharing">
      <a href="#" class="btn-sharing btn-facebook">Facebook</a>
      <a href="#" class="btn-sharing btn-linkedin">LinkedIn</a>
      <a href="#" class="btn-sharing btn-twitter">Twitter</a>
    </div>
      <!--<p><a href="{{ "/infographic-2/" | prepend: site.baseurl }}">Shareable link</a></p>-->
      <p class="space-top-0"><img src="https://dummyimage.com/1200x700/999999/ffffff&amp;text=graphic" alt=""></p>
      <p>Proposed graphic: Checklist of solutions (features to activate in the portal)</p>
    </div>
  </div>
</div>
