<div class="infographic-block" id="infographic-1">
  <div class="infographic-container">
    <div class="slide-container" aria-live="polite" aria-atomic="true">
      <div class="slide on" id="slide-01" role="tabpanel" aria-labelledby="slide-01-control" aria-hidden="false">
        <div class="row">
          <div class="grid-9 offset-3 space-top-6">
            <div class="heading-block">
              <div class="heading-inner">
                <h1>Encourage Patients<br> to Sign Up</h1>
              </div>
            </div>
            <a href="#slide-02" class="btn btn-start ig-nav" aria-controls="slide-02" aria-expanded="false">Get Started</a>
          </div>
        </div>
        <div class="sharing">
          <a href="https://www.facebook.com/sharer/sharer.php?u=http://healthitgov-stage.ahrqstg.org/playbook/pe/infographic-1/" class="btn-sharing btn-facebook" aria-label="Share this page on Facebook">Facebook</a>
          <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://healthitgov-stage.ahrqstg.org/playbook/pe/infographic-1/&amp;title=Encourage%20Patients%20to%20Sign%20Up&amp;summary=Did%20you%20know%20that%20patients%20who%20use%20portals%20are%202.6%20times%20more%20likely%20to%20choose%20to%20stay%20patients?%20Check%20out%20this%20slideshow%20from%20the%20ONC%20Patient%20Engagement%20Playbook%20for%20tips%20on%20getting%20patients%20to%20buy%20into%20the%20benefits%20of%20portals." class="btn-sharing btn-linkedin" aria-label="Share this page on LinkedIn">LinkedIn</a>
          <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20slideshow%20from%20@ONC_HealthIT%E2%80%99s%20Patient%20Engagement%20Playbook%20on%20getting%20buy-in%20for%20patient%20portals:%20http://bit.ly/1WCKPwe" class="btn-sharing btn-twitter" aria-label="Share this page on Twitter">Twitter</a>
        </div>
      </div>

      <div class="slide off" id="slide-02" role="tabpanel" aria-labelledby="slide-02-control" aria-hidden="true">
        <div class="slide-frame slide-pad in-1">
          <h2>Patients <strong>benefit</strong> from patient portals&hellip;</h2>
        </div>
      </div>

      <div class="slide off" id="slide-03" role="tabpanel" aria-labelledby="slide-03-control" aria-hidden="true">
        <div class="slide-frame">
          <div class="first-third bottom in-1">
            <img src="{{ "/img/ig-1-patient-standoffish.png" | prepend: site.baseurl }}" alt="">
          </div>
          <div class="second-twothirds middle in-2">
            <h2>But they can be wary at first.</h2>
            <p>You may struggle to get them to enroll.</p>
          </div>
        </div>
      </div>

      <div class="slide off" id="slide-04" role="tabpanel" aria-labelledby="slide-04-control" aria-hidden="true">
        <div class="slide-frame">
          <div class="first-third bottom in-1">
            <img src="{{ "/img/ig-1-patient-comfortable.png" | prepend: site.baseurl }}" alt="">
          </div>
          <div class="second-twothirds middle in-2">
            <h2>Patients who use portals are <span><strong>2.6 times</strong> more likely to choose to stay patients.</span></h2>
          </div>
        </div>
      </div>

      <div class="slide off" id="slide-05" role="tabpanel" aria-labelledby="slide-05-control" aria-hidden="true">
        <div class="slide-image in-2 space-top-8">
          <p class="text-center"><img src="{{ "/img/ig-1-question-mark.png" | prepend: site.baseurl }}" alt=""></p>
        </div>
        <div class="slide-content in-1">
          <h2 class="text-center">So, how do you get them to buy in?</h2>
        </div>
      </div>

      <div class="slide off" id="slide-06" role="tabpanel" aria-labelledby="slide-06-control" aria-hidden="true">
        <div class="slide-frame office in-1">
          <div class="hotspot-title in-2">
            <h2>Use every appointment to promote the value of your patient portal.</h2>
            <p class="text-center in-3 small-lightbox-toggle"><a href="#lightbox-content-1" class="btn btn-blue">See examples</a></p>
          </div>
          <div class="hotspot hotspot-1 in-3"><a href="#lightbox-content-1" class="hotspot-link"><span aria-hidden="true">+</span><span class="desc"> Nurses</span></a></div>
          <div class="hotspot hotspot-2 in-3"><a href="#lightbox-content-2" class="hotspot-link"><span aria-hidden="true">+</span><span class="desc"> TVs</span></a></div>
          <div class="hotspot hotspot-3 in-3"><a href="#lightbox-content-3" class="hotspot-link"><span aria-hidden="true">+</span><span class="desc"> Printed material</span></a></div>
          <div class="hotspot hotspot-4 in-3"><a href="#lightbox-content-4" class="hotspot-link"><span aria-hidden="true">+</span><span class="desc"> Receptionists</span></a></div>
          <div class="hotspot hotspot-5 in-3"><a href="#lightbox-content-5" class="hotspot-link"><span aria-hidden="true">+</span><span class="desc"> Emails and correspondence</span></a></div>
          <div class="hotspot hotspot-6 in-3"><a href="#lightbox-content-6" class="hotspot-link"><span aria-hidden="true">+</span><span class="desc"> Computer kiosks</span></a></div>
        </div>

        <div class="lightbox-container">
          <div class="lightbox-content lightbox-off" aria-hidden="true" id="lightbox-content-1">
            <div class="row">
              <div class="grid-4 small-hide">
                <p><img src="{{ "/img/ig-1-nurse.png" | prepend: site.baseurl }}" alt="Nurse"></p>
              </div>
              <div class="grid-8 space-top-3">
                <h2>Nurses</h2>
                <p>When nurses are taking vital signs and entering information into the EHR, they can remind patients to review their medical data in the portal.</p>
              </div>
            </div>
            <div class="lightbox-close-block"><a href="#slide-06" class="lightbox-close btn btn-blue" aria-label="Close example">Close</a></div>
          </div>
          <div class="lightbox-content lightbox-off" aria-hidden="true" id="lightbox-content-2">
            <div class="row">
              <div class="grid-4 small-hide">
                <p><img src="{{ "/img/ig-1-tv.png" | prepend: site.baseurl }}" alt="TV"></p>
              </div>
              <div class="grid-8 space-top-3">
                <h2>TVs</h2>
                <p>Grab attention with educational videos about the value of consumer access to patient data.</p>
              </div>
            </div>
            <div class="lightbox-close-block"><a href="#slide-06" class="lightbox-close btn btn-blue" aria-label="Close example">Close</a></div>
          </div>
          <div class="lightbox-content lightbox-off" aria-hidden="true" id="lightbox-content-3">
            <div class="row">
              <div class="grid-4 small-hide">
                <p><img src="{{ "/img/ig-1-print.png" | prepend: site.baseurl }}" alt="Printed materials"></p>
              </div>
              <div class="grid-8 space-top-3">
                <h2>Printed material</h2>
                <p>Posters and brochures help drive home the message — and including the website link will encourage patients to check it out on their phone while they wait.</p>
              </div>
            </div>
            <div class="lightbox-close-block"><a href="#slide-06" class="lightbox-close btn btn-blue" aria-label="Close example">Close</a></div>
          </div>
          <div class="lightbox-content lightbox-off" aria-hidden="true" id="lightbox-content-4">
            <div class="row">
              <div class="grid-4 small-hide">
                <p><img src="{{ "/img/ig-1-receptionist.png" | prepend: site.baseurl }}" alt="Receptionist"></p>
              </div>
              <div class="grid-8 space-top-3">
                <h2>Receptionists</h2>
                <p>Receptionists can suggest patients use the portal to schedule appointments, refill prescriptions, and ask questions.</p>
              </div>
            </div>
            <div class="lightbox-close-block"><a href="#slide-06" class="lightbox-close btn btn-blue" aria-label="Close example">Close</a></div>
          </div>
          <div class="lightbox-content lightbox-off" aria-hidden="true" id="lightbox-content-5">
            <div class="row">
              <div class="grid-4 small-hide">
                <p><img src="{{ "/img/ig-1-email.png" | prepend: site.baseurl }}" alt="Computer screen"></p>
              </div>
              <div class="grid-8 space-top-3">
                <h2>Emails and correspondence</h2>
                <p>Automated follow-up emails after an appointment — as well as bills and receipts — can include a link and remind people to sign up.</p>
              </div>
            </div>
            <div class="lightbox-close-block"><a href="#slide-06" class="lightbox-close btn btn-blue" aria-label="Close example">Close</a></div>
          </div>
          <div class="lightbox-content lightbox-off" aria-hidden="true" id="lightbox-content-6">
            <div class="row">
              <div class="grid-4 small-hide">
                <p><img src="{{ "/img/ig-1-kiosk.png" | prepend: site.baseurl }}" alt="Computer kiosk"></p>
              </div>
              <div class="grid-8 space-top-3">
                <h2>Computer kiosks</h2>
                <p>Patients can check their records on a computer kiosk in the waiting room — and staff can use the kiosk to show new patients how the portal works.</p>
              </div>
            </div>
            <div class="lightbox-close-block"><a href="#slide-06" class="lightbox-close btn btn-blue" aria-label="Close example">Close</a></div>
          </div>
          <div class="lightbox-nav">
            <a href="#lightbox-nav-previous" class="lightbox-nav-control" id="lightbox-nav-previous" aria-label="Previous example">&larr;</a>
            <a href="#lightbox-nav-next" class="lightbox-nav-control" id="lightbox-nav-next" aria-label="Next example">&rarr;</a>
          </div>
        </div>
      </div>

      <div class="slide slide-final off" id="slide-07" role="tabpanel" aria-labelledby="slide-07-control" aria-hidden="true">
        <div class="slide-content">
          <h2 class="in-1">Find this information helpful?</h2>
          <div class="in-2">
            <h3>Share it with others.</h3>
            <p>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http://healthitgov-stage.ahrqstg.org/playbook/pe/infographic-1/" class="btn-sharing btn-facebook-large" aria-label="Share this page on Facebook">Facebook</a>
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://healthitgov-stage.ahrqstg.org/playbook/pe/infographic-1/&amp;title=Encourage%20Patients%20to%20Sign%20Up&amp;summary=Did%20you%20know%20that%20patients%20who%20use%20portals%20are%202.6%20times%20more%20likely%20to%20choose%20to%20stay%20patients?%20Check%20out%20this%20slideshow%20from%20the%20ONC%20Patient%20Engagement%20Playbook%20for%20tips%20on%20getting%20patients%20to%20buy%20into%20the%20benefits%20of%20portals." class="btn-sharing btn-linkedin-large" aria-label="Share this page on LinkedIn">LinkedIn</a>
              <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20slideshow%20from%20@ONC_HealthIT%E2%80%99s%20Patient%20Engagement%20Playbook%20on%20getting%20buy-in%20for%20patient%20portals:%20http://bit.ly/1WCKPwe" class="btn-sharing btn-twitter-large" aria-label="Share this page on Twitter">Twitter</a>
            </p>
          </div>
          <div class="text-center in-3">
            <a href="#slide-01" class="btn btn-start ig-nav">Start over</a>
          </div>
        </div>
      </div>
    </div>

    <div class="slide-nav" role="article" aria-label="Slide navigation">
      <ul class="dot-nav" role="tablist">
        <li role="presentation"><a href="#slide-01" role="tab" id="slide-01-control" class="ig-nav slide-control current" aria-controls="slide-01" aria-selected="true" aria-label="Slide 1">1</a></li>
        <li role="presentation"><a href="#slide-02" role="tab" id="slide-02-control" class="ig-nav slide-control" aria-controls="slide-02" aria-selected="false" aria-label="Slide 2">2</a></li>
        <li role="presentation"><a href="#slide-03" role="tab" id="slide-03-control" class="ig-nav slide-control" aria-controls="slide-03" aria-selected="false" aria-label="Slide 3">3</a></li>
        <li role="presentation"><a href="#slide-04" role="tab" id="slide-04-control" class="ig-nav slide-control" aria-controls="slide-04" aria-selected="false" aria-label="Slide 4">4</a></li>
        <li role="presentation"><a href="#slide-05" role="tab" id="slide-05-control" class="ig-nav slide-control" aria-controls="slide-05" aria-selected="false" aria-label="Slide 5">5</a></li>
        <li role="presentation"><a href="#slide-06" role="tab" id="slide-06-control" class="ig-nav slide-control" aria-controls="slide-06" aria-selected="false" aria-label="Slide 6">6</a></li>
        <li role="presentation"><a href="#slide-07" role="tab" id="slide-07-control" class="ig-nav slide-control" aria-controls="slide-07" aria-selected="false" aria-label="Slide 7">7</a></li>
      </ul>
      <a href="#ig-next" id="ig-next" class="btn btn-next">Next<span aria-hidden="true"> &rarr;</span></a>
      <a href="#ig-previous" id="ig-previous" class="btn btn-previous limit"><span aria-hidden="true">&larr; </span>Previous</a>
    </div>

  </div>
  <div class="infographic-poster">
    <img src="{{ "/img/ig-1-poster.png" | prepend: site.baseurl }}" alt="Infographic 1 poster">
  </div>
</div>
