<div class="infographic-block" id="infographic-2">
  <div class="infographic-container">

    <div class="slide on" id="slide-01" aria-hidden="false">
      <div class="row">
        <div class="grid-9 offset-3 space-top-6">
          <div class="heading-block">
            <div class="heading-inner">
              <h1>Meet Patient Needs</h1>
            </div>
          </div>
          <a href="#slide-02" class="btn btn-start ig-nav" aria-controls="slide-02" aria-expanded="false">Get Started</a>
        </div>
      </div>
      <div class="sharing">
        <a href="#" class="btn-sharing btn-facebook">Facebook</a>
        <a href="#" class="btn-sharing btn-linkedin">LinkedIn</a>
        <a href="#" class="btn-sharing btn-twitter">Twitter</a>
      </div>
    </div>

    <div class="slide off" id="slide-02" role="tabpanel" aria-hidden="true">
      <div class="row">
        <div class="grid-6">
          <div class="in-2">
            <h2><strong>Portals generally offer 3 key features:</strong></h2>
            <ul class="ig-checklist">
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Online booking and prescription refills</span></li>
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Secure information sharing</span></li>
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Sharing notes</span></li>
            </ul>
          </div>
          <div class="in-3">
            <p><strong>See how they benefit both your staff and your patients.</strong></p>
          </div>
        </div>
        <div class="grid-5 offset-1 space-top-4">
          <p class="in-1"><img src="{{ "/img/ig-2-11.png" | prepend: site.baseurl }}" alt=""></p>
        </div>
      </div>
    </div>

    <div class="slide off" id="slide-03" role="tabpanel" aria-hidden="true">
      <div class="row">
        <div class="grid-8">
          <div class="in-1">
            <h2>Allow online booking and prescription refills.</h2>
          </div>
          <div class="in-2">
            <p>On average, it takes staff a little more than <strong>8 minutes</strong> to schedule an appointment over the phone.</p>
            <ul class="ig-checklist">
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Your staff will gain valuable time by not having to deal with booking and refills on the phone &mdash; potentially hours every week.</span></li>
            </ul>
          </div>
          <div class="in-3">
            <p><a href="#slide-03-patient-quote" aria-controls="slide-03-patient-quote" aria-expanded="false" id="slide-03-patient-quote-toggle" class="btn btn-green patient-quote-toggle">Here&rsquo;s what patients say</a></p>
          </div>
        </div>
      </div>
      <div class="patient-quote off" id="slide-03-patient-quote" aria-hidden="true">
        <div class="row">
          <div class="grid-7">
            <div class="quote-bubble">
              <p class="in-1">I used to run out of my medications a lot &mdash; I&rsquo;d forget to call when the office was open.Now I go online and get a refill as soon asI notice I&rsquo;m running low. It&rsquo;s a lot less stressful.</p>
            </div>
            <a href="#slide-03" class="btn btn-dark patient-quote-close">Go Back</a>
          </div>
        </div>
      </div>
    </div>

    <div class="slide off" id="slide-04" role="tabpanel" aria-hidden="true">
      <div class="row">
        <div class="grid-8">
          <div class="in-1">
            <h2>Set up secure information sharing</h2>
          </div>
          <div class="in-2">
            <p>Sharing information &mdash; <strong>such as lab results or emails</strong> &mdash; with patients through a secure patient portal can:</p>
            <ul class="ig-checklist">
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Reduce phone calls</span></li>
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Allow you to respond to patient questions in your own time</span></li>
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Reflect well on your office, demonstrating your accessibility and openness</span></li>
            </ul>
          </div>
          <div class="in-3">
            <p><a href="#slide-04-patient-quote" aria-controls="slide-04-patient-quote" aria-expanded="false" class="btn btn-green patient-quote-toggle" id="slide-04-patient-quote-toggle">Here&rsquo;s what patients say</a></p>
          </div>
        </div>
      </div>
      <div class="patient-quote off" id="slide-04-patient-quote" aria-hidden="true">
        <div class="row">
          <div class="grid-7">
            <div class="quote-bubble">
              <p class="in-1">I love being able to ask my doctor a question without the hassle of leaving a message and then waiting and worrying I&rsquo;m going to miss her call. Getting an answer in writing gives me peace of mind.</p>
            </div>
            <a href="#slide-04" class="btn btn-dark patient-quote-close">Go Back</a>
          </div>
        </div>
      </div>
    </div>

    <div class="slide off" id="slide-05" role="tabpanel" aria-hidden="true">
      <div class="row">
        <div class="grid-8">
          <div class="in-1">
            <h2>Share Notes</h2>
          </div>
          <div class="in-2">
            <p class="p-breaker"><strong>Patients forget up to 80% of what their providers tell them during an appointment.</strong> Sharing notes helps them better understand and follow your advice. <span>According to research, sharing notes also:</span></p>
            <ul class="ig-checklist">
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Increases transparency, which patients appreciate</span></li>
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Doesn&rsquo;t add to provider workload</span></li>
              <li><span class="check check-yellow" aria-hidden="true"></span> <span class="check-item">Can improve patient self-care and compliance</span></li>
            </ul>
          </div>
          <div class="in-3">
            <p class="stay-tight"><a href="#slide-05-patient-quote" aria-controls="slide-05-patient-quote" aria-expanded="false" class="btn btn-green patient-quote-toggle" id="slide-05-patient-quote-toggle">Here&rsquo;s what patients say</a></p>
          </div>
        </div>
      </div>
      <div class="patient-quote off" id="slide-05-patient-quote" aria-hidden="true">
        <div class="row">
          <div class="grid-7">
            <div class="quote-bubble">
              <p class="in-1">I have a few different health problems and it&rsquo;s hard to keep track of what my doctor said in the office. Now my wife and I can just check the notes to be sure about what I&rsquo;m supposed to do.</p>
            </div>
            <a href="#slide-05" class="btn btn-dark patient-quote-close">Go Back</a>
          </div>
        </div>
      </div>
    </div>


    <div class="slide slide-final off" id="slide-06" role="tabpanel" aria-hidden="true">
      <div class="slide-content">
        <h2 class="in-1">Find this information helpful?</h2>
        <div class="in-2">
          <h3>Share it with others.</h3>
          <p>
            <a href="#" class="btn-sharing btn-facebook-large">Facebook</a>
            <a href="#" class="btn-sharing btn-linkedin-large">LinkedIn</a>
            <a href="#" class="btn-sharing btn-twitter-large">Twitter</a>
          </p>
        </div>
        <div class="text-center in-3">
          <a href="#slide-01" class="btn btn-start ig-nav">Start over</a>
        </div>
      </div>
    </div>

    <div class="slide-nav">
      <ul class="dot-nav" role="tablist">
        <li role="presentation"><a href="#slide-02" role="tab" id="slide-02-control" class="ig-nav slide-control" aria-controls="slide-02">1</a></li>
        <li role="presentation"><a href="#slide-03" role="tab" id="slide-03-control" class="ig-nav slide-control" aria-controls="slide-03">2</a></li>
        <li role="presentation"><a href="#slide-04" role="tab" id="slide-04-control" class="ig-nav slide-control" aria-controls="slide-04">3</a></li>
        <li role="presentation"><a href="#slide-05" role="tab" id="slide-05-control" class="ig-nav slide-control" aria-controls="slide-05">4</a></li>
        <li role="presentation"><a href="#slide-06" role="tab" id="slide-06-control" class="ig-nav slide-control" aria-controls="slide-06">5</a></li>
      </ul>
      <a href="#ig-next" id="ig-next" class="btn btn-next">Next<span aria-hidden="true"> &rarr;</span></a>
      <a href="#ig-previous" id="ig-previous" class="btn btn-previous"><span aria-hidden="true">&larr; </span>Previous</a>
    </div>

  </div>
</div>

