<!-- scripts -->
<script src="{{ "/js/base.js" | prepend: site.baseurl }}"></script>
<!--<script src="{{ "/js/lib/jumplink.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lib/outlink.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lib/nav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/sticky-kit.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lib/onc.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lib/infographics.js" | prepend: site.baseurl }}"></script>-->
