<div class="sharing">
  <!--
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.og-url }}" class="btn-sharing btn-facebook">Facebook</a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.og-url }}&amp;title={{ page.og-title | uri_escape }}&amp;summary={{ page.og-description | uri_escape }}" class="btn-sharing btn-linkedin">LinkedIn</a>
  <a href="https://twitter.com/intent/tweet?text={{ page.og-title | uri_escape }}%20-%20{{ page.og-url | uri_escape}}" class="btn-sharing btn-twitter">Twitter</a>
  <a href="https://plus.google.com/share?url={{ page.og-title | uri_escape }}%20-%20{{ page.og-url }}" class="btn-sharing btn-google">Google+</a>
  -->
  <a href="#" class="btn-sharing btn-facebook">Facebook</a>
  <a href="#" class="btn-sharing btn-linkedin">LinkedIn</a>
  <a href="#" class="btn-sharing btn-twitter">Twitter</a>
  <a href="#" class="btn-sharing btn-google">Google+</a>
</div>
