{% if page.og-url %}
  {% if page.og-title %}
    {% if page.og-description %}
    <div class="row">
      <div class="connect-footer">
        <div class="grid-9">
          <p><a href="#">Sign up for email updates</a> about the Patient Engagement Playbook.</p>
        </div>
        <div class="grid-3">
          <div class="sharing-footer">
            <a href="#" class="btn-sharing btn-facebook" aria-label="Share this page on Facebook">Facebook</a>
            <a href="#" class="btn-sharing btn-linkedin" aria-label="Share this page on LinkedIn">LinkedIn</a>
            <a href="#" class="btn-sharing btn-twitter" aria-label="Share this page on Twitter">Twitter</a>
            <a href="javascript:window.print()" class="btn-print" aria-label="Print this page">Print</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endif %}
{% endif %}
