{% if page.og-url %}
  {% if page.og-title %}
    {% if page.og-description %}
<div class="sharing">
  <!--
  <a href="https://www.facebook.com/sharer/sharer.php?u=*** page.og-url ***" class="btn-sharing btn-facebook">Facebook</a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=*** page.og-url ***&amp;title=*** page.og-title | uri_escape ***&amp;summary=*** page.og-description | uri_escape ***" class="btn-sharing btn-linkedin">LinkedIn</a>
  <a href="https://twitter.com/intent/tweet?text=*** page.og-title | uri_escape ***%20-%20*** page.og-url | uri_escape***" class="btn-sharing btn-twitter">Twitter</a>
  -->
  <a href="#" class="btn-sharing btn-facebook" aria-label="Share this page on Facebook">Facebook</a>
  <a href="#" class="btn-sharing btn-linkedin" aria-label="Share this page on LinkedIn">LinkedIn</a>
  <a href="#" class="btn-sharing btn-twitter" aria-label="Share this page on Twitter">Twitter</a>
  <!--<a href="mailto:?subject=Patient%20Engagement%20Playbook&amp;body=Check%20out%20the%20Patient%20Engagement%20Playbook%20-%20https%3A%2F%2Fcommunicatehealth.github.io%2Fonc-playbook%2F" class="btn-sharing btn-email" aria-label="Email this page">Email</a>-->
  <a href="javascript:window.print()" class="btn-print" aria-label="Print this page">Print</a>
</div>
    {% endif %}
  {% endif %}
{% endif %}
