fieldset {
  max-width: 100%;
  min-width: 0; // to prevent overflow
  padding: .5em 1em;
}

input,
textarea {
  border: 1px solid $gray;
  max-width: 100%; // to prevent overflow
}

label {
  font-weight: 700;
}
