.mobile-menu {
  background-color: $white;
  height: $fixed-header-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  @include bp($sidebar-switch-point) {
    display: none;
  }

  .site-name {
    margin-left: .5em;
    margin-top: .15em;

    a {
      display: block;
    }

    img {
      max-height: $fixed-header-height - .25em;
    }
  }

  .site-menu {
    position: absolute;
    right: .5em;
    top: .35em;
  }
}

.sidebar {
  background-color: $white;
  box-shadow: .5em 0 1.5em rgba($black, .15);
  position: fixed;
  left: 0;
  width: $sidebar-width;
  transition: left .15s ease;
  z-index: 10;

  @include bp($sidebar-switch-point) {
    height: 100%;
  }

  .ie9 & {
    box-shadow: none;
  }

  &.closed {

    left: -$sidebar-width;
    transition: left .15s ease;

    @include bp($sidebar-switch-point) {
      left: 0;
    }
  }

  .site-name {
    padding: 1em;

    img {
      display: block;
      margin: 0 auto;
    }

    @include bp-max($sidebar-switch-point) {
      display: none;
    }
  }
}

.header {
  box-shadow: .5em 0 1.5em rgba($black, .15);
  position: fixed;
  height: 9.5em;
  left: 0;
  width: $sidebar-width;

  @include bp($sidebar-switch-point) {
    box-shadow: none;
  }

  .closed & {
    box-shadow: none;
    left: -$sidebar-width;
    transition: left .15s ease;

    @include bp($sidebar-switch-point) {
      left: 0;
    }
  }
}

.nav {
  background-color: $white;
  bottom: 0;
  box-shadow: .5em 0 1.5em rgba($black, .15);
  left: 0;
  position: fixed;
  overflow: auto;
  top: 6em;
  width: $sidebar-width;

  @include bp($sidebar-switch-point) {
    box-shadow: none;
    top: 9.5em;
  }

  .closed & {
    box-shadow: none;
    left: -$sidebar-width;
    transition: left .15s ease;

    @include bp($sidebar-switch-point) {
      left: 0;
    }
  }

  .ie9 & {
    box-sizing: content-box;
  }
}

.overlay {
  left: -18em;
  transition: left .15s ease;
  width: 0;
  z-index: 9;

  &.on {
    @include bp-max($sidebar-switch-point) {
      background-color: rgba($white, .7);
      bottom: 0;
      height: 100%;
      left: $sidebar-width;
      position: fixed;
      right: 0;
      top: $fixed-header-height;
      width: 100%;
    }
  }
}

.page {
  position: relative;
  margin-top: $fixed-header-height;

  @include bp($sidebar-switch-point) {
    margin-left: $sidebar-width;
    margin-top: 0;
  }
}

.home {
  .page {
    margin-top: 0;

    @include bp($sidebar-switch-point) {
      margin-left: 0;
    }
  }
}
