.header {
  box-shadow: .5em 0 1.5em rgba($black, .15);
  position: absolute;
  width: $sidebar-width;

  @include bp($sidebar-switch-point) {
    height: 100%;
    position: fixed;
  }

  .ie9 & {
    box-shadow: none;
  }
}

.site-bar {
  @extend %clearfix;
  background-color: $white;
  box-shadow: 0 .15em 1.5em rgba($black, .15);
  display: block;
  height: $fixed-header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include bp($sidebar-switch-point) {
    box-shadow: none;
    position: relative;
    width: $sidebar-width;
  }
}

.site-name {
  margin-left: .5em;
  margin-top: .15em;

  a {
    display: block;
  }

  img {
    max-height: $fixed-header-height - .25em;

    @include bp($sidebar-switch-point) {
      display: block;
      margin: 0 auto;
      max-height: inherit;

    }
  }

  @include bp($sidebar-switch-point) {
    margin: .75em 1.5em;
  }
}

.site-menu {
  position: absolute;
  right: .5em;
  top: .35em;

  @include bp($sidebar-switch-point) {
    display: none;
  }
}

.nav {
  background-color: $white;
  bottom: 0;
  box-shadow: .5em 0 1.5em rgba($black, .15);
  display: block;
  left: 0;
  margin-top: $fixed-header-height;
  overflow: auto;
  padding: 0 0 1em;
  position: fixed;
  top: 0;
  transition: left .15s ease;
  width: $sidebar-width;
  z-index: 2;

  @include bp($sidebar-switch-point) {
    bottom: 0;
    box-shadow: none;
    margin-top: 5.5em;
    padding-bottom: 0;
  }

  &.closed {
    box-shadow: none;
    left: -$sidebar-width;

    @include bp($sidebar-switch-point) {
      left: 0;
      position: absolute;
    }
  }
}

.overlay {
  left: -18em;
  transition: left .15s ease;
  width: 0;
  z-index: 1;

  &.on {
    @include bp-max($sidebar-switch-point) {
      background-color: rgba($white, .7);
      bottom: 0;
      height: 100%;
      left: $sidebar-width;
      position: fixed;
      right: 0;
      top: $fixed-header-height;
      width: 100%;
    }
  }
}

.page {
  margin-top: $fixed-header-height;

  @include bp($sidebar-switch-point) {
    margin-left: $sidebar-width;
    margin-top: 0;
  }
}

.home {
  .page {
    margin-top: 0;

    @include bp($sidebar-switch-point) {
      margin-left: 0;
    }
  }
}
