.infographic-block {
  background-color: $gray-lightest;
  padding-bottom: 2em;
  padding-top: 2em;

  h2 {
    color: $black;
    font-weight: 400;
    margin-top: .5em;
  }
}

.infographic-container {
  @extend %clearfix;
  background-color: $white;
  margin: 0 auto;
  max-width: $content-max-width;
  min-height: 31em;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.slide {
  background-color: $gray-light;
  bottom: 4.25em;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;

  &.off {
    z-index: 10;
  }
}

#slide-01 {
  bottom: 0;

  &.off {
    bottom: 4.25em;
  }
}

.slide-frame {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-start {
  background-color: $yellow;
  border: 1px solid $white;
  color: $black;
  font-size: 1.75em;

  &:visited {
    color: $black;
  }

  &:hover,
  &:active {
    border: 1px solid $black;
    background-color: $yellow-light;
    color: $black;
  }
}

.heading-block {
  background-color: $blue-dark;
  background-color: rgba($blue-dark, .8);
  color: $white;
  margin-bottom: 1em;
  margin-left: -1em;
  margin-right: -2em;
  margin-top: 2.5em;
  padding: .5em 1em 2em;
}

.heading-inner {
  border-bottom: 3px solid $green;
  margin-right: -1em;
  padding-right: 1em;
  padding-bottom: 1em;

   h1 {
    font-family: $font-header-alt;
    font-size: 3em;
   }
}

.slide-pad {
  padding: 1em;
}

.slide-nav {
  background-color: $white;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(248,249,250,1) 51%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(248,249,250,1) 51%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(248,249,250,1) 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f9fa',GradientType=0 );
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  .limit {
    display: none;
  }
}

.btn-previous {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
  float: left;
  margin: .75em 0 .75em 1em;
  padding: .5em 1.25em;

  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

.btn-next {
  background-color: $blue;
  border: 1px solid $white;
  color: $white;
  float: right;
  margin: .75em 1em .75em 0;
  padding: .5em 1.25em;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.dot-nav {
  display: block;
  margin: 1em auto .5em;
  max-width: 15em;
  text-align: center;

  a {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 1em;
    color: $black;
    display: inline-block;
    line-height: 1;
    padding: .4em .5em .5em;
    width: 2em;
    text-decoration: none;
    transition: all .3s;

    &:visited {
      color: $black;
    }

    &.current,
    &:hover,
    &:focus {
      background-color: $yellow;
      transition: all .3s;
    }
  }
}

.lightbox-container {
  &.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, .8);
  }
}

.lightbox-content {
  background-color: $white;
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2em 4em;
  z-index: 13;
}

.lightbox-off {
  display: none;
}

.lightbox-nav-control {
  background-color: $yellow;
  border-radius: .25em;
  color: $black;
  display: none;
  font-size: 2em;
  margin: .25em;
  padding: .1em .25em;
  position: absolute;
  text-decoration: none;
  top: 45%;
  transition: all .3s;

  &:visited {
    color: $black;
  }

  &:hover,
  &:focus {
    background-color: $white;
    transition: all .3s;
  }

  .backdrop & {
    display: block;

    &.limit {
      display: none;
    }
  }
}

#lightbox-nav-next {
  right: 0;
}

#lightbox-nav-previous {
  left: 0;
}

.first-third {
  left: 0;
  position: absolute;
  width: 33%;
}

.middle {
  @include bp($medium) {
    top: 25%;
  }
}

.second-twothirds {
  left: 33%;
  position: absolute;
  width: 66%;
}

// Animations
.in-1 {
  opacity: 1;
  transition: opacity 1s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.in-2 {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.in-3 {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 2s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.in-4 {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 3s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}
