.infographic-block {
  background-color: $off-white;
  padding-bottom: 1em;
  padding-top: 1em;
}

.infographic-container {
  background-color: $white;
}

.slide {
  background-color: $gray-light;
  min-height: 25em;
  position: relative;
}

.off {
  //position: absolute;
  //left: -9999px;
  display: none;
}

.slide-content {
  padding: 1em;
}

.heading-block {
  background-color: $white;
  margin-bottom: 1em;
  margin-left: -1em;
  margin-right: -2em;
  margin-top: 3em;
  padding: 1em;
}

.slide-nav {
  background-color: $white;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  &.slide-nav-dark {
    background-color: $black-light;
  }
}

.btn-previous,
.btn-next,
.btn-start {
  background-color: $gray-dark;
  border: 0;
  color: $white;

  &:visited {
    color: $white;
  }
}

.btn-previous {
  float: left;
  margin: .75em 0 .75em 1em;
}

.btn-next {
  float: right;
  margin: .75em 1em .75em 0;
}

.btn-start {
  font-size: 1.75em;
}

.dot-nav {
  color: $gray;
  display: block;
  max-width: 6em;
  margin: 1em auto .5em;
  text-align: center;

  .slide-nav-dark & {
    color: $white;
  }
}
