.infographic-block {
  background-color: $off-white;
  padding-bottom: 1em;
  padding-top: 1em;
}

.infographic-container {
  background-color: $white;
  position: relative;
  min-height: 25em;
}

.slide {
  background-color: $gray-light;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
}

.off {
  z-index: 10;
}

.slide-content {
  padding: 1em;
}

.hotspot {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hotspot-title {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 50%;

  p {
    font-size: 1.5em;
    line-height: 1.3;
  }
}

.office {
  background-image: url('../img/ig-1-office-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.in-1 {
  opacity: 1;
  transition: opacity 1s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.in-2 {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.heading-block {
  background-color: $white;
  margin-bottom: 1em;
  margin-left: -1em;
  margin-right: -2em;
  margin-top: 2.5em;
  padding: .5em 1em 2em;
}

.heading-inner {
  border-bottom: 3px solid $gray;
  margin-right: -1em;
  padding-right: 1em;
  padding-bottom: 1em;

   h1 {
    font-size: 3em;
   }
}

.slide-title {
  padding: 3em 4em;

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }
}

.slide-narrow {
  padding-left: 0;
}

.slide-nav {
  background-color: $white;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  &.slide-nav-dark {
    background-color: $black-light;
  }
}

.btn-previous,
.btn-next,
.btn-start {
  background-color: $gray-dark;
  border: 0;
  color: $white;

  &:visited {
    color: $white;
  }
}

.btn-previous {
  float: left;
  margin: .75em 0 .75em 1em;
}

.btn-next {
  float: right;
  margin: .75em 1em .75em 0;
}

.btn-start {
  font-size: 1.75em;
}

.dot-nav {
  color: $gray;
  display: block;
  max-width: 6em;
  margin: 1em auto .5em;
  text-align: center;

  .slide-nav-dark & {
    color: $white;
  }
}
