#infographic-1 {

  #slide-01 {
    background-color: $black;
    background-image: url('../img/ig-1-intro-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #slide-02 {
    background-color: $black;
    color: $white;

    h2 {
      border-bottom: 3px solid $yellow;
      color: $white;
      font-size: 2.5em;
      max-width: 14em;
      margin: 2em auto;
      padding-bottom: .5em;

      @include bp-max($medium-2) {
        font-size: 2em;
      }

      strong {
        color: $yellow;
      }
    }
  }

  #slide-03 {
    background-color: $black;
    color: $white;

    h2 {
      font-family: $font-body;
      font-size: 2.25em;
      font-weight: 700;
      color: #f04e24;

      @include bp-max($medium-2) {
        font-size: 1.75em;
      }
    }

    p {
      font-size: 1.75em;
      margin-top: 0;

      @include bp-max($medium-2) {
        font-size: 1.25em;
      }
    }

    img {
      max-height: 100%;
    }

    .bottom {
      bottom: 0;
    }
  }

  #slide-04 {
    background-color: $black;
    color: $white;

    .bottom {
      bottom: 0;
    }

    h2 {
      border-bottom: 3px solid $yellow;
      color: $white;
      font-family: $font-body;
      font-size: 2em;
      line-height: 1;
      margin-right: -.25em;
      padding-bottom: .75em;
      padding-right: 1em;

      @include bp-max($medium-2) {
        font-size: 1.25em;
      }

      span {
        color: $yellow;
        display: block;
        font-size: 1.1em;
        font-weight: 700;

        @include bp-max($medium-2) {
          font-size: 1.1em;
        }
      }

      strong {
        display: block;
        font-size: 2.5em;
        padding-bottom: 0;
        padding-top: 0;
        text-transform: uppercase;

        @include bp-max($medium-2) {
          font-size: 2.5em;
        }
      }
    }

    img {
      max-height: 100%;
    }
  }

  #slide-05 {
    background-color: $blue;
    color: $white;

    h2 {
      color: $white;
      font-size: 2.25em;
    }

    img {
      @include bp-max($medium-2) {
        max-width: 5em;
      }
    }
  }

  #slide-06 {
    .hotspot {
      position: absolute;

      @include bp-max($medium-2) {
        display: none;
      }

      a {
        background-color: $white;
        border: 1px solid $gray-light;
        border-radius: .75em;
        color: $green;
        display: block;
        font-size: 3em;
        height: 44px;
        line-height: .5;
        text-decoration: none;
        width: 44px;
        text-align: center;
        transition: all .5s;

        &:visited {
          color: $green;
        }

        &:hover,
        &:focus {
          background-color: $green;
          color: $white;
          transition: all .5s;
        }

        .desc {
          display: block;
          text-indent: -9999px;
        }
      }
    }

    .hotspot-1 {
      top: 62%;
      left: 10%;
    }

    .hotspot-2 {
      top: 22%;
      left: 17%;
    }

    .hotspot-3 {
      top: 22%;
      left: 54%;
    }

    .hotspot-4 {
      top: 50%;
      left: 58%;
    }

    .hotspot-5 {
      top: 44%;
      left: 76%;
    }

    .hotspot-6 {
      top: 56%;
      left: 90%;
    }

    .hotspot-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: .5em 1em;

      @include bp($medium) {
        left: 13%;
        width: 75%;
      }

      h2 {
        font-size: 1.5em;
        line-height: 1.3;
        text-align: center;
      }
    }

    .small-lightbox-toggle {
      margin-top: 1em;

      @include bp($medium-2) {
        display: none;
      }
    }

    .office {
      background-color: $off-white-3;
      background-image: url('../img/ig-1-waitingroom-bg.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @include bp-max($medium-2) {
        background-position: center bottom;
        background-size: contain;
      }
    }
  }

  #slide-07 {
    background-color: $off-white;
    color: $black;

    h2 {
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 3em;
      text-align: center;

      @include bp-max($medium-2) {
        margin-top: 1em;
      }
    }

    h3 {
      color: $blue;
      font-size: 2em;
      margin-bottom: .5em;
      margin-top: 0;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .slide.off .btn-sharing,
  .slide.off .btn-start,
  .slide.off .hotspot,
  .backdrop-on .hotspot, {
    display: none;
  }
}
