#infographic-1 {

  #slide-01 {
    background-color: $black;
    background-image: url('../img/ig-1-intro-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #slide-02 {
    background-color: $black;
    color: $white;

    h2 {
      border-bottom: 3px solid $yellow;
      color: $white;
      font-size: 2.5em;
      max-width: 14em;
      margin: 2em auto;
      padding-bottom: .5em;

      strong {
        color: $yellow;
      }
    }
  }

  #slide-03 {
    background-color: $black;
    color: $white;

    h2 {
      font-family: $font-body;
      font-size: 2.25em;
      font-weight: 700;
      color: #f04e24;
    }

    p {
      font-size: 1.75em;
      margin-top: 0;
    }

    .bottom {
      bottom: 2.5em;
    }
  }

  #slide-04 {
    background-color: $black;
    color: $white;

    .bottom {
      bottom: 2.5em;
    }

    h2 {
      border-bottom: 3px solid $yellow;
      color: $white;
      font-family: $font-body;
      font-size: 2em;
      line-height: 1;
      margin-right: -.25em;
      padding-bottom: .75em;
      padding-right: 1em;

      span {
        color: $yellow;
        display: block;
        font-size: 1.1em;
        font-weight: 700;
      }

      strong {
        display: block;
        font-size: 2.5em;
        padding-bottom: 0;
        padding-top: 0;
        text-transform: uppercase;
      }
    }
  }

  #slide-05 {
    background-color: $blue;
    color: $white;

    h2 {
      color: $white;
      font-size: 2.25em;
    }
  }

  #slide-06 {
    .hotspot {
      position: absolute;

      a {
        background-color: red;
        border-radius: .75em;
        color: #fff;
        display: block;
        font-size: 2em;
        height: 44px;
        line-height: 1;
        text-decoration: none;
        width: 44px;
        text-align: center;
        transition: all .5s;

        &:hover {
          background-color: blue;
          transition: all .5s;
        }
      }
    }

    .hotspot-1 {
      top: 50%;
      left: 10%;
    }

    .hotspot-2 {
      top: 18%;
      left: 17%;
    }

    .hotspot-3 {
      top: 18%;
      left: 54%;
    }

    .hotspot-4 {
      top: 46%;
      left: 58%;
    }

    .hotspot-5 {
      top: 40%;
      left: 76%;
    }

    .hotspot-6 {
      top: 52%;
      left: 90%;
    }

    .hotspot-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: .5em 1em;

      @include bp($medium) {
        left: 25%;
        width: 50%;
      }

      p {
        font-size: 1.5em;
        line-height: 1.3;
        text-align: center;
      }
    }

    .office {
      background-image: url('../img/ig-1-waitingroom-bg.png');
      background-position: center -2em;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  #slide-07 {
    background-color: $off-white;
    color: $black;

    h2 {
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 3em;
      text-align: center;
    }

    h3 {
      color: $blue;
      font-size: 2em;
      margin-bottom: .5em;
      margin-top: 0;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

}
