.infographic-block {
  background-color: $gray-lightest;
  padding-bottom: 2em;
  padding-top: 2em;

  h2 {
    color: $black;
    font-weight: 400;
    margin-top: .5em;
  }
}

.infographic-container {
  @extend %clearfix;
  background-color: $white;
  margin: 0 auto;
  max-width: $content-max-width;
  min-height: 31em;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.slide {
  background-color: $gray-light;
  bottom: 4.25em;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;

  @include bp-max($medium-2) {
    bottom: 7.5em;
  }

  &.off {
    z-index: 10;
  }
}

#slide-01 {
  bottom: 0;
  z-index: 15;

  &.off {
    bottom: 4.25em;
    z-index: 10;

    @include bp-max($medium-2) {
      bottom: 7.5em;
    }

    .sharing {
      display: none;
    }
  }
}

.slide-frame {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-start {
  background-color: $yellow;
  border: 1px solid $white;
  color: $black;
  font-size: 1.75em;

  @include bp-max($medium-2) {
    font-size: 1.35em;
  }

  &:visited {
    color: $black;
  }

  &:hover,
  &:active {
    border: 1px solid $black;
    background-color: $yellow-light;
    color: $black;
  }
}

.heading-block {
  background-color: $blue-dark;
  background-color: $blue-dark-trans-80;
  color: $white;
  margin-bottom: 1em;
  margin-left: -1em;
  margin-right: -2em;
  margin-top: 2.5em;
  padding: .5em 1em 2em;
}

.heading-inner {
  border-bottom: 3px solid $green;
  margin-right: -1em;
  padding-right: 1em;
  padding-bottom: 1em;

   h1 {
    font-family: $font-header-alt;
    font-size: 3em;
   }
}

.slide-pad {
  padding: 1em;
}

.slide-nav {
  background-color: $white;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(248,249,250,1) 51%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(248,249,250,1) 51%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(248,249,250,1) 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f9fa',GradientType=0 );
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 14;

  .limit {
    display: none;
  }
}

.btn-previous {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
  float: left;
  margin: .75em 0 .75em 1em;
  padding: .5em 1.25em;

  @include bp($medium-2) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

.btn-next {
  background-color: $blue;
  border: 1px solid $white;
  color: $white;
  float: right;
  margin: .75em 1em .75em 0;
  padding: .5em 1.25em;

  @include bp($medium-2) {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.dot-nav {
  display: block;
  list-style-type: none;
  margin: 1em auto .5em;
  max-width: 16em;
  text-align: center;

  @include bp($medium-2) {
    margin-bottom: 1em;
  }

  li {
    display: inline;
  }

  a {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 1em;
    color: $black;
    display: inline-block;
    line-height: 1;
    padding: .4em .5em .5em;
    width: 2em;
    text-decoration: none;
    transition: all .3s;

    &:visited {
      color: $black;
    }

    &.current,
    &:hover,
    &:focus {
      background-color: $yellow;
      transition: all .3s;
    }
  }
}

.lightbox-container {
  &.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    background-color: $black-trans-80;
  }
}

.lightbox-content {
  background-color: $white;
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2em 4em;
  z-index: 13;

  @include bp-max($medium-2) {
    padding: .5em;
    margin: 1em 3em;
  }

  .space-top-3 {
    @include bp-max($medium-2) {
      margin-top: 0;
    }
  }

  .small-hide {
    @include bp-max($medium-2) {
      display: none;
    }
  }

  h2 {
    @include bp-max($medium-2) {
      font-size: 1.35em;
    }
  }

  p {
    @include bp-max($medium-2) {
      font-size: 1em;
    }
  }
}

.lightbox-off {
  display: none;
}

.lightbox-close {
  @include bp-max($medium-2) {
    width: 100%;
  }
}

.lightbox-nav-control {
  background-color: $yellow;
  border-radius: .25em;
  color: $black;
  display: none;
  font-size: 2em;
  margin: .25em;
  padding: .1em .25em;
  position: absolute;
  text-decoration: none;
  top: 45%;
  transition: all .3s;

  @include bp-max($medium-2) {
    font-size: 1.5em;
  }

  &:visited {
    color: $black;
  }

  &:hover,
  &:focus {
    background-color: $white;
    transition: all .3s;
  }

  .backdrop & {
    display: block;

    &.limit {
      display: none;
    }
  }
}

#lightbox-nav-next {
  right: 0;
}

#lightbox-nav-previous {
  left: 0;
}

.first-third {
  left: 0;
  position: absolute;
  width: 33%;

  @include bp-max($medium-2) {
    bottom: 0;
    top: 50%;
    width: 100%;
  }
}

.middle {
  @include bp($medium) {
    top: 25%;
  }
}

.second-twothirds {
  left: 33%;
  position: absolute;
  width: 66%;

  @include bp-max($medium-2) {
    left: 0;
    top: 0;
    width: 100%;
    padding: 1em;
  }
}

// Animations
.in-1 {
  opacity: 1;
  transition: opacity 1s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.in-2 {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.in-3 {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 2s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

.in-4 {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 3s;

  .off & {
    opacity: 0;
    transition: opacity 1s;
  }
}

// Infographic 1
// -----------------------------------

#infographic-1 {

  #slide-01 {
    background-color: $black;
    background-image: url('../img/ig-1-intro-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #slide-02 {
    background-color: $black;
    color: $white;

    h2 {
      border-bottom: 3px solid $yellow;
      color: $white;
      font-size: 2.5em;
      max-width: 14em;
      margin: 2em auto;
      padding-bottom: .5em;

      @include bp-max($medium-2) {
        font-size: 2em;
      }

      strong {
        color: $yellow;
      }
    }
  }

  #slide-03 {
    background-color: $black;
    color: $white;

    h2 {
      font-family: $font-body;
      font-size: 2.25em;
      font-weight: 700;
      color: #f04e24;

      @include bp-max($medium-2) {
        font-size: 1.75em;
      }
    }

    p {
      font-size: 1.75em;
      margin-top: 0;

      @include bp-max($medium-2) {
        font-size: 1.25em;
      }
    }

    img {
      max-height: 100%;
    }

    .bottom {
      bottom: 0;
    }
  }

  #slide-04 {
    background-color: $black;
    color: $white;

    .bottom {
      bottom: 0;
    }

    h2 {
      border-bottom: 3px solid $yellow;
      color: $white;
      font-family: $font-body;
      font-size: 2em;
      line-height: 1;
      margin-right: -.25em;
      padding-bottom: .75em;
      padding-right: 1em;

      @include bp-max($medium-2) {
        font-size: 1.25em;
      }

      span {
        color: $yellow;
        display: block;
        font-size: 1.1em;
        font-weight: 700;

        @include bp-max($medium-2) {
          font-size: 1.1em;
        }
      }

      strong {
        display: block;
        font-size: 2.5em;
        padding-bottom: 0;
        padding-top: 0;
        text-transform: uppercase;

        @include bp-max($medium-2) {
          font-size: 2.5em;
        }
      }
    }

    img {
      max-height: 100%;
    }
  }

  #slide-05 {
    background-color: $blue;
    color: $white;

    h2 {
      color: $white;
      font-size: 2.25em;
    }

    img {
      @include bp-max($medium-2) {
        max-width: 5em;
      }
    }
  }

  #slide-06 {
    .hotspot {
      position: absolute;

      @include bp-max($medium-2) {
        display: none;
      }

      a {
        background-color: $white;
        border: 1px solid $gray-light;
        border-radius: .75em;
        color: $green;
        display: block;
        font-size: 3em;
        height: 44px;
        line-height: .5;
        text-decoration: none;
        width: 44px;
        text-align: center;
        transition: all .5s;

        &:visited {
          color: $green;
        }

        &:hover,
        &:focus {
          background-color: $green;
          color: $white;
          transition: all .5s;
        }

        .desc {
          display: block;
          text-indent: -9999px;
        }
      }
    }

    .hotspot-1 {
      top: 62%;
      left: 10%;
    }

    .hotspot-2 {
      top: 22%;
      left: 17%;
    }

    .hotspot-3 {
      top: 22%;
      left: 54%;
    }

    .hotspot-4 {
      top: 50%;
      left: 58%;
    }

    .hotspot-5 {
      top: 44%;
      left: 76%;
    }

    .hotspot-6 {
      top: 56%;
      left: 90%;
    }

    .hotspot-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: .5em 1em;

      @include bp($medium) {
        left: 13%;
        width: 75%;
      }

      h2 {
        font-size: 1.5em;
        line-height: 1.3;
        text-align: center;
      }
    }

    .small-lightbox-toggle {
      margin-top: 1em;

      @include bp($medium-2) {
        display: none;
      }
    }

    .office {
      background-color: $off-white-3;
      background-image: url('../img/ig-1-waitingroom-bg.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @include bp-max($medium-2) {
        background-position: center bottom;
        background-size: contain;
      }
    }
  }

  #slide-07 {
    background-color: $off-white;
    color: $black;

    h2 {
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 3em;
      text-align: center;

      @include bp-max($medium-2) {
        margin-top: 1em;
      }
    }

    h3 {
      color: $blue;
      font-size: 2em;
      margin-bottom: .5em;
      margin-top: 0;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .slide.off .btn-sharing,
  .slide.off .btn-start,
  .slide.off .hotspot,
  .backdrop-on .hotspot, {
    display: none;
  }
}

