nav {
  margin-bottom: 1em;
  margin-top: 0;

  @include bp-max($large) {
    padding-bottom: 1em;
  }

  ul {
    font-family: $font-header;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;

    &.closed {
      @extend %visually-hidden;
    }
  }

  li {
    border-bottom: 1px solid $off-white-2;
    position: relative;
  }

  a {
    display: block;
    padding: .5em 2.75em .5em 1em;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: lighten($green-light, 10%);
    }
  }
}

.section-title {
  color: $black;
  display: block;
}

.section-subtitle {
  color: $black-light;
  display: block;
  font-size: .8em;
  line-height: 1.5;
}

.subnav-toggle {
  display: block;
  //height: 2.35em;
  //line-height: 2.35;
  //padding: 0;
  position: absolute;
  right: .5em;
  text-align: center;
  top: 1em;
  //width: 2.35em;
}

.subnav {
  a {
    color: $black;
    font-family: $font-body;

    &:hover,
    &:focus {
      background-color: lighten($green-light, 10%);
    }
  }
}

.active {
  a {
    background-color: $white;
  }

  .subnav {
    outline: 0;

    li {
      border-bottom: 0;
    }

    a {
      background-color: $white;
      font-size: .75em;
      line-height: 1.5;
      padding-left: 1.5em;

      &:hover,
      &:focus {
        background-color: lighten($green-light, 10%);
      }
    }

    .active a,
    .now {
      background-color: lighten($green-light, 10%);
      font-weight: bold;
    }
  }

  &.has-subnav {
    border: 1px solid $green;
  }
}

.current {
  a {
    background-color: $green-light;
  }
}

.references {
  a {
    @extend %word-wrap;
  }
}

.footer {
  border-top: 2px solid $gray-light;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 2em;

  .home & {
    border-top: 0;
    margin-top: 0;
  }

  .footer-links {
    float: left;

    a {
      color: $black;
      font-size: .9em;
      margin-right: 1em;
      text-decoration: none;

      &:visited {
        color: $black;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .footer-logos {
    clear: left;
    float: left;
    margin-top: 0;

    @include bp($large-2) {
      clear: none;
      float: right;
      text-align: right;
    }

    a {
      margin-right: .5em;

      @include bp($large-2) {
        margin-left: 1em;
        margin-right: 0;
      }
    }
  }
}

.sticky-header {
  background-color: $white;
  //padding-bottom: 0;
  padding-top: 0;
  z-index: 1;

  h2 {
    font-size: 2.5em;
  }

  .section-number {
    border: 1px solid $black;
    border-radius: 3em;
    display: block;
    float: left;
    font-size: .8em;
    height: 2.25em;
    padding: .35em .5em;
    margin-right: .5em;
    margin-top:-.25em;
    width: 2.25em;
  }

  .btn-print {
    display: none;
  }
}

.stickOnScroll-on {
  background-color: $green;
  color: $black;

  .btn-print {
    display: inline-block;
    float: right;
    margin-top: .65em;
  }

  h2 {
    color: $black;
    font-size: 1.5em;
    float: left;
    margin-top: .5em;
  }
}
