nav {
  margin-bottom: 1em;
  margin-top: 0;

  @include bp-max($large) {
    padding-bottom: 1em;
  }

  ul {
    font-family: $font-header;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;

    &.closed {
      @extend %visually-hidden;
    }
  }

  li {
    border-bottom: 1px solid $gray;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    padding: .5em 1em;
    text-decoration: none;

    &:hover {
      background-color: darken($off-white, 5%);
    }
  }
}

.section-title {
  color: $black;
  display: block;
}

.section-subtitle {
  color: $black-light;
  display: block;
  font-size: .9em;
}

.subnav-toggle {
  display: block;
  //height: 2.35em;
  //line-height: 2.35;
  //padding: 0;
  position: absolute;
  right: .5em;
  text-align: center;
  top: .5em;
  //width: 2.35em;
}

.active {
  a {
    background-color: $green-light;
  }

  .subnav {
    li {
      border-bottom: 1px solid $gray;
    }

    a {
      font-size: .9em;
      padding-left: 1.5em;
    }
  }
}

.references {
  a {
    @extend %word-wrap;
  }
}
