nav {
  margin-bottom: 1em;
  margin-top: 0;

  @include bp-max($large) {
    padding-bottom: 1em;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;

    &.closed {
      @extend %visually-hidden;
    }
  }

  li {
    border-bottom: 1px solid $gray;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    padding: .5em 1em;
    text-decoration: none;

    &:hover {
      background-color: darken($off-white, 5%);
    }
  }
}

.subnav-toggle {
  display: block;
  height: 2.35em;
  line-height: 2.35;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.35em;
}

.active {
  a {
    background-color: $green-light;
  }

  .subnav {
    li {
      border-bottom: 1px solid $gray;
    }

    a {
      font-size: .9em;
      padding-left: 1.5em;
    }
  }
}
