.full-bleed {
  background-color: $code;
  padding-bottom: .5em;
  padding-top: 1em;
}

.home-block {
  background-color: $off-white;
  background-image: url('../img/bg-home.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5em;
  padding-top: 2em;
}

.case-block {
  background-color: $off-white;
  margin-bottom: 1.5em;
  margin-top: 1em;
  padding-bottom: 1.5em;
  padding-top: 2em;
}

.pagination {
  a {
    border: 1px solid $off-white;
    display: inline-block;
    padding: .25em .5em;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $off-white;
    }

    &.current {
      background-color: $off-white;
      color: $black;
    }

    span {
      color: inherit;
    }
  }

  span {
    color: $gray;
  }
}

.panel {
  background-color: $off-white;
  border: 1px solid $off-white;
  padding: .5em 1em;

  p {
    margin-bottom: .5em;
    margin-top: .5em;
  }
}

.breadcrumb {
  margin-bottom: .4em;
  margin-top: .4em;

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    display: inline;
    padding-right: .25em;

    &:after {
      color: $gray;
      content: '\0020\00BB';
      padding-left: .25em;
    }

    &:last-child:after {
      content: none;
    }
  }
}

.search {
  background-color: $off-white;
}

.search-nav {
  padding: .75em;
}

.search-label {
  font-weight: 400;
  margin-bottom: 0;
}

.search-button {
  background-color: $blue;
  border: 0;
  border-radius: 0;
  color: $white;
  display: block;
  float: right;
  padding: 0;

  img {
    display: block;
    height: 1.65em;
    padding: .2em;
    width: 1.6em;
  }
}

.search-block {
  margin-bottom: 1em;
  margin-top: 1em;
}

.search-text {
  border: .1em solid $gray;
  border-radius: 0;
  border-right: 0;
  font-size: 1em;
  height: 1.65em;
  margin-right: -1em;
  padding: .15em .25em;
  width: 12em;
}

.callout,
.chapter-intro {
  background-color: $gray;
  font-family: $font-header-alt;
  padding-bottom: 0;

  h1,
  .h1,
  h2,
  .h2 {
    font-family: $font-header-alt;
  }
}

.chapter-intro {
  background-image: url('../img/bg-chapter.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3em;
  padding-top: 15em;
}

.callout {
  background-image: url('../img/bg-callout.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 25em;
  padding-top: 15em;
}

.chapter-intro-inner,
.callout-inner {
  background-color: rgba($black, .7);
  color: $white;
  padding: 1em 0 1em 1em;

  @include bp($medium) {
    margin-left: 1.5em;
  }
}

.chapter-intro-inner {
  @include bp($medium) {
    margin-left: 2.5em;
    padding-left: 1.5em;
  }
}

.chapter-number {
  color: $yellow;
  font-size: 1.4em;
  margin-bottom: 0;
}

.chapter-title {
  border-bottom: 3px solid $green;
  font-size: 2.5em;
  margin-top: 0;
  padding-bottom: .4em;
}

.underlined {
  border-bottom: 3px solid $green;
  font-size: 1.3em;
  padding-bottom: .5em;
  padding-right: .8em;
}

.callout-icon {
  border: 1px solid $yellow;
  color: $yellow;
  display: inline-block;
  font-size: 3em;
  padding: 0;
  text-align: center;

  span {
    display: block;
    margin: 0 0 -.4em;
    padding: 0 .15em;
  }
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid $black;
  border-radius: 4em;
  display: inline-block;
  height: 5em;
  text-indent: -999em;
  width: 5em;
}

.icon-computer {
  background-image: url('../img/icon-computer.png');
  background-size: 3.5em;
}

.icon-rx {
  background-image: url('../img/icon-rx.png');
  background-size: 1.5em;
}

.icon-portal {
  background-image: url('../img/icon-portal.png');
  background-size: 3em;
}

.btn {
  background-color: $white;
  background-image: none;
  border: 1px solid $green-dark;
  border-radius: .25em;
  color: $green-dark;
  cursor: pointer;
  display: inline-block;
  font-family: $font-header;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
  padding: .4em .75em;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-chapter {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }

  &:active {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.btn-search {
  background-image: url('../img/icon-search.png');
  background-position: 85% center;
  background-repeat: no-repeat;
  background-size: 1em;
  border: 1px solid $blue-dark;
  color: $blue-dark;
  padding-right: 2em;

  &:hover,
  &:focus {
    background-color: $blue-dark;
    background-image: url('../img/icon-search-hover.png');
    border-color: $blue-dark;
    color: $white;
  }

  &:active {
    background-color: $blue-dark;
    background-image: url('../img/icon-search-hover.png');
    border-color: $blue-dark;
    color: $white;
  }
}

.btn-large {
  font-size: 1.25em;
  padding: .35em 1.5em;
}

.btn-small {
  font-size: .8em;
  padding: .25em .75em;
}

.btn-dark {
  background-color: $black;
  border-color: $black;
  color: $white;

  &:hover,
  &:focus {
    background-color: $gray;
    border-color: $gray;
    color: $white;
  }

  &:active {
    background-color: $black;
    border-color: $gray;
    color: $white;
  }
}

.btn-arrow {
  border-color: $green-dark;
  color: $green-dark;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  padding: .4em;
  text-align: center;
  width: 1.8em;
}

.header .btn-arrow {
  background-color: $white;

  &:visited {
    background-color: $white;
    border-color: $green-dark;
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

// match base and hover state to avoid
// stuck hover state on touch devices
.btn-touch {
  background-color: $white;
  border-color: $blue;
  color: $blue;
  padding-left: 1em;
  padding-right: 1em;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: .25em;
  }
}

.btn-landing {
  background-color: $blue-dark;
  color: $white;
  display: block;
  font-size: 1.2em;
  margin: .75em 0;
  padding: 1.5em 3em 1.5em 1em;
  position: relative;
  text-decoration: none;

  .section-title {
    color: $white;
    display: block;
    font-family: $font-header
  }

  .btn-arrow {
    background-color: transparent;
    position: absolute;
    right: 1em;
    top: 35%;
  }

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $black;
    color: $white;

    .section-title {
      color: $yellow;
    }

    .btn-arrow {
      background-color: $green;
      border-color: $white;
      color: $white;

    }
  }
}

.next {
  margin: 3em 0;

  .btn-chapter {
    font-size: 1.4em;
    padding: .75em 1.5em;
  }
}

.sharing {
  background-color: rgba($black, .5);
  border-top: 0;
  padding: .5em;
  position: absolute;
  right: 1em;
  top: 0;
  z-index: 1;
}

.btn-sharing {
  border: 2px solid rgba($black, 0);
  border-radius: .875em;
  display: inline-block;
  height: 1.75em;
  text-indent: -9999px;
  width: 1.75em;

  &:hover {
    border: 2px solid $green;
  }
}

.btn-facebook {
  background-image: url('../img/icon-facebook.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-twitter {
  background-image: url('../img/icon-twitter.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-linkedin {
  background-image: url('../img/icon-linkedin.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-google {
  background-image: url('../img/icon-google.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

// Pattern library color blocks
.colorblock {
  border: 1px solid $black;
  margin-bottom: 1.5em;
  padding: .5em 1em;

  @include bp($medium) {
    float: left;
    margin-right: 1%;
    min-height: 10em;
    width: 15%;
  }
}

.color {
  height: 4em;
  margin: -.5em -1em 0;
}
