.full-bleed {
  background-color: $code;
  padding-bottom: .5em;
  padding-top: 1em;
}

.home-block {
  background-color: $off-white;
  background-image: url('../img/bg-home.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5em;
  padding-top: 2em;
}

.case-block {
  background-color: $gray-lightest;
  margin-bottom: 1.5em;
  margin-top: 1em;
  padding-bottom: 3.5em;
  padding-top: 3.75em;

  & + .case-block {
    margin-top: -1.5em;
  }
}

.ftf-block {
  @extend %clearfix;
  background-color: $white;
  box-shadow: .15em .15em .25em rgba($gray, .25);
  padding: 0 3em 1em;

  @include bp-max($medium-2) {
    padding-left: 1em;
    padding-right: 1em;
  }

  .ftf-title {
    background-image: url('../img/icon-gear-small.png');
    background-position: left center;
    background-repeat: no-repeat;

    border-bottom: 1px solid $gray-light;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 3.75em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;

    @include bp($medium-2) {
      margin-left: -1em;
      margin-right: -1em;
    }

    h3 {
      font-weight: 400;
      padding-top: .5em;
      padding-bottom: .5em;
      margin-top: 0;
      margin-bottom: 0;
    }

    span {
      color: $gray-darkest;
      font-weight: 400;
    }
  }
}

.quote-block {
  background-color: $blue;
  border-bottom: 5px solid $blue-dark;
  border-radius: .25em;
  color: $white;
  padding: 1em;
  margin-top: 1em;

  .quote-icon {
    display: block;
    margin: .25em auto;
  }

  .quote-content {
    font-family: $font-header-alt;
    text-align: center;
    padding-left: 1em;
  }

  .quote-source {
    font-family: $font-body;
    font-size: 80%;
    text-align: left;
    padding-left: 1em;
  }
}

.quote-left {
  @include bp($medium) {
    float: left;
    margin-bottom: 1em;
    margin-right: 1.5em;
    margin-top: 0;
    width: 16em;
  }
}

.quote-right {
  @include bp($medium) {
    float: right;
    margin-bottom: 1em;
    margin-left: 1.5em;
    width: 16em;
  }
}

.quote-wide {
  margin-top: 2em;
  margin-bottom: 2em;

  .quote-icon {
    float: left;
    margin-top: .5em;

    @include bp-max($medium) {
      float: none;
    }
  }

  .quote-content {
    //font-size: 1.2em;
    margin-left: 5em;
    text-align: left;

    @include bp-max($medium) {
      margin-left: 0;
    }

    p {
      margin-bottom: .5em;
    }
  }
}

.quote-light {
  background-color: $off-white;
  color: $black;
}

.quote-lighter {
  background-color: $white;
  color: $black;
}

.pagination {
  a {
    border: 1px solid $off-white;
    display: inline-block;
    padding: .25em .5em;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $off-white;
    }

    &.current {
      background-color: $off-white;
      color: $black;
    }

    span {
      color: inherit;
    }
  }

  span {
    color: $gray;
  }
}

.panel {
  background-color: $off-white;
  border: 1px solid $off-white;
  padding: .5em 1em;

  p {
    margin-bottom: .5em;
    margin-top: .5em;
  }
}

.breadcrumb {
  margin-bottom: .4em;
  margin-top: .4em;

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    display: inline;
    padding-right: .25em;

    &:after {
      color: $gray;
      content: '\0020\00BB';
      padding-left: .25em;
    }

    &:last-child:after {
      content: none;
    }
  }
}

.search {
  background-color: $off-white;
}

.search-nav {
  @extend %clearfix;
  padding: .75em 1.25em;
}

.search-label {
  display: block;
  float: left;
  font-family: $font-header;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: .25em;
  width: 25%;
}

.search-block {
  background-color: $white;
  border: 1px solid #e4e4e5;
  border-radius: .25em;
  display: block;
  float: right;
  width: 75%;
  position: relative;

  .search-text {
    background-color: transparent;
    border: 0;
    height: 1.5em;
    padding-left: .3em;
    width: 85%;

    &:focus {
      border: 1px solid $blue;
      outline: 0;
    }
  }

  .search-button {
    background-color: $blue;
    border: 1px solid $blue;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    font-family: $font-header;
    height: 1.5em;
    position: absolute;
    right: 0;
    width: 15%;
    padding: 0;
    margin: 0;

    &:hover {
      background-color: lighten($blue, 5%);

      img {
        background-color: lighten($blue, 5%);
      }
    }

    img {
      background-color: $blue;
      display: block;
      height: 1.25em;
      width: 1.35em;
      margin: 0 auto;
      padding: 0;
    }
  }
}

.callout,
.chapter-intro {
  background-color: $gray;
  font-family: $font-header-alt;
  padding-bottom: 0;

  h1,
  .h1,
  h2,
  .h2 {
    font-family: $font-header-alt;
  }
}

.chapter-intro {
  margin-bottom: 3em;
  padding-top: 20em;
}

.bg-intro {
  background-image: url('../img/bg-intro.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-1 {
  background-image: url('../img/bg-chapter-1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-2 {
  background-image: url('../img/bg-chapter-2.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-3 {
  background-image: url('../img/bg-chapter-3.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-4 {
  background-image: url('../img/bg-chapter-4.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-references {
  background-image: url('../img/bg-references.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout {
  background-image: url('../img/bg-callout-1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 25em;
  padding-top: 15em;

  .side-icon {
    font-size: 90%;
    background-image: url('../img/icon-check-gray-small.png');
    background-position: left .25em;
    background-repeat: no-repeat;
    padding-left: 3em;
  }

  .icon-test-tube {
    background-image: url('../img/icon-test-tube.png');
  }

  .icon-envelope {
    background-image: url('../img/icon-envelope.png');
  }
}

.callout-2 {
  background-image: url('../img/bg-callout-2.jpg');
}

.chapter-intro-inner,
.callout-inner {
  background-color: $black;
  background-color: rgba($black, .7);
  color: $white;
  padding: 1em 0 1em 1em;

  @include bp($medium) {
    margin-left: 1.5em;
  }
}

.chapter-intro-inner {
  @include bp($medium) {
    margin-left: 2.5em;
    padding-left: 1.5em;
  }
}

.chapter-number {
  color: $yellow;
  font-size: 1.4em;
  margin-bottom: 0;
}

.chapter-title {
  border-bottom: 3px solid $green;
  font-size: 2.5em;
  margin-top: 0;
  padding-bottom: .4em;
}

.underlined {
  border-bottom: 3px solid $green;
  font-size: 1.125em;
  padding-bottom: .5em;
  padding-right: .8em;

  p {
    font-size: 90%;
  }

  strong {
    color: $yellow;
  }
}

.callout-icon {
  border: 1px solid $yellow;
  color: $yellow;
  display: inline-block;
  font-size: 2em;
  padding: 0;
  text-align: center;

  span {
    display: block;
    margin: 0 0 -.4em;
    padding: 0 .15em;
  }
}

.callout-mild {
  background-color: $off-white;
  border-bottom: 3px solid $blue;
  border-radius: .25em;
  font-size: 90%;
  margin-top: 1em;
  padding: .5em 1em;
}

.callout-right {
  @include bp($medium) {
    clear: right;
    float: right;
    margin-bottom: 1em;
    margin-left: 1.5em;
    width: 16em;
  }
}

.callout-left {
  @include bp($medium) {
    clear: left;
    float: left;
    margin-bottom: 1em;
    margin-right: 1.5em;
    width: 16em;
  }
}

.expand-block {
  @include bp($sidebar-switch-point) {
    float: right;
    margin-bottom: 1em;
    margin-left: 1.5em;
    width: 16em;
  }

  .expand-image {
    position: relative;

    img {
      border: 1px solid $gray-light;
    }
  }

  .expand-control {
    background-color: $black-light;
    background-image: url('../img/icon-expand-small.png');
    background-position: 5% center;
    background-repeat: no-repeat;
    color: $white;
    font-size: .9em;
    padding: .25em .5em .25em 2em;
    position: absolute;
    bottom: 0;
    right: 1px;
    text-decoration: none;
    transition: all .4s;

    @include bp-max($sidebar-switch-point) {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
      transition: all .4s;
    }
  }

  .caption {
    border-bottom: 3px solid $green;
    font-size: .9em;
    padding-bottom: .25em;
  }
}

.myth-block {
  background-color: $black;
  border-radius: .25em;
  color: $white;
  margin-top: 1em;
  padding: .5em 1em;

  .myth-title {
    border-bottom: 2px solid $green;
    padding-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
  }

  .myth,
  .reality {
    padding: .25em .5em;
    border-radius: .25em;
  }

  .versus {
    background-image: url('../img/icon-vs-small.png');
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.75em;
    text-indent: -9999px;
    width: 2em;
  }

  .myth-control {
    font-family: $font-body;
    margin-bottom: 0;
    text-align: center;

    button {
      background-color: $black;
      border: 1px solid $green;
      border-radius: .25em;
      color: $green;
      padding: .25em .5em;
      transition: all .4s;

      &:hover,
      &:focus {
        background-color: $white;
        border-color: $black;
        color: $black;
        transition: all .4s;
      }
    }
  }

  .myth-content,
  .reality-content {
    font-family: $font-header-alt;
    transition: all 1s;

    p {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 1em;
    }
  }
}

.myth-subhead {
  display: none;
}

.myth-right {
  @include bp($medium) {
    float: right;
    margin-bottom: 1em;
    margin-left: 1.5em;
    width: 16em;
  }
}

.myth-on {
  .myth {
    background-color: $gray-light;
    color: $black;
    transition: all .75s;
  }

  .reality-content,
  .reality-content .myth-control  {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.myth-off {
  .reality {
    background-color: $gray-light;
    color: $black;
    transition: all .75s;
  }

  .myth-content,
  .myth-content .myth-control {
    max-height: 0;
    opacity: 0;
    visibility: hidden;

  }
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid $black;
  border-radius: 4em;
  display: inline-block;
  height: 5em;
  text-indent: -999em;
  width: 5em;
}

.icon-computer {
  background-image: url('../img/icon-computer.png');
  background-size: 3.5em;
}

.icon-rx {
  background-image: url('../img/icon-rx.png');
  background-size: 1.5em;
}

.icon-portal {
  background-image: url('../img/icon-portal.png');
  background-size: 3em;
}

.btn {
  background-color: $white;
  background-image: none;
  border: 1px solid $green-dark;
  border-radius: .25em;
  color: $green-dark;
  cursor: pointer;
  display: inline-block;
  font-family: $font-header;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
  padding: .4em .75em;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-blue {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;

  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    border: 1px solid $white;
    color: $white;
  }
}

.btn-chapter {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }

  &:active {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.btn-search {
  background-image: url('../img/icon-search.png');
  background-position: 85% center;
  background-repeat: no-repeat;
  background-size: 1em;
  border: 1px solid $blue-dark;
  color: $blue-dark;
  padding-right: 2em;

  &:hover,
  &:focus {
    background-color: $blue-dark;
    background-image: url('../img/icon-search-hover.png');
    border-color: $blue-dark;
    color: $white;
  }

  &:active {
    background-color: $blue-dark;
    background-image: url('../img/icon-search-hover.png');
    border-color: $blue-dark;
    color: $white;
  }
}

.btn-large {
  font-size: 1.25em;
  padding: .35em 1.5em;
}

.btn-small {
  font-size: .8em;
  padding: .25em .75em;
}

.btn-dark {
  background-color: $black;
  border-color: $black;
  color: $white;

  &:hover,
  &:focus {
    background-color: $gray;
    border-color: $gray;
    color: $white;
  }

  &:active {
    background-color: $black;
    border-color: $gray;
    color: $white;
  }
}

.btn-arrow {
  border-color: $green-dark;
  color: $green-dark;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  padding: .4em .4em .35em;
  text-align: center;
  //width: 1.8em;
}

.sidebar .btn-arrow {
  background-color: $white;

  &:visited {
    background-color: $white;
    border-color: $green-dark;
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

// match base and hover state to avoid
// stuck hover state on touch devices
.btn-touch {
  background-color: $white;
  border-color: $blue;
  color: $blue;
  padding-left: 1em;
  padding-right: 1em;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: .25em;
  }
}

.btn-landing {
  background-color: $blue-dark;
  color: $white;
  display: block;
  font-size: 1.2em;
  margin: .75em 0;
  padding: 1.5em 3em 1.5em 1em;
  position: relative;
  text-decoration: none;

  .section-title {
    color: $white;
    display: block;
    font-family: $font-header-alt;
    font-size: 1.2em;
  }

  .btn-arrow {
    background-color: transparent;
    position: absolute;
    right: 1em;
    top: 35%;
  }

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $black;
    color: $white;

    .section-title {
      color: $yellow;
    }

    .btn-arrow {
      background-color: $green;
      border-color: $white;
      color: $white;

    }
  }
}

.btn-print {
  background-color: transparent;
  background-image: url('../img/icon-print.png');
  background-position: 5% center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: .25em;
  color: $white;
  font-family: $font-body;
  padding-left: 1.75em;
  padding-right: .25em;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    border: 2px solid $green;
  }
}

.next {
  margin: 3em 0;

  .btn-chapter {
    font-size: 1.4em;
    padding: .75em 1.5em;
  }
}

.sharing {
  background-color: $black;
  background-color: rgba($black, .5);
  border-top: 0;
  padding: .5em;
  position: absolute;
  right: 1em;
  top: 0;
  z-index: 1;
}

.btn-sharing {
  border: 2px solid transparent;
  border-radius: .875em;
  display: inline-block;
  height: 1.75em;
  text-indent: -9999px;
  width: 1.75em;

  &:hover {
    border: 2px solid $green;
  }
}

.btn-facebook {
  background-image: url('../img/icon-facebook.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-twitter {
  background-image: url('../img/icon-twitter.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-linkedin {
  background-image: url('../img/icon-linkedin.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-google {
  background-image: url('../img/icon-google.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

ul.checklist {
  list-style-type: none;
  margin-left: 1em;

  .check {
    background-image: url('../img/icon-check-gray-small.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    color: $black;
    display: block;
    float: left;
    height: 1em;
    margin-top: .25em;
    width: 1em;
  }

  .check-item {
    display: block;
    margin-left: 1.5em;
  }
}

.content-slider {
  position: relative;
  margin-bottom: 1.5em;

  .content-slide {
    display: none;
    text-align: center;
    min-height: 0;
    transition: all 1s;

    &.on {
      display: block;
      min-height: inherit;
      transition: all 1s;
    }
  }

  .content-slider-caption {
    min-height: 3.5em;
    margin-bottom: 0;
  }
}

.bordered {
  border: 1px solid $gray;
}

.circle-graph {
  display: block;
  margin: 0 auto;
  max-width: 9em
}

// Pattern library color blocks
.colorblock {
  border: 1px solid $black;
  margin-bottom: 1.5em;
  padding: .5em 1em;

  @include bp($medium) {
    float: left;
    margin-right: 1%;
    min-height: 10em;
    width: 15%;
  }
}

.color {
  height: 4em;
  margin: -.5em -1em 0;
}
