.skip {
  @extend %visually-hidden;

  &:focus {
    @include bp($medium-2) {
      position: static;
      display: inline-block;
      width: inherit;
      clip: none;
      height: inherit;
      overflow: visible;
      padding: .25em .5em;
      margin: .5em;
      top: 0;
    }
  }
}

.full-bleed {
  background-color: $code;
  padding-bottom: .5em;
  padding-top: 1em;
}

.home-block {
  background-color: $off-white;
  background-image: url('../img/bg-home.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5em;
  padding-top: 2em;

  @include bp-max($large) {
    padding-top: 3.5em;
  }
}

.case-block {
  background-color: $gray-lightest;
  margin-bottom: 1.5em;
  margin-top: 1em;
  padding-bottom: 3.5em;
  padding-top: 3.75em;

  & + .case-block {
    margin-top: -1.5em;
  }
}

.ftf-block {
  @extend %clearfix;
  background-color: $white;
  box-shadow: .15em .15em .25em $gray-trans-25;
  padding: 0 3em 1em;

  @include bp-max($medium-2) {
    padding-left: 1em;
    padding-right: 1em;
  }

  .ftf-title {
    background-image: url('../img/icon-gear-small.png');
    background-position: left center;
    background-repeat: no-repeat;

    border-bottom: 1px solid $gray;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 3.75em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;

    @include bp($medium-2) {
      margin-left: -1em;
      margin-right: -1em;
    }

    h3 {
      font-weight: 400;
      padding-top: .5em;
      padding-bottom: .5em;
      margin-top: 0;
      margin-bottom: 0;
    }

    span {
      color: $gray-dark;
      font-weight: 400;
    }
  }
}

.quote-block {
  background-color: $blue;
  border-bottom: 5px solid $blue-dark;
  border-radius: .25em;
  color: $white;
  padding: 1em;
  margin-top: 1em;

  .quote-icon {
    display: block;
    margin: .25em auto;
  }

  .quote-content {
    font-family: $font-header-alt;
    //text-align: center;
    padding-left: 1em;
  }

  .quote-source {
    font-family: $font-body;
    font-size: 80%;
    text-align: left;
    padding-left: 1em;
  }
}

.quote-left {
  @include bp($medium) {
    float: left;
    margin-bottom: 1em;
    margin-right: 1.5em;
    margin-top: 0;
    width: 16em;
  }
}

.quote-right {
  @include bp($medium) {
    float: right;
    margin-bottom: 1em;
    margin-left: 1.5em;
    width: 16em;
  }
}

.quote-wide {
  margin-top: 2em;
  margin-bottom: 2em;

  .quote-icon {
    float: left;
    margin-top: .5em;

    @include bp-max($medium) {
      float: none;
    }
  }

  .quote-content {
    //font-size: 1.2em;
    margin-left: 5em;
    text-align: left;

    @include bp-max($medium) {
      margin-left: 0;
    }

    p {
      margin-bottom: .5em;
    }
  }
}

.quote-light {
  background-color: $off-white;
  color: $black;
}

.quote-lighter {
  background-color: $white;
  color: $black;
}

.pagination {
  a {
    border: 1px solid $off-white;
    display: inline-block;
    padding: .25em .5em;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $off-white;
    }

    &.current {
      background-color: $off-white;
      color: $black;
    }

    span {
      color: inherit;
    }
  }

  span {
    color: $gray-dark;
  }
}

.panel {
  background-color: $off-white;
  border: 1px solid $off-white;
  padding: 1em;

  p {
    margin-bottom: .5em;
    margin-top: .5em;
  }
}

.breadcrumb {
  margin-bottom: .4em;
  margin-top: .4em;

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    display: inline;
    padding-right: .25em;

    &:after {
      color: $gray;
      content: '\0020\00BB';
      padding-left: .25em;
    }

    &:last-child:after {
      content: none;
    }
  }
}

.search {
  @extend %clearfix;
  background-color: $off-white;
  max-width: $sidebar-width;
  padding: .75em 1.25em;
}

.search-label {
  display: block;
  float: left;
  font-family: $font-header;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: .25em;
  width: 25%;
}

.search-block {
  background-color: $white;
  border: 1px solid $gray-lighter;
  border-radius: .25em;
  display: block;
  float: right;
  width: 75%;
  position: relative;

  .search-text {
    background-color: transparent;
    border: 0;
    height: 1.5em;
    padding-left: .3em;
    width: 85%;

    &:focus {
      border: 1px solid $blue;
      outline: 0;
    }
  }

  .search-button {
    background-color: $blue;
    border: 1px solid $blue;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    font-family: $font-header;
    height: 100%;
    position: absolute;
    right: 0;
    width: 15%;
    padding: 0;
    margin: 0;

    &:hover {
      background-color: $blue-light;

      img {
        background-color: $blue-light;
      }
    }

    img {
      background-color: $blue;
      display: block;
      width: 1.35em;
      margin: 0 auto;
      padding: 0;
    }
  }
}

.callout,
.chapter-intro {
  background-color: $gray;
  font-family: $font-header-alt;
  padding-bottom: 0;

  h1,
  .h1,
  h2,
  .h2 {
    font-family: $font-header-alt;
  }
}

.chapter-intro {
  margin-bottom: 3em;
  padding-top: 20em;
}

.bg-intro {
  background-image: url('../img/bg-intro.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-1 {
  background-image: url('../img/bg-chapter-1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-2 {
  background-image: url('../img/bg-chapter-2.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-3 {
  background-image: url('../img/bg-chapter-3.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-chapter-4 {
  background-image: url('../img/bg-chapter-4.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-references {
  background-image: url('../img/bg-references.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout {
  background-image: url('../img/bg-callout-1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 25em;
  padding-top: 15em;

  .side-icon {
    font-size: 90%;
    background-image: url('../img/icon-check-gray-small.png');
    background-position: left .25em;
    background-repeat: no-repeat;
    background-size: 2em;
    margin-bottom: 0;
    padding-bottom: 1em;
    padding-left: 3em;
  }

  .icon-test-tube {
    background-image: url('../img/icon-test-tube.png');
  }

  .icon-envelope {
    background-image: url('../img/icon-envelope.png');
  }
}

.callout-2 {
  background-image: url('../img/bg-callout-2.jpg');
}

.chapter-intro-inner,
.callout-inner {
  background-color: $black;
  background-color: $black-trans-80;
  color: $white;
  padding: 1em 0 1em 1em;

  @include bp($medium) {
    margin-left: 1.5em;
  }
}

.chapter-intro-inner {
  @include bp($medium) {
    margin-left: 2.5em;
    padding-left: 1.5em;
  }
}

.chapter-number {
  color: $yellow;
  font-size: 1.4em;
  margin-bottom: 0;
}

.chapter-title {
  border-bottom: 3px solid $green;
  font-size: 2.5em;
  margin-top: 0;
  padding-bottom: .4em;
}

.underlined {
  border-bottom: 3px solid $green;
  font-size: 1.125em;
  padding-bottom: .5em;
  padding-right: .8em;

  p {
    font-size: 90%;
  }

  strong {
    color: $yellow;
  }
}

.callout-icon {
  border: 1px solid $yellow;
  color: $yellow;
  display: inline-block;
  font-size: 2em;
  padding: 0;
  text-align: center;

  span {
    display: block;
    margin: 0 0 -.4em;
    padding: 0 .15em;
  }
}

.callout-mild {
  background-color: $off-white;
  border-bottom: 3px solid $blue;
  border-radius: .25em;
  font-size: 90%;
  margin-top: 1em;
  padding: .5em 1em;
}

.callout-right {
  @include bp($medium) {
    clear: right;
    float: right;
    margin-bottom: 1em;
    margin-left: 1.5em;
    width: 16em;
  }
}

.callout-left {
  @include bp($medium) {
    clear: left;
    float: left;
    margin-bottom: 1em;
    margin-right: 1.5em;
    width: 16em;
  }
}

.mythreality {
  background-color: $black;
  border-radius: .25em;
  color: $white;
  margin-top: 1em;
  padding: .5em 1em;

  .mythreality-header {
    border-bottom: 2px solid $green;
    list-style-type: none;
    margin: 0;
    padding: .5em 0;
    text-align: center;

    li {
      display: inline;
      line-height: 1.5em;

      &:first-child {

        a {
          background-color: $gray-lightest;
          color: $black;
          transition: all .3s;

          &[aria-selected=false] {
            background-color: transparent;
            color: $white;
          }

          &[aria-selected=true],
          &:hover,
          &:focus {
            background-color: $gray-lightest;
            color: $black;
            transition: all .3s;
          }
        }

        &:after {
          background-image: url('../img/icon-vs-small.png');
          background-position: center center;
          background-repeat: no-repeat;
          content: 'versus';
          display: inline-block;
          height: 1.75em;
          text-indent: -9999px;
          width: 2em;
        }
      }
    }

    a {
      border-radius: .25em;
      color: $white;
      padding: .25em .5em;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .3s;

      &[aria-selected=true],
      &:hover,
      &:focus {
        background-color: $gray-lightest;
        color: $black;
        transition: all .3s;
      }
    }
  }

  .versus {
    background-image: url('../img/icon-vs-small.png');
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.75em;
    text-indent: -9999px;
    width: 2em;
  }

  .mythreality-content {
    font-family: $font-header-alt;
    font-size: .9em;
    padding-top: .5em;

    &[aria-hidden=true] {
      display: none;
    }
  }

  .mythreality-subhead {
    display: none;
    font-weight: 700;
  }

  .mythreality-footer p,
  .mythreality-header p {
    font-family: $font-body;
    font-size: 1.125em;
    margin-bottom: .5em;
    text-align: center;
  }

  .mythreality-toggle {
    background-color: transparent;
    border: 1px solid $green;
    border-radius: .25em;
    color: $green;
    padding: .25em .5em .35em;
    text-decoration: none;
    transition: all .3s;

    &[aria-hidden=true] {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $white;
      border-color: transparent;
      color: $black;
      transition: all .3s;
    }
  }

  &.mythreality-right {
    @include bp($medium) {
      clear: right;
      float: right;
      margin-bottom: 1em;
      margin-left: 1.5em;
      width: 16em;
    }
  }
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid $black;
  border-radius: 4em;
  display: inline-block;
  height: 5em;
  text-indent: -999em;
  width: 5em;
}

.icon-computer {
  background-image: url('../img/icon-computer.png');
  background-size: 3.5em;
}

.icon-rx {
  background-image: url('../img/icon-rx.png');
  background-size: 1.5em;
}

.icon-portal {
  background-image: url('../img/icon-portal.png');
  background-size: 3em;
}

.btn {
  background-color: $white;
  background-image: none;
  border: 1px solid $green-dark;
  border-radius: .25em;
  color: $green-dark;
  cursor: pointer;
  display: inline-block;
  font-family: $font-header;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
  padding: .4em .75em;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  vertical-align: middle;
  white-space: nowrap;

  &:visited {
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-blue {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;

  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    border: 1px solid $white;
    color: $white;
  }
}

.btn-green {
  background-color: $green;
  border: 1px solid $black;
  color: $black;

  &:visited {
    color: $black;
  }

  &:hover {
    background-color: $green;
    border: 1px solid $white;
    color: $white;
  }

  &:focus {
    background-color: $green;
    border: 1px solid $white;
    color: $black;
    text-decoration: underline;
  }
}

.btn-dark {
  background-color: $black;
  border: 1px solid $white;
  color: $white;
  font-size: 1.25em;
  padding: .5em 1.5em;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
  }
}

.btn-chapter {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }

  &:active {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.btn-large {
  font-size: 1.25em;
  padding: .35em 1.5em;
}

.btn-small {
  font-size: .8em;
  padding: .25em .75em;
}

.btn-arrow {
  border-color: $green-dark;
  color: $green-dark;
  font-family: $font-header-alt;
  font-size: 1em;
  font-weight: 300;
  height: 1.5em;
  line-height: 1;
  padding: .5em;
  text-align: center;
  width: 1.5em;

  .current & {
    background-color: $white;
  }

  &:visited {
    background-color: $white;
    border-color: $green-dark;
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.sidebar .current .btn-arrow {
  background-color: $white;

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-landing .btn-arrow,
.btn-landing-tall .btn-arrow,
.btn-landing .btn-arrow-img,
.btn-landing-tall .btn-arrow-img {
  background-color: transparent;
  background-image: url('../img/icon-arrow-wh-r.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.25em;
  border-color: $white;
  color: $white;
  height: 2em;
  width: 2em;

  .ie8 & {
    background-image: url('../img/icon-arrow-wh-r.png');
  }

  &:visited {
    background-color: $white;
    border-color: $green;
    color: $green;
  }

  &:hover,
  &:focus {
    background-color: $green;
    background-image: url('../img/icon-arrow-gr-r.png');
    border-color: $green;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-arrow-img {
  background-image: url('../img/icon-arrow-gr-r.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.25em;
  border-color: $green-dark;
  color: $green-dark;
  font-family: $font-header-alt;
  font-size: 1em;
  font-weight: 300;
  height: 2em;
  line-height: 1;
  padding: .5em;
  text-align: center;
  text-indent: -9999px;
  width: 2em;

  .ie8 & {
    background-image: url('../img/icon-arrow-gr-r-sm.png');
  }

  &:visited {
    background-color: $white;
    border-color: $green-dark;
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    background-image: url('../img/icon-arrow-wh-r.png');
    border-color: $green-dark;
    color: $white;
    transition: all .4s;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-arrow-img-down {
  background-image: url('../img/icon-arrow-gr-d.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .8em;
  border-color: $green-dark;
  color: $green-dark;
  font-family: $font-header-alt;
  font-size: 1em;
  font-weight: 300;
  height: 1.5em;
  line-height: 1;
  padding: .5em;
  text-align: center;
  text-indent: -9999px;
  width: 1.5em;

  .ie8 & {
    background-image: url('../img/icon-arrow-gr-d-sm.png');
  }

  &:visited {
    background-color: $white;
    border-color: $green-dark;
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    background-image: url('../img/icon-arrow-gr-d.png');
    border-color: $green-dark;
    color: $white;
    transition: all .4s;

    .ie8 & {
      background-image: url('../img/icon-arrow-gr-d-sm.png');
    }
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-arrow-img-right {
  background-image: url('../img/icon-arrow-gr-r.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .8em;
  border-color: $green-dark;
  color: $green-dark;
  font-family: $font-header-alt;
  font-size: 1em;
  font-weight: 300;
  height: 1.5em;
  line-height: 1;
  padding: .5em;
  text-align: center;
  text-indent: -9999px;
  width: 1.5em;

  .ie8 & {
    background-image: url('../img/icon-arrow-gr-r-sm.png');
  }

  &:visited {
    background-color: $white;
    border-color: $green-dark;
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    background-image: url('../img/icon-arrow-gr-r.png');
    border-color: $green-dark;
    color: $white;
    transition: all .4s;

    .ie8 & {
      background-image: url('../img/icon-arrow-gr-r-sm.png');
    }
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

.btn-arrow-img-up {
  background-image: url('../img/icon-arrow-gr-u.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .8em;
  border-color: $green-dark;
  color: $green-dark;
  font-family: $font-header-alt;
  font-size: 1em;
  font-weight: 300;
  height: 1.5em;
  line-height: 1;
  padding: .5em;
  text-align: center;
  text-indent: -9999px;
  width: 1.5em;

  .ie8 & {
    background-image: url('../img/icon-arrow-gr-u-sm.png');
  }

  &:visited {
    background-color: $white;
    border-color: $green-dark;
    color: $green-dark;
  }

  &:hover,
  &:focus {
    background-color: $green;
    background-image: url('../img/icon-arrow-gr-u.png');
    border-color: $green-dark;
    color: $white;
    transition: all .4s;

    .ie8 & {
      background-image: url('../img/icon-arrow-gr-u-sm.png');
    }
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: $white;
    transition: all .4s;
  }
}

// match base and hover state to avoid
// stuck hover state on touch devices
.btn-touch {
  background-color: $white;
  border-color: $blue;
  color: $blue;
  padding-left: 1em;
  padding-right: 1em;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}

.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: .25em;
  }
}

.btn-landing,
.btn-landing-tall {
  background-color: $blue-home;
  border-radius: .25em;
  color: $white;
  display: block;
  font-size: 1.2em;
  font-family: $font-header;
  margin: .75em 0;
  padding: 1.5em 3.5em 1.5em 1em;
  position: relative;
  text-decoration: none;

  .section-title {
    color: $white;
    display: block;
    font-weight: 700;
    margin-bottom: .25em;
  }

  .btn-arrow,
  .btn-arrow-img {
    background-color: transparent;
    position: absolute;
    right: 1em;
    top: 35%;
  }

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $green;
    color: $black;

    .section-title {
      color: $black;
    }

    .btn-arrow {
      background-color: $white;
      border-color: transparent;
      color: $green;

    }
  }
}

.btn-landing-first {
  padding-bottom: 2em;
  padding-top: 2em;
}

.btn-landing-tall {
  @include bp($medium-2) {
    min-height: 7em;
  }
}

.btn-print {
  background-color: transparent;
  background-image: url('../img/icon-print.png');
  background-position: 5% center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: .25em;
  color: $white;
  font-family: $font-body;
  padding-left: 1.75em;
  padding-right: .25em;
  text-decoration: none;

  .sharing-footer & {
    background-image: url('../img/icon-print-black.png');
    color: $black;
  }

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    border: 2px solid $white;

    .sharing-footer & {
      color: $black;
      border-color: $black;
    }
  }
}

.next {
  margin: 3em 0;

  .btn-chapter {
    font-size: 1.4em;
    padding: .75em 1.5em;
  }
}

.content-slide-prev,
.content-slide-next,
.content-slide-restart {
  margin-bottom: .5em;
}

.sharing {
  background-color: $black;
  background-color: $black-trans-80;
  border-top: 0;
  padding: .5em;
  position: absolute;
  right: 1em;
  top: 0;
  z-index: 1;

  a {
    color: $white;

    &:visited {
      color: $white;
    }
  }
}

.sharing-home {
  background-color: transparent;
  margin-top: .5em;
}

.sharing-footer {
  padding: .5em;
  text-align: right;

  a {
    color: $black;

    &:visited {
      color: $black;
    }
  }
}

.btn-sharing {
  border: 2px solid transparent;
  border-radius: .875em;
  display: inline-block;
  height: 1.75em;
  text-indent: -9999px;
  text-align: left;
  width: 1.75em;

  &:hover {
    border: 2px solid $white;

    .sharing-footer & {
      border: 2px solid $black;
    }
  }
}

.btn-facebook {
  background-image: url('../img/icon-facebook.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-facebook-large {
  background-image: url('../img/icon-facebook-large.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.875em;
  height: 3.75em;
  width: 3.75em;
}

.btn-twitter {
  background-image: url('../img/icon-twitter.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-twitter-large {
  background-image: url('../img/icon-twitter-large.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.875em;
  height: 3.75em;
  width: 3.75em;
}

.btn-linkedin {
  background-image: url('../img/icon-linkedin.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-linkedin-large {
  background-image: url('../img/icon-linkedin-large.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.875em;
  height: 3.75em;
  width: 3.75em;
}

.btn-email {
  background-image: url('../img/icon-email.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

ul.checklist {
  list-style-type: none;
  margin-left: 1em;

  .check {
    background-image: url('../img/icon-check-gray-small.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    color: $black;
    display: block;
    float: left;
    height: 1em;
    margin-top: .25em;
    width: 1em;
  }

  .check-item {
    display: block;
    margin-left: 1.5em;
  }
}

.content-slider-block {
  background-color: $white;
  border: 1px solid $gray;
  padding: 1em;
  position: relative;
  margin-bottom: 1.5em;

  .content-slide {
    display: none;
    text-align: center;
    min-height: 0;
    transition: all 1s;

    &:focus {
      outline: 0;
    }

    &.on {
      display: block;
      min-height: inherit;
      transition: all 1s;
    }

    img {
      background-color: $white;
      border: 3px solid $white;
    }
  }

  .limit {
    display: none;
  }

  .content-slider-caption {
    color: $black;
    min-height: 3.5em;
    margin-bottom: 0;
  }
}

.bordered {
  margin-top: 1em;
  border: 1px solid $gray;
}

.circle-graph {
  display: block;
  margin: 0 auto;
  max-width: 9em;
}

.circle-graph-caption {
  font-size: 1em;
  margin-top: 1.35em;
  text-align: center;
}

.icon-block {
  @include bp($medium) {
    padding-left: 2em;
    padding-right: 2em;
  }

  p {
    background-image: url('../img/icon-test-tube.png');
    background-position: left .75em;
    background-repeat: no-repeat;
    border-bottom: 1px solid $off-white;
    padding-top: 1em;
    padding-left: 4.5em;
    padding-bottom: 2em;

    &:last-child {
      border-bottom: 0;
    }

    &.icon-person {
      background-image: url('../img/icon-person.png');
    }

    &.icon-medication {
      background-image: url('../img/icon-medication.png');
    }

    &.icon-share {
      background-image: url('../img/icon-share.png');
    }

    &.icon-smartphone {
      background-image: url('../img/icon-smartphone.png');
    }

    &.icon-glucose-meter {
      background-image: url('../img/icon-glucose-meter.png');
    }

    span {
      color: $green-dark;
    }
  }
}

.tech-first {
  color: $black;
  font-weight: 400;
  display: block;
  text-align: center;
  margin-bottom: 0.125em;
  font-size: 2.5em;
}

.tech-numbers {
  font-size: 2em;
  font-weight: 400;
  color: $black;
  line-height: 1;

  strong {
    color: $blue;
    font-size: 2.5em;
  }
}

.tech-block {
  border: 1px solid $gray;
  margin-bottom: 1.5em;
}

.tech {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2em;

  @include bp($medium-2) {
    padding-left: 2em;
    padding-right: 2em;
  }

  p {
    background-position: left 1em;
    border-bottom: 0;
    border-top: 1px solid $off-white;
    padding-top: 2em;
    padding-left: 6em;
    margin-bottom: 0;
    margin-top: 0;

    span {
      color: $blue;
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}

.tech-people {
  max-width: 95%;
}


// Styleguide
.colorblock {
  border: 1px solid $black;
  margin-bottom: 1.5em;

  @include bp($medium) {
    min-height: 10em;
  }
}

.color {
  height: 4em;
  margin: 0 -1em;
}

h3.styleguide {
  margin-bottom: .5em;
}

.styleguide .page {
  margin-bottom: 5em;
}

.yes { color: $green-dark; }
.no { color: $red; }
.exception { color: $blue; }
.example {
  display: block;
  padding-left: 1em;
}
