// https://github.com/h5bp/html5-boilerplate/blob/5.3.0/dist/doc/css.md#print-styles

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
    outline: 0 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  // Don't show links for images, or javascript/internal links
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .header a:after,
  .references a:after {
    content: '' !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm 1cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .page {
    overflow: visible;
  }

  .header,
  .site-bar {
    position: relative;
  }

  .chapter-intro {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
  }

  .chapter-title {
    border-bottom: 2px solid $black;
  }

  .myth-block {
    color: $black;
    float: none !important;
    width: inherit !important;

    .myth-content,
    .reality-content {
      max-height: inherit !important;
      opacity: 1 !important;
      visibility: visible !important;
    }

    .myth-subhead {
      display: block;
    }
  }

  .page {
    margin-top: 0 !important;
  }

  nav,
  .site-menu,
  .search,
  .nav-logo,
  .next,
  .comments,
  .footer,
  .myth-control {
    display: none;
  }
}
