// https://github.com/h5bp/html5-boilerplate/blob/5.3.0/dist/doc/css.md#print-styles

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: $black-print !important; // Black prints faster: h5bp.com/s
    outline: 0 !important;
    text-shadow: none !important;
  }

  body {
    font-size: 100% !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  // Don't show links for images, or javascript/internal links
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .header a:after,
  .references a:after,
  .home-block a:after,
  .site-name a:after,
  sup a:after {
    content: '' !important;
  }

  pre,
  blockquote {
    border: 1px solid $gray;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm 1cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .page {
    overflow: visible;
  }

  .header,
  .site-menu,
  .mobile-menu {
    position: relative;
  }

  .content {
    max-width: inherit;
    padding-left: 0;
    padding-right: 0;
  }

  .chapter-intro {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
  }

  .chapter-title {
    border-bottom: 2px solid $gray;
    font-size: 2em;
  }

  .case-block {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
  }

  .section-block {
    padding-top: 3em;
  }

  .icon-block {
    p {
      padding: 0 0 .75em;

      span {
        font-weight: bold;
      }
    }
  }

  .tech {
    padding: 1em 3em;
    margin-bottom: 0;
  }

  .ftf-block {
    border: 1px solid $gray;
    padding-left: 1em;
    padding-right: 1em;

  }

  .ftf-title {
    padding-left: 0 !important;
  }

  .checklist {
    .check {
      border: 1px solid $black;
      display: block;
      float: left;
      height: 1em;
      margin-right: .5em;
      margin-top: .25em;
      padding-right: 0;
      text-indent: -999px;
      width: 1em;
    }
  }

  .quote-block {
    border: 1px solid $gray;

    .quote-content {
      margin-left: 0;
    }

    .quote-icon {
      display: none;
    }
  }

  .recap .section-number:before {
    font-family: $font-body;
    color: $green;
    content: "\2713";
  }

  .is_stuck {
    position: relative !important;
    width: inherit !important;
    top: inherit !important;

    + div {
      position: relative !important;
      height: inherit !important;
      width: inherit !important;
      top: inherit !important;
    }

    h2 {
      padding-top: .25em;
    }

    .section-number {
      border: 1px solid $black;
      border-radius: 3em;
      display: block;
      float: left;
      font-size: .8em;
      height: 2.25em;
      padding: .35em .5em;
      margin-right: .5em;
      margin-top:-.15em;
      text-align: center;
      width: 2.25em;
    }
  }

  .sticky-header h2,
  .recap {
    float: none !important;
    font-size: 2em !important;
  }

  .content-slide {
    display: block !important;
    min-height: inherit !important;
  }

  .page {
    margin-top: 0 !important;
  }

  .circle-graph {
    max-width: 9em !important;
  }

  .mythreality {
    border: 1px solid $gray;
    margin: 1.5em 0;

    .mythreality-header,
    .mythreality-footer {
      display: none;
    }

    .mythreality-content,
    .mythreality-subhead {
      display: block !important;
    }
  }

  .callout {
    max-width: inherit;
    padding: 0;

    .callout-inner {
      padding: 0;
    }

    .callout-icon {
      display: none;
    }

    .side-icon {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 0;

      &:before {
        content: '\2605\00a0';
      }
    }

    .underlined {
      border: none;
    }
  }

  nav,
  .site-menu,
  .search,
  .nav-logo,
  .next,
  .comments,
  .footer,
  .btn-print,
  .sidebar,
  .content-slider-control {
    display: none !important;
  }
}
