// SurveyMonkey

.smcx-embed {
  width: 100% !important;
  max-width: 100% !important;
  height: 939px !important;
}

.smcx-embed>.smcx-iframe-container {
  width: 100% !important;
  max-width: 100% !important;
  height: 910px !important;
}

.survey-body {
    padding: 0 !important;
}

.survey-page {
    min-width: 100% !important;
    width: 100% !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
}
