body {
  color: $black;
  font-family: $font-body;
  font-size: 100%;
  font-weight: 300;

  @include bp-max($small) {
    font-size: 95%;
  }

  @include bp($xxlarge) {
    font-size: 110%;
  }
}

.font-header { font-family: $font-header; }
.font-header-alt { font-family: $font-header-alt; }
.font-body { font-family: $font-body; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-700 { font-weight: 700; }

a {
  color: $link;

  &:visited {
    color: $link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $link-hover;
  }
}

.header {
  a {
    &:visited {
      color: inherit;
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-header;
  font-weight: 400;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 2.125em;
  line-height: 1.2;
  margin-bottom: .25em;
  margin-top: .75em;
}

h2,
.h2 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: .25em;
  margin-top: .75em;
}

h3,
.h3 {
  font-family: $font-body;
  font-size: 1.35em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: .5em;
}

h4,
.h4 {
  font-size: 1.3125em;
  line-height: 1.333em;
  margin-bottom: .25em;
  margin-top: .75em;
}

h5,
.h5 {
  font-size: 1.25em;
  line-height: 1.333em;
  margin-bottom: .25em;
  margin-top: .75em;
}

h6,
.h6 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: .25em;
  margin-top: 1em;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: .5em;
}

.subhead {
  margin-top: 0;
}

.lead {
  font-size: 1.25em;
}

.smaller {
  font-size: .875em;
}

ul,
ol {
  margin: .25em 0 .75em 2em;
  padding: 0;

  ul,
  ol {
    margin-bottom: 0;
    margin-top: 0;
  }

}

ul {
  list-style-type: disc;
}

p + ul {
  margin-bottom: 1.5em;
  margin-top: -.5em;
}

li {
  font-size: 1.2em;
  line-height: 1.5em;
}

dl {
  margin-bottom: 1em;
}

dt,
dd {
  line-height: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5em;
  margin-left: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

blockquote {
  border-left: 1px solid $off-white;
  color: $black-light;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
}

pre,
code {
  background-color: $code;
  border: 1px solid $off-white;
  border-radius: .25em;
  font-size: 1em;
}

code {
  padding: .1em .3em;
}

pre {
  overflow-x: scroll;
  padding: .5em .75em;

  > code {
    background-color: transparent; // prevent clipping
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.unstyled {
  list-style: none;
  margin-left: 0;
}

.inline {
  list-style: none;
  margin-left: 0;

  > li {
    display: inline-block;
    padding-left: .3em;
    padding-right: .3em;
    vertical-align: baseline;

    &:first-child {
      padding-left: 0;
    }
  }
}

.footnote {
  @extend %word-wrap;
  color: $gray;
  font-size: .8em;
}
