
$font-header:           'raleway', sans-serif;
$font-body:             'futura-pt', sans-serif;
$font-header-alt:       'museo-slab', serif;
$base-size:             16;

$white:                 #fff;
$black:                 #303133;
$black-light:           #505050;
$black-dark:            #181818;
$green:                 #61dab3;
$green-light:           lighten($green, 15%);
$green-dark:            darken($green, 10%);
$off-white:             #f0f6f9;
$off-white-2:           #f0f5fa;
$off-white-light:       #f8f9fa;
$off-white-dark:        #e3e4e4;
$blue:                  #1479bd;
$blue-light:            #72aedc;
$blue-dark:             #125d93;
$yellow:                #fecf00;
$yellow-light:          #fddc47;
$yellow-dark:           #fec609;
$gray:                  #b2ada7;
$gray-light:            #d1cec9;
$gray-dark:             #a39f99;
$purple:                #77008d;

$code:                  $off-white;


$link:                  $blue;
$link-visited:          $purple;
$link-hover:            darken($link, 5%);

$content-max-width:     55em; // 880px

$small:                 24em; // 384px
$small-2:               29.75em; // 476px
$small-3:               39.8em; // 637px
$medium:                46.8em; // 749px
$medium-2:              48em; // 768px
$large:                 50em; // 800px
$large-2:               60em; // 960px
$large-3:               66em; // 1056px
$xlarge:                73em; // 1168px
$xxlarge:               89em; // 1424px
$xxxlarge:              93em; // 1488px

$sidebar-switch-point:  $large-2;
$fixed-header-height:   3em; // 48px
$sidebar-width:         20.5em; // 328px
