
$font-header:           'raleway', sans-serif;
$font-body:             'sofia-pro', sans-serif;
$font-header-alt:       'museo-slab', serif;
$base-size:             16;

$white:                 #fff;
$white-trans-50:        rgba($white, .5);
$white-trans-70:        rgba($white, .7);
$black:                 #323232;
$black-print:           #000;
$black-trans-80:        rgba($black, .8);
$black-trans-15:        rgba($black, .15);
$green:                 #61dab3;
$green-dark:            #337b64;
$green-light:           #9fe9d1;
$green-lightest:        #c8f3e5;
$off-white:             #f0f6f9;
$gray-lighter:          #e4e4e5;
$blue:                  #1479bd;
$blue-light:            #1688d4;
$blue-dark:             #004b82;
$blue-dark-trans-80:    rgba($blue-dark, .8);
$blue-darker:           #001d5f;
$blue-darker-trans-80:  rgba($blue-darker, .8);
$yellow:                #fecf00;
$yellow-light:          #fddc47;
$gray:                  #b2ada7;
$gray-trans-25:         rgba($gray, .25);
$gray-lightest:         #f5f5f5;
$gray-dark:             #737373;
$purple:                #77008d;
$red:                   #ff4136;

$code:                  $off-white;
$link:                  $blue;
$link-visited:          $purple;
$link-hover:            darken($link, 5%);

$content-max-width:     55em; // 880px

$small:                 24em; // 384px
$small-2:               29.75em; // 476px
$small-3:               39.8em; // 637px
$medium:                46.8em; // 749px
$medium-2:              48.125em; // 770px
$medium-3:              50em; // 800px
$large:                 60em; // 960px
$large-2:               66em; // 1056px
$large-3:               73em; // 1168px
$xlarge:                89em; // 1424px
$xxlarge:               93em; // 1488px

$sidebar-switch-point:  $large;
$fixed-header-height:   3em; // 48px
$sidebar-width:         20.5em; // 328px
