---
layout: chapter
title: Chapter 3
permalink: /chapter-3/

next-title: "Chapter 4"
next-url: "/chapter-4/"

og-url: ""
og-title: "Enable Proxy Access"
og-description: ""
og-poster: ""
---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 3</p>
    <h1 class="chapter-title">Enable Proxy Access</h1>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="grid-12">

      <div class="section-header" id="intro"></div>
      <p>Chapter 3 content</p>
    </div>
  </div>
</div>

<div class="full-bleed section-block sticky-header">
  <div class="section-header" id="section-1"></div>
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2>Section 1</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      {% include block-next.html %}

      {% include block-comments.html %}
    </div>
  </div>
</div>
