---
layout: chapter
title: Chapter 1
permalink: /chapter-1/

next-title: "Chapter 2"
next-url: "/chapter-2/"
---

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 1</p>
    <h1 class="chapter-title">Faciliate easy enrollment</h1>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>Chapter 1 content</p>

      <h2 id="section-1">Section 1</h2>
      <h2 id="section-2">Section 2</h2>
      <h2 id="section-3">Section 3</h2>
      <h2 id="section-4">Section 4</h2>

      {% include block-next.html %}

      {% include block-comments.html %}
    </div>
  </div>
</div>
