---
layout: chapter
title: Chapter 3
permalink: /chapter-3/

next-title: "Chapter 4"
next-url: "/chapter-4/"

og-url: ""
og-title: ""
og-description: ""
og-poster: ""
---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro bg-chapter-3">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 3</p>
    <h1 class="chapter-title">Allow caregiver proxy access</h1>
  </div>
</div>

<div class="section-header" id="intro"></div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>Providers often struggle to navigate federal and state laws related to proxy access (allowing someone other than the patient to see a patient&rsquo;s health information). Laws like the Health Information Portability and Accountability Act (HIPAA) are designed to keep patients&rsquo; medical records and personal health information private and secure &mdash; but there are many situations in which a family member or other caregiver may need this information.</p>

      <p>Examples include:</p>
      <ul>
      <li>A parent of a child or adolescent</li>
      <li>An adult child or caregiver of an elderly parent</li>
      <li>A home health aide to a chronically ill patient</li>
      <li>A health care power of attorney responsible for an incapacitated patient&rsquo;s medical decisions and care</li>
      <li>Someone else the patient wants involved, like a spouse<sup><a href="{{ '/references/#footnote-32' | prepend: site.baseurl }}" id="footnote-ref32" aria-label="Footnote 32">32</a></sup></li>
      </ul>

      <p>Under HIPAA, a patient&rsquo;s personal representative (someone authorized under state or other applicable law to act on behalf of the patient) has a right to access the patient&rsquo;s personal health information. The patient also has a right to allow their personal representative to share this information with someone else, like a doctor or hospital.<sup><a href="{{ '/references/#footnote-33' | prepend: site.baseurl }}" id="footnote-ref33" aria-label="Footnote 33">33</a></sup></p>

      <p>Many patient portals still offer a one-size-fits-all approach to information access &mdash; anyone with the right login can see the full medical record. Some patients share their own login credentials with their caregivers, which gives them unlimited access to the patient&rsquo;s information and compromises security (it&rsquo;s more difficult to track who has logged into a patient&rsquo;s portal). This model ignores the reality for many patients: they need an informed representative to help manage their care, but they also have a right to privacy.</p>

      <p>For adolescent patients (ages 12 to 17), this can be particularly tricky. Adolescents may want to keep their health care decisions and medical information private. Some state laws allow minors to receive specific kinds of health care, like mental or sexual health services, without their parents knowing or consenting. Others say that minors can make decisions on their own if they have an &ldquo;adult status,&rdquo; like being married or in the military. The age when a person is considered an adult and able to make their own health care decisions varies from state to state.<sup><a href="{{ '/references/#footnote-34' | prepend: site.baseurl }}" id="footnote-ref34" aria-label="Footnote 34">34</a></sup></p>

      <p>Parents may also want to keep certain information, like a family history of disease, between only themselves and their adolescent&rsquo;s provider.</p>

      <p>Providers can take steps to give patients and caregivers the privacy and access they need:</p>
      <ul>
      <li>Talk with your patient to find out who&rsquo;s involved in their care</li>
      <li>Ask about your patient&rsquo;s preferences for giving caregivers access their health information. (Unless the patient objects, HIPAA generally allows a provider to share health information with family members or friends involved in the patient&rsquo;s care.)<sup><a href="{{ '/references/#footnote-35' | prepend: site.baseurl }}" id="footnote-ref35" aria-label="Footnote 35">35</a></sup></li>
      <li>Work with your EHR vendor to make sure you can give each personal representative a unique, secure login to access the patient&rsquo;s portal</li>
      </ul>

      <p>Finally, to maximize patient engagement, consider allowing varying levels of access to a patient&rsquo;s portal.</p>
    </div>
  </div>
</div>

<div class="region1">
<div class="section-header" id="section-1"></div>

  <div class="full-bleed section-block sticky-header" id="sticky-header-1">
    <div class="content">
      <div class="row">
        <div class="grid-12">
          <h2><span class="section-number">3.1</span> Set up varying levels of access</h2>
        </div>
      </div>
    </div>
  </div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>Use the portal as a tool to balance the competing needs of patient privacy and caregiver access. Allow patients and their representatives to see different portal information, depending on a patient&rsquo;s needs and characteristics and relevant law.</p>

    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Boston Children&rsquo;s Hospital<sup><a href="{{ '/references/#footnote-36' | prepend: site.baseurl }}" id="footnote-ref36" aria-label="Footnote 36">36</a></sup> <span>| From the field</span></h3>
          </div>

          <p>Boston Children&rsquo;s Hospital (BCH) advocates for patient portals with flexible access that providers can tailor to meet patients&rsquo; and parents&rsquo; needs and to comply with relevant federal and state law.</p>

          <p>Specifically, BCH recommends a portal that gives adolescents and parents access to different types of information. Following this model:</p>
          <ul>
          <li>Adolescents can see nearly all of their medical information, including anything sensitive &mdash; like a birth control pill prescription or chlamydia test results. They can&rsquo;t see any information that their parents have asked to keep private.</li>
          <li>Parents can see information they&rsquo;ve shared with their adolescent&rsquo;s provider and general information about their adolescent&rsquo;s health.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Adolescent MyChart<sup><a href="{{ '/references/#footnote-37' | prepend: site.baseurl }}" id="footnote-ref37" aria-label="Footnote 37">37</a></sup> <span>| From the field</span></h3>
          </div>

          <p>The University of California at San Francisco (UCSF) has customized MyChart &mdash; the patient portal offered through their EHR vendor, Epic &mdash; to offer appropriate patient and representative access that meets Meaningful Use requirements. The result is Adolescent MyChart.</p>

          <p>Adolescent MyChart gives each audience access to distinct portal information.</p>

          <table class="responsive">
            <caption class="visually-hidden">Adolescent MyChart proxy access policy</caption>
            <thead>
              <tr>
                <th scope="col">Content</th>
                <th scope="col">Parent Proxy<br />0-11 years</th>
                <th scope="col">Parent Proxy<br />12-17 years</th>
                <th scope="col">Adolescent<br />12-17 years</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Content">Labs</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">SELECTED</td>
                <td data-label="Adolescent 12-17 years">SELECTED</td>
              </tr>
              <tr>
                <td data-label="Content">Immunizations</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">YES</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td data-label="Content">Allergies</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">YES</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td data-label="Content">Growth Chart</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">YES</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td data-label="Content">Messaging to and from provider <sup><a href="#table_note1" aria-label="see footnote">*</a></sup></td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">YES</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td data-label="Content">Appointment Request</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">YES</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td data-label="Content">Appointment View</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">NO</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td data-label="Content">Problem List/Summary</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">NO</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td data-label="Content">Medications/refill request</td>
                <td data-label="Parent Proxy 0-11 years">YES</td>
                <td data-label="Parent Proxy 12-17 years">NO</td>
                <td data-label="Adolescent 12-17 years">YES</td>
              </tr>
              <tr>
                <td id="table_note1" colspan="4">* Parent and teen can send private messages to the provider.</td>
              </tr>
            </tbody>
          </table>

          <p>At UCSF, parents have limited portal access to potentially sensitive information about their teen children. This lines up with California law, which allows teens between ages 12 and 17 years to keep care for medical needs like sexually transmitted disease testing, contraception, and pregnancy care private. For example, parents can&rsquo;t access lab results from a pregnancy test or OB ultrasound.</p>

          <p>Through Adolescent MyChart, UCSF can more successfully engage teens in their care while also protecting their privacy.</p>

          <div class="quote-block quote-wide">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>&ldquo;We made the decision to give teens their own access, and to make them able to see their full record, because we think it&rsquo;s the right thing to do and it&rsquo;s where we see patient-centered health information technology going.&rdquo;</p>
              <p class="quote-source">&mdash; Dr. Carolyn Jasik, Assistant Professor of Pediatrics, UCSF</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <h2 class="recap"><span class="section-number"></span>Chapter 3 Recap</h2>

      <ul class="checklist">
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Meet patient and caregiver needs by setting up varying levels of portal access.</span></li>
      </ul>

      {% include block-next.html %}

      {% include block-comments.html %}
    </div>
  </div>
</div>
