---
layout: chapter
title: Chapter 2
permalink: /chapter-2/

next-title: "Chapter 3"
next-url: "/chapter-3/"

og-url: ""
og-title: "Activate Features that Meet Patient Needs"
og-description: ""
og-poster: ""
---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 2</p>
    <h1 class="chapter-title">Activate Features that Meet Patient Needs</h1>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="grid-12">

      <div class="section-header" id="intro"></div>

      <p>Patient portals have the potential to streamline provider workflow and improve patient engagement.</p>

      <p>But at first, providers may be overwhelmed by the number of features that portals offer or fear that using the portal will be cumbersome and ineffective.</p>

      <p>You can take small steps to overcome these barriers and get the most out of your patient portal. Although patient portals vary from vendor to vendor, most include a basic set of features that offer value to patients. These features can improve the way providers and patients:</p>
      <ul>
        <li>Handle administrative tasks, like booking appointments</li>
        <li>Communicate with each other</li>
        <li>Manage care</li>
      </ul>
    </div>
  </div>
</div>

{% include infographic-2.html %}

<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>Use these features to engage your patients in their care and make care coordination and communication more convenient, efficient, and effective &mdash; for them and for you.</p>
    </div>
  </div>
</div>

<div class="full-bleed section-block sticky-header" id="sticky-header-1">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">2.1</span> Allow online booking and prescription refills</h2>
        <a class="btn btn-print" href="javascript:window.print()">Print this chapter</a>
      </div>
    </div>
  </div>
</div>
<div class="section-header" id="section-1"></div>


<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>Booking medical appointments and refilling prescriptions over the phone can be time-consuming for both patients and providers. On average, it takes a little more than 8 minutes to make an appointment over the phone.<a href="{{ '/references/#_ftn1' | prepend: site.baseurl }}" id="_ftnref1"><sup>1</sup></a></p>

      <p>Use the portal to enable patients to book medical appointments and refill prescriptions online &mdash; and free up staff to support your practice in more valuable ways.<a href="{{ '/references/#_ftn2' | prepend: site.baseurl }}" id="_ftnref2"><sup>2</sup></a></p>
    </div> <!-- /grid-12 -->
  </div><!-- /row -->
</div> <!-- /content -->

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Kaiser Permanente <span>| From the field</span></h3>
          </div>
          <div class="expand-block">
            <div class="expand-image">
              <a href="{{ "/img/figure-2-1.png" | prepend: site.baseurl }}" class="expand-thumbnail"><img src="{{ "/img/figure-2-1.png" | prepend: site.baseurl }}" alt="" class="expand-small"></a>
              <a href="{{ "/img/figure-2-1.png" | prepend: site.baseurl }}" class="expand-control">Expand</a>
            </div>
            <p class="caption">Image caption</p>
          </div>
          <p>As of 2014, about half of Kaiser Permanente&rsquo;s nearly 10 million members were using Kaiser&rsquo;s online health management platform. In 2014, Kaiser members made more than 4 million online appointment requests and refilled more than 17 million online prescriptions.<a href="{{ '/references/#_ftn3' | prepend: site.baseurl }}" id="_ftnref3"><sup>3</sup></a></p>

          <p>Kaiser tells patients upfront when they can expect to get an appointment if they book online.<a href="{{ '/references/#_ftn4' | prepend: site.baseurl }}" id="_ftnref4"><sup>4</sup></a></p>

          <p>Through the portal, Kaiser also gives patients clear instructions for:</p>
          <ul>
          <li>Filling a prescription for the first time</li>
          <li>Refilling prescriptions online</li>
          <li>Transferring prescriptions from another health system</li>
          <li>Checking which medications are covered by their plan</li>
          <li>Reading up on medication instructions and side effects<a href="{{ '/references/#_ftn5' | prepend: site.baseurl }}" id="_ftnref5"><sup>5</sup></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed section-block sticky-header" id="sticky-header-2">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">2.2</span> Set up secure information sharing</h2>
        <a class="btn btn-print" href="javascript:window.print()">Print this chapter</a>
      </div>
    </div>
  </div>
</div>
<div class="section-header" id="section-2"></div>

<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>There are many scenarios in which patients and providers need to communicate in between visits. Patients may have follow-up questions about a provider&rsquo;s guidance or a medication<a href="{{ '/references/#_ftn6' | prepend: site.baseurl }}" id="_ftnref6"><sup>6</sup></a>. Providers may need to share test results or explain a recommendation in more detail.</p>

      <p>Patient portals offer an opportunity to improve and streamline patient-provider communication. The portal&rsquo;s secure email can reduce the need for face-to-face visits and phone calls by giving patients and providers a quick, convenient way to exchange information.</p>

      <div class="myth-block myth-right">
        <p class="myth-title"><span class="myth">Myth</span> <span class="versus">vs</span> <span class="reality">Reality</span></p>
        <div class="myth-content">
          <p class="myth-subhead"><strong>Myth:</strong></p>
          <p>Providers worry that activating email in the patient portal will lead to an email deluge that burdens their practice and impedes efficiency.</p>
          <p class="myth-control"><button>Learn the reality &rarr;</button></p>
        </div>
        <div class="reality-content">
          <p class="myth-subhead"><strong>Reality:</strong></p>
          <p>When practices integrate email into their workflow, providers often find communicating with patients more convenient and less time-consuming.</p>
          <p class="myth-control"><button>&larr; View the myth</button></p>
        </div>
      </div>

      <p>Using the portal, patients and providers can:</p>
      <ul>
      <li>Share brief messages and updates</li>
      <li>Clarify issues and advice</li>
      <li>Correct misunderstandings before they become significant problems</li>
      <li>Record details, like a referral name or post-operative instructions</li>
      <li>Link to educational materials and other online resources<a href="{{ '/references/#_ftn7' | prepend: site.baseurl }}" id="_ftnref7"><sup>7</sup></a></li>
      </ul>
      <p>You can also use the portal to share lab results &mdash; a best practice identified by some EHRs, like athenahealth &mdash; or other post-visit follow-up with patients.</p>

      <p>To maximize efficiency, practices must integrate reading and responding to email into their workflow. For example, assign a staff member to acknowledge all patient messages within 1 business day. Providers can then respond to the patient&rsquo;s question or issue at their convenience.<a href="{{ '/references/#_ftn8' | prepend: site.baseurl }}" id="_ftnref8"><sup>8</sup></a></p>

      <h3>Tips for Providers</h3>
      <p>Follow these guidelines for communicating with patients by email.<a href="{{ '/references/#_ftn9' | prepend: site.baseurl }}" id="_ftnref9"><sup>9</sup></a></p>

    </div> <!-- /grid-12 -->
  </div><!-- /row -->
</div> <!-- /content -->

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Kaiser Permanente <span>| From the field</span></h3>
          </div>
          <div class="expand-block">
            <div class="expand-image">
              <a href="{{ "/img/figure-2-2.png" | prepend: site.baseurl }}" class="expand-thumbnail"><img src="{{ "/img/figure-2-2.png" | prepend: site.baseurl }}" alt="" class="expand-small"></a>
              <a href="{{ "/img/figure-2-2.png" | prepend: site.baseurl }}" class="expand-control">Expand</a>
            </div>
            <p class="caption">Image caption</p>
          </div>
          <p>Lab test results and secure patient-provider email became widely available to Kaiser Permanente members in 2006. Over the next year, the numbers of lab results viewed online and email messages sent to providers grew steadily. Between 2006 and 2007, lab test results viewed online increased 157 percent and email messages to providers increased 152 percent. Viewing test results soon became the most-used portal feature.<a href="{{ '/references/#_ftn10' | prepend: site.baseurl }}" id="_ftnref10"><sup>10</sup></a></p>

          <div class="callout-mild callout-right">
            <p>In 2014, Kaiser members used the portal to:</p>
            <ul>
              <li>View 37.4 million lab test results</li>
              <li>Exchange 20 million secure emails</li>
            </ul>
          </div>

          <p>Kaiser members primarily emailed their providers to discuss:</p>

          <ul>
          <li>A change in health condition</li>
          <li>Lab results</li>
          <li>New condition</li>
          <li>Prescription dose</li>
          <li>The need for a new prescription</li>
          </ul>

          <p>These emails can prompt necessary care that may have otherwise been overlooked. 6 out of 10 patient-initiated emails led to new clinical assessments or decisions, and 1 in 4 required clinical action (like a lab test).<a href="{{ '/references/#_ftn11' | prepend: site.baseurl }}" id="_ftnref11"><sup>11</sup></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Primary Health Medical Group<a href="{{ '/references/#_ftn12' | prepend: site.baseurl }}" id="_ftnref12"><sup>12</sup></a> <span>| From the field</span></h3>
          </div>
          <p>Primary Health Medical Group providers can send lab results to patients using secure messaging. Providers can include a brief message explaining the results (for example, &ldquo;Your results are normal&rdquo;) and any needed follow‐up instructions (for example, &ldquo;Come back in 3 months for a recheck&rdquo;). For serious lab results, providers use the phone to discuss results with the patient. Providers encourage patients to review their medical information and report inaccuracies.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed section-block sticky-header" id="sticky-header-3">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">2.3</span> Share notes</h2>
        <a class="btn btn-print" href="javascript:window.print()">Print this chapter</a>
      </div>
      <!--<div class="grid-2 space-top-1">
        <a class="btn btn-print" href="javascript:window.print()">Print this chapter</a>
      </div>-->
    </div>
  </div>
</div>
<div class="section-header" id="section-3"></div>

<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>Patients immediately forget up to 80 percent of the clinical information they receive during a visit.<a href="{{ '/references/#_ftn13' | prepend: site.baseurl }}" id="_ftnref13"><sup>13</sup></a> Provider notes can give patients a snapshot of a visit so they can better remember, understand, and act on their provider&rsquo;s advice after the visit has ended. Patients have always had a right to see these notes &mdash; but until recently there hasn&rsquo;t been a simple, straight-forward way to access them.<a href="{{ '/references/#_ftn14' | prepend: site.baseurl }}" id="_ftnref14"><sup>14</sup></a></p>

      <p>By offering patients access to notes through a portal, you can promote transparency and change the way people engage with their health and care.<a href="{{ '/references/#_ftn15' | prepend: site.baseurl }}" id="_ftnref15"><sup>15</sup></a> Since patients are the best source of information about their health, they can also act as a second pair of eyes on the record. With patients checking for accuracy, providers can improve the quality of a medical record and make more informed clinical decisions.<a href="{{ '/references/#_ftn16' | prepend: site.baseurl }}" id="_ftnref16"><sup>16</sup></a></p>

    </div> <!-- /grid-12 -->
  </div><!-- /row -->
</div> <!-- /content -->

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>An Evaluation of OpenNotes<a href="{{ '/references/#_ftn17' | prepend: site.baseurl }}" id="_ftnref17"><sup>17</sup></a> <span>| From the field</span></h3>
          </div>
          <div class="myth-block myth-right">
            <p class="myth-title"><span class="myth">Myth</span> <span class="versus">vs</span> <span class="reality">Reality</span></p>
            <div class="myth-content">
              <p class="myth-subhead"><strong>Myth:</strong></p>
              <p>Providers fear that patients may misinterpret or misunderstand their notes &mdash; causing more worry for patients and more work for providers.</p>
              <p class="myth-control"><button>Learn the reality &rarr;</button></p>
            </div>
            <div class="reality-content">
              <p class="myth-subhead"><strong>Reality:</strong></p>
              <p>For most providers, sharing notes doesn’t affect their workload &mdash; and using OpenNotes improves patients’ engagement and sense of control over their care.</p>
              <p class="myth-control"><button>&larr; View the myth</button></p>
            </div>
          </div>

          <p>A study across these 3 sites &mdash; Beth Israel Deaconess Medical Center (BIDMC) in Massachusetts, Geisinger Health System (GHS) in Pennsylvania, and Harborview Medical Center (HMC) in Washington &mdash; found that most providers had positive or neutral experiences with OpenNotes (a national initiative that promotes sharing notes with patients<a href="{{ '/references/#_ftn18' | prepend: site.baseurl }}" id="_ftnref18"><sup>18</sup></a>). When asked about the most difficult aspect of open notes, 3 out of 4 providers commented that nothing was difficult and that they experienced no changes in their practice. Several doctors acknowledged fears about an additional time burden and offending or worrying patients &mdash; but said that these concerns didn&rsquo;t materialize.</p>

          <p>The majority of patients who participated in the study used OpenNotes. Out of roughly 13,500 patients with access to provider notes, more than 11,000 had opened at least 1 note.</p>

          <p>Patients across all health systems reported experiencing benefits from seeing notes. Specifically:</p>
          <ul>
          <li>77% to 87% across the 3 sites reported that open notes helped them feel more in control of their care.</li>
          <li>60% to 78% of those taking medications reported increased medication adherence.</li>
          <li>20% to 42% reported sharing notes with others.</li>
          </ul>

          <div class="quote-block quote-wide">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“Making visit notes available online is a <strong>good idea</strong>.” </p>
              <p class="quote-source">&mdash; 85% to 88% of providers in the study agreed</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">
      <h3>Tips for Providers</h3>
      <p>When sharing notes with patients, it&rsquo;s important to:</p>
      <ul>
      <li>Explain to patients what they can expect to see in the notes</li>
      <li>Use plain language instead of medical jargon or abbreviations</li>
      <li>Soften language, when necessary (for example, instead of calling a patient &ldquo;non-compliant,&rdquo; write the &ldquo;patient chose not to...&rdquo;)</li>
      <li>Keep notes focused on specific issues</li>
      <li>Discuss lab or study results, if applicable</li>
      <li>Reference educational materials, whenever possible<a href="{{ '/references/#_ftn19' | prepend: site.baseurl }}" id="_ftnref19"><sup>19</sup></a></li>
      </ul>

    </div> <!-- /grid-12 -->
  </div><!-- /row -->
</div> <!-- /content -->

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>OpenNotes at Kaiser Permanente<a href="{{ '/references/#_ftn20' | prepend: site.baseurl }}" id="_ftnref20"><sup>20</sup></a> <span>| From the field</span></h3>
          </div>
          <div class="quote-block quote-right">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“Reviewing the notes I SEE why I need to lose weight&hellip;It feels like my Doctor [sic] really cares about my health, I never knew that.”</p>
              <p class="quote-source">&mdash; Patient in study</p>
            </div>
          </div>

          <p>Kaiser has found that most patients with access to visit notes read them, and many discuss them with providers or loved ones. The majority of Kaiser patients who used OpenNotes reported improved self-care:</p>
          <ul>
          <li>70&ndash;72% of patients reported taking better care of themselves.</li>
          <li>77&ndash;85% reported better understanding of their health and medical conditions.</li>
          <li>76&ndash;84% reported remembering to plan for their care better.</li>
          <li>69&ndash;80% felt better prepared for visits.</li>
          <li>77&ndash;87% felt more in control of their care.</li>
          <li>60&ndash;78% of patients taking medications reported improvements in taking medications as prescribed.</li>
          </ul>

          <!--<div class="quote-block quote-left">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“I wanted my doctor to treat my mind, body and spirit. I am convinced that is happening based on reading the notes.”</p>
              <p class="quote-source">&mdash; Patient in study</p>
            </div>
          </div>-->

          <p>This increased patient involvement in health and medical care can lead to more efficient care, better patient-provider communication and, ultimately, healthier outcomes.</p>

          <p>Access to OpenNotes is important to the majority of Kaiser members: Roughly 6 out of 10 members who logged onto KP.org after a recent visit said that OpenNotes would be a &ldquo;very important&rdquo; factor in future health plan decisions. About 4 out of 10 who hadn&rsquo;t logged on said the same.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <h2 class="recap"><span class="section-number"></span>Chapter 2 Recap</h2>

      <p>Take advantage of patient portal features to improve communication and create value for patients and providers.</p>

      <ul class="checklist">
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Allow online booking and prescription refills</span></li>
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Set up secure information sharing</span></li>
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Share notes</span></li>
      </ul>

      {% include block-next.html %}

      {% include block-comments.html %}

    </div>
  </div>
</div>
