---
layout: chapter
title: Chapter 4
permalink: /chapter-4/

next-title: "References"
next-url: "/references/"

og-url: ""
og-title: ""
og-description: ""
og-poster: ""
---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro bg-chapter-4">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 4</p>
    <h1 class="chapter-title">Integrate patient-generated health data</h1>
  </div>
</div>

<div class="section-header" id="intro"></div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <p><p>Historically, providers have had limited access to data on patients&rsquo; health and well-being. They&rsquo;ve made do with information collected during patient visits, like self-reported lifestyle habits and family health histories.</p>

      <p>Technology is transforming our ability to collect accurate, reliable patient data.</p>

      <div class="tech-block">
        <div class="row">
          <div class="grid-12">
            <p class="text-center tech-first">In 2013,</p>
          </div>
        </div>
        <div class="row">
          <div class="grid-3">
            <p class="tech-numbers text-center"><strong>1</strong> in <strong>5</strong></p>
          </div>
          <div class="grid-5">
            <p class="space-top-4">U.S. adults reported using technology to <strong>track their health data</strong>.<sup><a href="{{ '/references/#footnote-38' | prepend: site.baseurl }}" id="footnote-ref38" aria-label="Footnote 38">38</a></sup></p>
          </div>
          <div class="grid-4">
            <p class="text-center"><img src="{{ '/img/1in5.png' | prepend: site.baseurl }}" alt="" class="tech-people"></p>
          </div>
        </div>

        <div class="icon-block tech">
          <p class="icon-glucose-meter"><span>8%</span> used a medical device, like a <strong>glucose meter</strong></p>
          <p class="icon-smartphone"><span>7%</span> used an app or other tool on their <strong>mobile device</strong>.<sup><a href="{{ '/references/#footnote-39' | prepend: site.baseurl }}" id="footnote-ref39" aria-label="Footnote 39">39</a></sup></p>
        </div>
      </div>

      <p>Adults with chronic conditions are most likely to track health indicators, like blood pressure, or symptoms than those without.<sup><a href="{{ '/references/#footnote-40' | prepend: site.baseurl }}" id="footnote-ref40" aria-label="Footnote 40">40</a></sup></p>

      <p>Across the nation, patients&rsquo; phones and computers are teeming with information on their diet, exercise habits, and vital signs. A wealth of data is available, but a new problem has cropped up: how to harness this data to improve clinical care and patient health.</p>
    </div>
  </div>
</div>

<div class="region1">
<div class="section-header" id="section-1"></div>

  <div class="full-bleed section-block sticky-header" id="sticky-header-1">
    <div class="content">
      <div class="row">
        <div class="grid-12">
          <h2><span class="section-number">4.1</span> Track patient-generated health data</h2>
        </div>
      </div>
    </div>
  </div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>As the amount of available data has grown, so too has our ability to organize and make sense of it all. More and more health systems are aggregating patient-generated health data in their EHRs and relying on this data to conduct remote monitoring &mdash; that is, to track patients&rsquo; wellness outside the clinic. Providers can then take advantage of this data to improve clinical decision-making and care delivery.</p>

    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Ochsner Health System<sup><a href="{{ '/references/#footnote-41' | prepend: site.baseurl }}" id="footnote-ref41" aria-label="Footnote 41">41</a></sup> <span>| From the field</span></h3>
          </div>

          <div class="quote-block quote-right">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>&ldquo;In the past, we relied on patients to log information, bring it to us, and then we would input the data and decide a course of action. Now we can share information seamlessly between patient and physician to allow real-time, accurate analysis of a patient&rsquo;s health status.&rdquo;</p>
              <p class="quote-source">&mdash; Robert Bober, MD, Director of Cardiac Molecular Imaging, Ochsner Medical Center</p>
            </div>
          </div>

          <p>Ochsner Health System (OHS) is advancing the use of patient-generated health data through partnerships with Apple and its EHR developer.</p>

          <p>Since October 2014, OHS has leveraged Apple HealthKit to create a more comprehensive picture of ongoing patient health. HealthKit, an iOS app, acts as a health dashboard by capturing health and activity data from other apps and wearable devices, like FitBit and Withings wireless blood pressure monitor.<sup><a href="{{ '/references/#footnote-42' | prepend: site.baseurl }}" id="footnote-ref42" aria-label="Footnote 42">42</a>,<a href="{{ '/references/#footnote-43' | prepend: site.baseurl }}" id="footnote-ref43" aria-label="Footnote 43">43</a></sup> Healthkit also has an open API (application programming interface), which enables other web applications to access its data. Using the API, OHS connected HealthKit to its EHR. As a result, OHS patients can automatically import HealthKit data into their EHRs and share it with providers.<sup><a href="{{ '/references/#footnote-44' | prepend: site.baseurl }}" id="footnote-ref44" aria-label="Footnote 44">44</a></sup></p>

          <p>OHS piloted this integration in its Digital Medicine Program. The Digital Medicine Program, which focuses on patients with hypertension, uses remote monitoring to collect data including body weights and blood pressure measurements &mdash; all without patients leaving their homes. Providers and pharmacists see the data and follow up with patients in real time by, for example, adjusting their medications or tailoring lifestyle recommendations.<sup><a href="{{ '/references/#footnote-45' | prepend: site.baseurl }}" id="footnote-ref45" aria-label="Footnote 45">45</a></sup> One year in, OHS patients reported improved outcomes, engagement, and satisfaction with their care.</p>

          <p>Among patients with uncontrolled blood pressure, 2 out of 3 had their blood pressure in control within 90 days of enrolling in the program.<sup><a href="{{ '/references/#footnote-46' | prepend: site.baseurl }}" id="footnote-ref46" aria-label="Footnote 46">46</a></sup> For patients, lower blood pressure means a lower likelihood of heart attack, stroke, and kidney failure &mdash; and greater peace of mind.</p>

          <div class="quote-block quote-wide">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>&ldquo;For the first time in my life, I feel a sense of peace and comfort knowing that I&rsquo;m under constant supervision and receiving high-quality care with little effort throughout my daily routine. This is the way healthcare should be.&rdquo;”</p>
              <p class="quote-source">&mdash; Andres Rubiano, 54 year-old Digital Medicine Program patient who suffers from hypertension</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Carolinas HealthCare System<sup><a href="{{ '/references/#footnote-47' | prepend: site.baseurl }}" id="footnote-ref47" aria-label="Footnote 47">47</a>,<a href="{{ '/references/#footnote-48' | prepend: site.baseurl }}" id="footnote-ref48" aria-label="Footnote 48">48</a></sup> <span>| From the field</span></h3>
          </div>

          <p>Carolinas HealthCare System (CHS) launched a new mobile application for patients, called MyCarolinas Tracker, that uses an open API. That means CHS&rsquo;s app can easily talk to other apps &mdash; allowing it to pull in health and fitness data from more than 100 devices and clinical data from providers. Patients can then use the app to track their wellness and clinical progress.</p>

          <p>Patient-generated health data aren&rsquo;t necessarily limited to patients&rsquo; phones. Patients can also use sensing devices, like blood pressure cuffs and pulse oximeters, to wirelessly share clinical information with providers.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Partners Healthcare Center for Connected Health<sup><a href="{{ '/references/#footnote-49' | prepend: site.baseurl }}" id="footnote-ref49" aria-label="Footnote 49">49</a>,<a href="{{ '/references/#footnote-50' | prepend: site.baseurl }}" id="footnote-ref50" aria-label="Footnote 50">50</a></sup> <span>| From the field</span></h3>
          </div>

          <p>The Center for Connected Health (CCH) implements programs rooted in connected health, a care model that uses information and communications technology &mdash; like mobile phones, computers, and wearable devices &mdash; to support patients&rsquo; health without disrupting their day-to-day lives.</p>

          <div class="callout callout-2 callout-right">
            <div class="callout-inner">
              <div class="callout-icon" aria-hidden="true"><span>*</span></div>
              <p class="underlined">CCCP cut heart failure-related hospital readmissions <strong>in half</strong>.</p>
            </div>
          </div>

          <p>CCH&rsquo;s Connected Cardiac Care Program (CCCP) showcases this approach. CCCP aims to improve self-management in heart failure patients at risk for hospitalization by combining:</p>
          <ul>
          <li>Regular clinical care</li>
          <li>Patient education</li>
          <li>Remote monitoring of indicators like blood pressure, heart rate, and weight</li>
          <li>Timely care and clinical feedback<sup><a href="{{ '/references/#footnote-51' | prepend: site.baseurl }}" id="footnote-ref51" aria-label="Footnote 51">51</a></sup></li>
          </ul>

          <p>Providers used a central database to track all patient data. Data was also captured in patients&rsquo; EHRs.<sup><a href="{{ '/references/#footnote-52' | prepend: site.baseurl }}" id="footnote-ref52" aria-label="Footnote 52">52</a></sup></p>

          <p>CCH conducted a retrospective study that evaluated the 4-month program<sup><a href="{{ '/references/#footnote-53' | prepend: site.baseurl }}" id="footnote-ref53" aria-label="Footnote 53">53</a></sup>. At the outset, patients in the intervention and control groups had similar hospitalization rates. But for the duration of the program and up to 3 months after, hospitalization dropped significantly for patients enrolled in CCCP compared to those receiving typical care. CCCP patients also experienced significantly lower mortality rates during the program and for up to 4 months after discharge.<sup><a href="{{ '/references/#footnote-54' | prepend: site.baseurl }}" id="footnote-ref54" aria-label="Footnote 54">54</a>,<a href="{{ '/references/#footnote-55' | prepend: site.baseurl }}" id="footnote-ref55" aria-label="Footnote 55">55</a></sup></p>


          <p>In addition to clinical outcomes, CCCP improved patients&rsquo; understanding of heart failure and self-management skills.<sup><a href="{{ '/references/#footnote-56' | prepend: site.baseurl }}" id="footnote-ref56" aria-label="Footnote 56">56</a></sup> These skills suggest a long-term payoff &mdash; even if patients have limited time in the program, they can still expect benefits down the line.</p>

          <p>Providers come out on top, too. Even though CCCP costs $1,500 per patient, providers ultimately save $8,155 per patient from reductions in hospitalizations.<sup><a href="{{ '/references/#footnote-57' | prepend: site.baseurl }}" id="footnote-ref57" aria-label="Footnote 57">57</a></sup></p>

          <div class="quote-block quote-wide">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>&ldquo;With our hospitals liable for thirty-day readmissions through CMS penalties, such interventions are becoming mainstay in the management of high risk patients.</p>
              <p>As health technologies become more accessible and commoditized, programs like Connected Cardiac Care will be more affordable, and achieve an obvious return on investment.&rdquo;</p>
              <p class="quote-source">&mdash; Joseph C. Kvedar, MD, Vice President, Connected Health, Partners HealthCare</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="region2">
<div class="section-header" id="section-2"></div>
  <div class="full-bleed section-block sticky-header" id="sticky-header-2">
    <div class="content">
      <div class="row">
        <div class="grid-12">
          <h2><span class="section-number">4.2</span> Collect family histories</h2>
        </div>
      </div>
    </div>
  </div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <div class="quote-block quote-right">
        <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
        <div class="quote-content">
          <p>&ldquo;My goal over the past year has been to have the family history for most of my patients completed at least involving all first degree relatives. I did not find that this caused extra work or took much extra time &ndash; in fact it saved time and provided me valuable information for my practice.&rdquo;</p>
          <p class="quote-source">&mdash; Dr. Bruce Peyser, Medical Director, Pickett Road Clinic</p>
        </div>
      </div>

      <p>Family health history can help predict a patient&rsquo;s disease risk &mdash; essentially, it&rsquo;s the simplest and least expensive form of genetic assessment.<sup><a href="{{ '/references/#footnote-58' | prepend: site.baseurl }}" id="footnote-ref58" aria-label="Footnote 58">58</a></sup> Traditionally, collecting and analyzing this information hasn&rsquo;t been a routine part of primary care because of challenges like patients&rsquo; lack of knowledge about family history and providers&rsquo; limited time.</p>

      <p>Now, technology-driven tools are changing the standard of risk assessments. These tools enable patients to systematically collect family health histories and report back to their providers. Providers can then ensure high-risk patients get necessary screenings and specialist care.<sup><a href="{{ '/references/#footnote-59' | prepend: site.baseurl }}" id="footnote-ref59" aria-label="Footnote 59">59</a></sup></p>

      <p>Consider taking these steps:</p>
      <ul>
      <li><strong>Encourage patients to enter pertinent family history </strong>through the patient portal &mdash; so they don&rsquo;t have to recall family details during the visit</li>
      <li><strong>Ask medical assistants </strong>to review family history before a visit &mdash; so providers don&rsquo;t waste valuable visit time collecting that information</li>
      <li><strong>Conduct clinical training </strong>about how to recognize genetic diseases and manage high-risk patients<sup><a href="{{ '/references/#footnote-60' | prepend: site.baseurl }}" id="footnote-ref60" aria-label="Footnote 60">60</a></sup></li>
      </ul>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>MeTree<sup><a href="{{ '/references/#footnote-61' | prepend: site.baseurl }}" id="footnote-ref61" aria-label="Footnote 61">61</a></sup> <span>| From the field</span></h3>
          </div>

          <p>The Genomedical Connection &mdash; a consortium between Duke University, the University of North Carolina at Greensboro, and the Moses Cone Health System in Greensboro, North Carolina &mdash; developed MeTree, a computerized self-administered family health history collection tool.</p>

          <p>MeTree helps individuals have challenging conversations with loved ones about family health histories. It supports patients in collecting 3 generations of information on 48 conditions, including 20 cancers. The tool also generates a report for providers and patient-provider talking points.</p>

          <p>Providers can assess MeTree effectiveness by tracking appropriate screenings (like those for breast, colon, and ovarian cancers), testing for hereditary thrombophilia, and referrals to genetic counseling.<sup><a href="{{ '/references/#footnote-62' | prepend: site.baseurl }}" id="footnote-ref62" aria-label="Footnote 62">62</a></sup></p>

          <p>By leveraging Fast Health Interoperability Resources (FHIR) &mdash; a new standard for exchanging health care information electronically<sup><a href="{{ '/references/#footnote-63' | prepend: site.baseurl }}" id="footnote-ref63" aria-label="Footnote 63">63</a></sup> &mdash; MeTree will soon connect to patients&rsquo; EHRs and allow patients and providers to seamlessly access this information.<sup><a href="{{ '/references/#footnote-64' | prepend: site.baseurl }}" id="footnote-ref64" aria-label="Footnote 64">64</a></sup></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <h2 class="recap"><span class="section-number"></span>Chapter 4 Recap</h2>

      <p>Improve clinical decision-making by leveraging technologies to:</p>
      <ul class="checklist">
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Track patient-generated health data</span></li>
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Collect family histories</span></li>
      </ul>

      {% include block-next.html %}

      {% include block-comments.html %}

      {% include sharing-buttons-footer.html %}

    </div>
  </div>
</div>
