---
layout: chapter
title: Chapter 1
permalink: /chapter-1/

next-title: "Chapter 2"
next-url: "/chapter-2/"

---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro bg-chapter-1">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 1</p>
    <h1 class="chapter-title">Faciliate easy enrollment</h1>
  </div>
</div>

<div class="section-header" id="intro"></div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>Enrollment is the first step to engagement. But patients can be slow or reluctant to enroll in their EHR patient portals &mdash; and many never enroll at all.</p>

      <p>Patients report not enrolling because they:</p>
      <ul>
      <li><strong>Don&rsquo;t remember discussing it with their providers</strong></li>
      <li><strong>Lack information or motivation</strong> &mdash; for example, they don&rsquo;t have signup instructions or they feel too busy</li>
      <li><strong>Have negative attitudes </strong>&mdash; for example, they think it won&rsquo;t be useful or they prefer phone over email</li>
      <li><strong>Need computer help </strong>&mdash; for example, they don&rsquo;t have computer access or skills<sup><a href="{{ '/references/#footnote-6' | prepend: site.baseurl }}" id="footnote-ref6" aria-label="Footnote 6">6</a></sup></li>
      </ul>

      <p>There&rsquo;s a lot that providers and practices can do to overcome these barriers and boost registration. In this chapter, we&rsquo;ll review best practices for improving patient signup, including choosing a portal with simple and secure signup, developing an opt-out policy, registering patients in the office, and marketing effectively.</p>

      <p>Tailor the approach to fit your practice. For instance, providers in small practices who have long-term relationships with their patients can frame the portal as a tool to deepen their communication. Large health systems might devote resources for creating high-quality marketing materials or hiring dedicated enrollment staff. One thing is certain: whether you&rsquo;re a practice of 1 or 1,000, you can achieve high portal adoption.<sup><a href="{{ '/references/#footnote-7' | prepend: site.baseurl }}" id="footnote-ref7" aria-label="Footnote 7">7</a></sup></p>
    </div>
  </div>
</div>

{% include infographic-placeholder.html %}

<div class="region1">
<div class="section-header" id="section-1"></div>
<div class="full-bleed section-block sticky-header" id="sticky-header-1">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">1.1</span> Choose a portal with simple, secure signup</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>The amount of time and effort it takes to register for a patient portal can affect whether your patients successfully enroll or give up halfway through.</p>

      <p>Make the process easier on them and you by choosing a portal with a quick, secure signup process. Ideally, the patient has to enter only a few pieces of information &mdash; and the portal confirms the patient&rsquo;s identity on the back end.</p>

    </div> <!-- /grid-12 -->
  </div><!-- /row -->
</div> <!-- /content -->

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Mana Health<sup><a href="{{ '/references/#footnote-8' | prepend: site.baseurl }}" id="footnote-ref8" aria-label="Footnote 8">8</a></sup> <span>| From the field</span></h3>
          </div>

          <p>Mana Health, an EHR vendor, enables patients to sign up in a few simple steps. When a patient registers, Mana&rsquo;s system uses data (like demographics and the patient&rsquo;s medical record number) to match up the patient with her EHR. This automated verification system means an efficient, successful enrollment process for practices and patients. </p>

          <div class="content-slider-block">
            <div class="content-slides">
              <div class="content-slide on" id="content-slide-1" aria-hidden="false">
                <p><img src="{{ "/img/figure-1-1-1.png" | prepend: site.baseurl }}" alt=""></p>
                <p class="content-slider-caption">The patient selects &ldquo;New user.&rdquo;</p>
              </div>
              <div class="content-slide" id="content-slide-2" aria-hidden="true">
                <p><img src="{{ "/img/figure-1-1-2.png" | prepend: site.baseurl }}" alt=""></p>
                <p class="content-slider-caption">They type in the provider invite code and their date of birth.</p>
              </div>
              <div class="content-slide" id="content-slide-3" aria-hidden="true">
                <p><img src="{{ "/img/figure-1-1-3.png" | prepend: site.baseurl }}" alt=""></p>
                <p class="content-slider-caption">They enter their email address and decide on a username and password.</p>
              </div>
              <div class="content-slide" id="content-slide-4" aria-hidden="true">
                <p><img src="{{ "/img/figure-1-1-4.png" | prepend: site.baseurl }}" alt=""></p>
                <p class="content-slider-caption"> The patient chooses security questions and types in their answers. (If they ever forget their password, they can use these questions to access the account.)</p>
              </div>
              <div class="content-slide" id="content-slide-5" aria-hidden="true">
                <p><img src="{{ "/img/figure-1-1-5.png" | prepend: site.baseurl }}" alt=""></p>
                <p class="content-slider-caption">They read and agree to the Terms and Conditions.</p>
              </div>
              <div class="content-slide" id="content-slide-6" aria-hidden="true">
                <p><img src="{{ "/img/figure-1-1-6.png" | prepend: site.baseurl }}" alt=""></p>
                <p class="content-slider-caption">Registration complete!</p>
              </div>
            </div>
            <div class="content-slider-control">
              <p class="text-center">
                <a href="#content-slide-prev" class="btn btn-blue content-slide-prev" id="content-slide-prev"><span aria-hidden="true">&larr; </span>Previous step</a>
                <a href="#content-slide-next" class="btn btn-blue content-slide-next" id="content-slide-next">Next step<span aria-hidden="true"> &rarr;</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="region2">
<div class="section-header" id="section-2"></div>

<div class="full-bleed section-block sticky-header" id="sticky-header-2">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">1.2</span> Develop an opt-out policy</h2>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>To facilitate enrollment, move from an opt-in policy (patients choose to sign up for the patient portal) to an opt-out policy (patients are automatically enrolled and can choose to un-enroll). Keep enrollment numbers up by requiring new patients to stay registered &mdash; but make exceptions for patients with limited computer access or skills.</p>

      <p>You can also lower the number of patients who opt out by integrating portal use into patients&rsquo; care plans. For example, encourage patients to use the portal to make follow-up appointments and stay on top of recommended screenings. Some portals even enable providers to create task lists for patients that include activities related to taking medications, eating a healthy diet, and staying physically active. By taking this approach, you can set the expectation that using the patient portal is part of following their recommendations &mdash; just like getting regular physical activity or taking medicine as prescribed.</p>

    </div> <!-- /grid-12 -->
  </div><!-- /row -->
</div> <!-- /content -->

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>athenahealth<sup><a href="{{ '/references/#footnote-9' | prepend: site.baseurl }}" id="footnote-ref9" aria-label="Footnote 9">9</a></sup> <span>| From the field</span></h3>
          </div>

          <p>athenahealth, an EHR vendor, recommends an opt-out policy. Many of athenahealth&rsquo;s top 100 practices have benefited from this strategy.</p>

          <div class="quote-block quote-wide">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“&hellip;The front office staff and physicians communicate that part of what it means to be a patient in a particular practice is using the portal. A slight shift of attitude can go a long way.</p>
              <p>It is the difference between asking whether a patient would like to register for the portal versus communicating that portal registration is expected and is integral to the care process.”</p>
              <p class="quote-source">&mdash; Josh Gray, Vice President of athenaResearch</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="region3">
<div class="section-header" id="section-3"></div>
<div class="full-bleed section-block sticky-header" id="sticky-header-3">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">1.3</span> Register patients in the office</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>Treat patients&rsquo; office visits as a prime opportunity for portal registration.</p>

      <p>Patients are more likely to register in the office, where they can get support from practice staff and engage in a personal conversation about benefits of the portal. If patients are asked to sign up once they&rsquo;ve returned home, they may forget, get distracted, or struggle to navigate the technology on their own.</p>

      <p>Make in-office registration the default by building it into your care delivery workflow and offering several registration touch points during a visit. For example, at check-in and check-out the receptionist can teach patients about the portal and offer to sign them up on the spot using a kiosk, tablet, or registrar computer.</p>

    </div> <!-- /grid-12 -->
  </div><!-- /row -->
</div> <!-- /content -->

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>athenahealth<sup><a href="{{ '/references/#footnote-10' | prepend: site.baseurl }}" id="footnote-ref10" aria-label="Footnote 10">10</a></sup> <span>| From the field</span></h3>
          </div>

          <p>athenahealth analyzed portal registration methods among 973,000 patients who visited practices that offer their patient portal, athenaCommunicator. athenahealth found in-office registration much more effective than at-home registration.</p>

          <h3>In-office registration</h3>
          <p>Among patients given the opportunity to sign up&hellip;</p>
          <div class="row">
            <div class="grid-4">
              <p><img src="{{ '/img/onc-57.png' | prepend: site.baseurl }}" alt="" class="circle-graph"></p>
              <p class="circle-graph-caption">Using a kiosk or tablet, <strong>57 percent</strong> signed up</p>
            </div>
            <div class="grid-4">
              <p><img src="{{ '/img/onc-53.png' | prepend: site.baseurl }}" alt="" class="circle-graph"></p>
              <p class="circle-graph-caption">On the registrar computer, <strong>53 percent</strong> signed up</p>
            </div>
            <div class="grid-4">
              <p><img src="{{ '/img/onc-23.png' | prepend: site.baseurl }}" alt="" class="circle-graph"></p>
              <p class="circle-graph-caption">After receiving a text message, <strong>23 percent </strong>signed up</p>
            </div>
          </div>

          <h3>At-home registration</h3>
          <p>Among patients who received&hellip;</p>
          <div class="row">
            <div class="grid-4">
              <p><img src="{{ '/img/onc-12.png' | prepend: site.baseurl }}" alt="" class="circle-graph"></p>
              <p class="circle-graph-caption">An email at check-in, <strong>12 percent</strong> signed up</p>
            </div>
            <div class="grid-4">
              <p><img src="{{ '/img/onc-4.png' | prepend: site.baseurl }}" alt="" class="circle-graph"></p>
              <p class="circle-graph-caption">An automated monthly email, <strong>4 percent </strong>signed up</p>
            </div>
            <div class="grid-4">
              <p><img src="{{ '/img/onc-1.png' | prepend: site.baseurl }}" alt="" class="circle-graph"></p>
              <p class="circle-graph-caption">A campaign invitation, <strong>less than 1 percent</strong> signed up</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="region4">
<div class="section-header" id="section-4"></div>
<div class="full-bleed section-block sticky-header" id="sticky-header-4">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">1.4</span> Market effectively</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>Use positive, encouraging language and leverage every marketing opportunity.</p>

      <h3>Tell patients how they can benefit.</h3>
      <p>Ensure that all members of the care team can relay the benefits of the portal and show patients how to do basic tasks like view lab results, send messages, pay bills, and request or schedule an appointment. See Chapter 2 of this playbook for more information on portal benefits.</p>

      <p>Give clinicians and staff talking points so that everyone reinforces the same key messages.</p>

      <h3>Take advantage of every touch point.<sup><a href="{{ '/references/#footnote-11' | prepend: site.baseurl }}" id="footnote-ref11" aria-label="Footnote 11">11</a></sup></h3>
      <p>Over the course of a visit, a patient may talk to several practice staff including a receptionist, nurse, and doctor. Treat each conversation with a patient as an opportunity to explain the portal&rsquo;s value.</p>

      <p>Teach patients about the portal while they&rsquo;re waiting to see their doctors. In the waiting room, have posters, brochures, and videos that highlight portal features and include instructions for logging into the portal on a smartphone while they wait. Many EHR vendors have developed portal marketing materials so that you don&rsquo;t have to. Before you create your own, ask your vendor what materials they offer.</p>

      <p>Remember that marketing opportunities exist outside of a visit, too &mdash; like when patients call the office. Set up a pre-recorded hold message or a message that plays at the end of a call that reminds patients to register.</p>

      <h3>Make patient portal communication the norm.</h3>
      <p>Move away from traditional methods of patient communication, like phone and mail. Frame the patient portal as the best way to reach providers and see important medical information.</p>
    </div>
  </div>
</div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">
      <h2 class="recap"><span class="section-number"></span>Chapter 1 Recap</h2>

      <p>Take the first step toward patient engagement by facilitating easy portal enrollment.</p>
      <ul class="checklist">
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Choose a portal with simple, secure signup</span></li>
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Develop an opt-out policy</span></li>
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Register patients in the office</span></li>
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Market effectively</span></li>
      </ul>

    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      {% include block-next.html %}

      {% include block-comments.html %}

    </div>
  </div>
</div>
