---
layout: chapter
title: Chapter 4
permalink: /chapter-4/

next-title: "References"
next-url: "/references/"

og-url: ""
og-title: "Integrate patient-generated data"
og-description: ""
og-poster: ""
---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 4</p>
    <h1 class="chapter-title">Integrate patient-generated data</h1>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="grid-12">

      <div class="section-header" id="intro"></div>
      <p>Chapter 4 content</p>
    </div>
  </div>
</div>

<div class="full-bleed section-block sticky-header" id="sticky-header-1">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">4.1</span> Section 1</h2>
      </div>
    </div>
  </div>
</div>
<div class="section-header" id="section-1"></div>

<div class="full-bleed section-block sticky-header" id="sticky-header-2">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h2><span class="section-number">4.2</span> Section 2</h2>
      </div>
    </div>
  </div>
</div>
<div class="section-header" id="section-2"></div>

<div class="content">
  <div class="row">
    <div class="grid-12">
      {% include block-next.html %}

      {% include block-comments.html %}
    </div>
  </div>
</div>
