---
layout: chapter
title: Chapter 4
permalink: /chapter-4/

next-title: "References"
next-url: "/references/"

---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro bg-chapter-4">
  <div class="chapter-intro-inner">
    <p class="chapter-number">Chapter 4</p>
    <h1 class="chapter-title">Integrate patient-generated data</h1>
  </div>
</div>

<div class="section-header" id="intro"></div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <p>Historically, providers have had limited access to data on patients&rsquo; health and wellbeing. They&rsquo;ve made do with information collected during patient visits, like self-reported lifestyle habits and family health histories.</p>

      <p>Technology is transforming our ability to collect accurate, reliable patient data. In 2013, 1 in 5 U.S. adults reported using technology to track their health data.<sup><a href="{{ '/references/#footnote-36' | prepend: site.baseurl }}" id="footnote-ref36">36</a></sup> 8% used a medical device, like a glucose meter, and 7% used an app or other tool on their mobile device.<sup><a href="{{ '/references/#footnote-37' | prepend: site.baseurl }}" id="footnote-ref37">37</a></sup> Adults with chronic conditions are most likely to track health indicators, like blood pressure, or symptoms than those without.<sup><a href="{{ '/references/#footnote-38' | prepend: site.baseurl }}" id="footnote-ref38">38</a></sup></p>

      <p>Across the nation, patients&rsquo; phones and computers are teeming with information on their diet, exercise habits, and vital signs. A wealth of data is available, but a new problem has cropped up &mdash; how to harness this data to improve clinical care and patient health.</p>
    </div>
  </div>
</div>

<div class="region1">
<div class="section-header" id="section-1"></div>

  <div class="full-bleed section-block sticky-header" id="sticky-header-1">
    <div class="content">
      <div class="row">
        <div class="grid-12">
          <h2><span class="section-number">4.1</span> Track patient-generated data</h2>
        </div>
      </div>
    </div>
  </div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>As the amount of available data has grown, so too has our ability to organize and make sense of it all. More and more health systems are aggregating patient-generated data in their EHRs and relying on this data to conduct remote monitoring &mdash; that is, to track patients&rsquo; wellness outside the clinic. Providers can then take advantage of this data to improve clinical decision-making and care delivery.</p>

    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Ochsner Health System<sup><a href="{{ '/references/#footnote-39' | prepend: site.baseurl }}" id="footnote-ref39">39</a></sup> <span>| From the field</span></h3>
          </div>

          <div class="quote-block quote-right">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“In the past, we relied on patients to log information, bring it to us, and then we would input the data and decide a course of action. Now we can share information seamlessly between patient and physician to allow real-time, accurate analysis of a patient&rsquo;s health status.”</p>
              <p class="quote-source">&mdash; Robert Bober, MD, Director of Cardiac Molecular Imaging, Ochsner Medical Center</p>
            </div>
          </div>

          <p>Ochsner Health System (OHS) is advancing the use of patient-generated health data through partnerships with Apple and EHR vendor Epic Systems.</p>

          <p>Since October 2014, OHS has leveraged Apple HealthKit to create a more comprehensive picture of ongoing patient health. HealthKit, an iOS app, acts as a health dashboard by capturing health and activity data from other apps and wearable devices, like FitBit and Withings wireless blood pressure monitor.<sup><a href="{{ '/references/#footnote-40' | prepend: site.baseurl }}" id="footnote-ref40">40</a>,<a href="{{ '/references/#footnote-41' | prepend: site.baseurl }}" id="footnote-ref41">41</a></sup> Healthkit also has an open API (application programming interface), which enables other web applications to access its data. Using the API, OHS connected HealthKit to its Epic EHR. As a result, OHS patients can automatically import HealthKit data into their EHRs and share it with providers.<sup><a href="{{ '/references/#footnote-42' | prepend: site.baseurl }}" id="footnote-ref42">42</a></sup></p>

          <p>OHS piloted this integration in its Digital Medicine Program. The Digital Medicine Program, which focuses on patients with hypertension, uses remote monitoring to collect data including body weights and blood pressure measurements &mdash; all without patients leaving their homes. Providers and pharmacists see the data and follow up with patients in real time by, for example, adjusting their medications or tailoring lifestyle recommendations.<sup><a href="{{ '/references/#footnote-43' | prepend: site.baseurl }}" id="footnote-ref43">43</a></sup> One year in, OHS patients reported improved outcomes, engagement, and satisfaction with their care.</p>

          <p>Among patients with uncontrolled blood pressure, 2 out of 3 had their blood pressure in control within 90 days of enrolling in the program.<sup><a href="{{ '/references/#footnote-44' | prepend: site.baseurl }}" id="footnote-ref44">44</a></sup> For patients, lower blood pressure means a lower likelihood of heart attack, stroke, and kidney failure &mdash; and greater peace of mind.</p>

          <div class="quote-block quote-wide">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“For the first time in my life, I feel a sense of peace and comfort knowing that I&rsquo;m under constant supervision and receiving high-quality care with little effort throughout my daily routine. This is the way healthcare should be.”</p>
              <p class="quote-source">&mdash; Andres Rubiano, 54 year-old Digital Medicine Program patient who suffers from hypertension</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Carolinas HealthCare System<sup><a href="{{ '/references/#footnote-45' | prepend: site.baseurl }}" id="footnote-ref45">45</a>,<a href="{{ '/references/#footnote-46' | prepend: site.baseurl }}" id="footnote-ref46">46</a></sup> <span>| From the field</span></h3>
          </div>

          <p>Carolinas HealthCare System (CHS) launched a new mobile application for patients, called MyCarolinas Tracker, that uses an open API. That means CHS&rsquo;s app can easily talk to other apps &mdash; allowing it to pull in health and fitness data from more than 100 devices and clinical data from providers. Patients can then use the app to track their wellness and clinical progress.</p>

          <p>Patient-generated data isn&rsquo;t necessarily limited to patients&rsquo; phones. Patients can also use sensing devices, like blood pressure cuffs and pulse oximeters, to wirelessly share clinical information with providers.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>Partners Healthcare Center for Connected Health<sup><a href="{{ '/references/#footnote-47' | prepend: site.baseurl }}" id="footnote-ref47">47</a>,<a href="{{ '/references/#footnote-48' | prepend: site.baseurl }}" id="footnote-ref48">48</a></sup> <span>| From the field</span></h3>
          </div>

          <p>The Center for Connected Health (CCH) implements programs rooted in connected health, a care model that uses information and communications technology &mdash; like mobile phones, computers, and wearable devices &mdash; to support patients&rsquo; health without disrupting their day-to-day lives.</p>

          <div class="callout callout-2 callout-right">
            <div class="callout-inner">
              <div class="callout-icon" aria-hidden="true"><span>*</span></div>
              <p class="underlined">CCCP cut heart failure-related hospital readmissions in <strong>half</strong>.</p>
            </div>
          </div>

          <p>CCH&rsquo;s Connected Cardiac Care Program (CCCP) showcases this approach. CCCP aims to improve self-management in heart failure patients at risk for hospitalization by combining:</p>
          <ul>
          <li>Regular clinical care</li>
          <li>Patient education</li>
          <li>Remote monitoring of indicators like blood pressure, heart rate, and weight</li>
          <li>Timely care and clinical feedback<sup><a href="{{ '/references/#footnote-49' | prepend: site.baseurl }}" id="footnote-ref49">49</a></sup></li>
          </ul>

          <p>Providers used a central database to track all patient data. Data was also captured in patients&rsquo; EHRs<sup><a href="{{ '/references/#footnote-50' | prepend: site.baseurl }}" id="footnote-ref50">50</a></sup>.</p>

          <p>CCH conducted a retrospective study that evaluated the 4-month program<sup><a href="{{ '/references/#footnote-51' | prepend: site.baseurl }}" id="footnote-ref51">51</a></sup>. At the outset, patients in the intervention and control groups had similar hospitalization rates. But for the duration of the program and up to 3 months after, hospitalization dropped significantly for patients enrolled in CCCP compared to those receiving typical care. CCCP patients also experienced significantly lower mortality rates during the program and for up to 4 months after discharge.<sup><a href="{{ '/references/#footnote-52' | prepend: site.baseurl }}" id="footnote-ref52">52</a>,<a href="{{ '/references/#footnote-53' | prepend: site.baseurl }}" id="footnote-ref53">53</a></sup></p>


          <p>In addition to clinical outcomes, CCCP improved patients&rsquo; understanding of heart failure and self-management skills.<sup><a href="{{ '/references/#footnote-54' | prepend: site.baseurl }}" id="footnote-ref54">54</a></sup> These skills suggest a long-term payoff &mdash; even if patients have limited time in the program, they can still expect benefits down the line.</p>

          <p>Providers come out on top, too. Even though CCCP costs $1,500 per patient, providers ultimately save $8,155 per patient from reductions in hospitalizations.<sup><a href="{{ '/references/#footnote-55' | prepend: site.baseurl }}" id="footnote-ref55">55</a></sup></p>

          <div class="quote-block quote-wide">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“With our hospitals liable for thirty-day readmissions through CMS penalties, such interventions are becoming mainstay in the management of high risk patients. As health technologies become more accessible and commoditized, programs like Connected Cardiac Care will be more affordable, and achieve an obvious return on investment.”</p>
              <p class="quote-source">&mdash; Joseph C. Kvedar, MD, Vice President, Connected Health, Partners HealthCare</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="region2">
<div class="section-header" id="section-2"></div>
  <div class="full-bleed section-block sticky-header" id="sticky-header-2">
    <div class="content">
      <div class="row">
        <div class="grid-12">
          <h2><span class="section-number">4.2</span> Collect family histories</h2>
        </div>
      </div>
    </div>
  </div>

<div class="content">
  <div class="row">
    <div class="grid-12">

      <p>Family health history can help predict a patient&rsquo;s disease risk &mdash; essentially, it&rsquo;s the simplest and least expensive form of genetic assessment.<sup><a href="{{ '/references/#footnote-56' | prepend: site.baseurl }}" id="footnote-ref56">56</a></sup></p>

      <p>But, traditionally, collecting and analyzing this information hasn&rsquo;t been a routine part of primary care because of barriers like:</p>
      <ul>
      <li><strong>Patients&rsquo; limited knowledge </strong>about their family histories &mdash; which means they struggle to answer providers&rsquo; questions</li>
      <li><strong>Limited time and resources </strong>for practices to gather or update family health histories</li>
      <li><strong>Inadequate clinical training </strong>about how to recognize genetic diseases and manage high-risk patients<sup><a href="{{ '/references/#footnote-57' | prepend: site.baseurl }}" id="footnote-ref57">57</a></sup></li>
      </ul>

      <p>Now, technology-driven tools are changing the standard of risk assessments. These tools enable patients to systematically collect family health histories and report back to their providers. Providers can then ensure high-risk patients get necessary screenings and specialist care.<sup><a href="{{ '/references/#footnote-58' | prepend: site.baseurl }}" id="footnote-ref58">58</a></sup></p>
    </div>
  </div>
</div>

<div class="full-bleed case-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <div class="ftf-block">
          <div class="ftf-title">
            <h3>MeTree<sup><a href="{{ '/references/#footnote-59' | prepend: site.baseurl }}" id="footnote-ref59">59</a></sup> <span>| From the field</span></h3>
          </div>

          <div class="quote-block quote-right">
            <img src="{{ "/img/icon-quote.png" | prepend: site.baseurl }}" alt="" class="quote-icon">
            <div class="quote-content">
              <p>“My goal over the past year has been to have the family history for most of my patients completed at least involving all first degree relatives. I did not find that this caused extra work or took much extra time – in fact it saved time and provided me valuable information for my practice.”</p>
              <p class="quote-source">&mdash; Dr. Bruce Peyser, Medical Director, Pickett Road Clinic</p>
            </div>
          </div>

          <p>The Genomedical Connection &mdash; a consortium between Duke University, the University of North Carolina at Greensboro, and the Moses Cone Health System in Greensboro, North Carolina &mdash; developed MeTree, a computerized self-administered family health history collection tool.</p>

          <p>MeTree helps individuals have challenging conversations with loved ones about family health histories. It supports patients in collecting 3 generations of information on 48 conditions, including 20 cancers. The tool also generates a report for providers and patient-provider talking points.</p>

          <p>Providers can assess MeTree effectiveness by tracking appropriate screenings (like for breast, colon, and ovarian cancers), testing for hereditary thrombophilia, and referrals to genetic counseling.<sup><a href="{{ '/references/#footnote-60' | prepend: site.baseurl }}" id="footnote-ref60">60</a></sup></p>

          <p>By leveraging Fast Health Interoperability Resources (FHIR) &mdash; a new standard for exchanging health care information electronically<sup><a href="{{ '/references/#footnote-61' | prepend: site.baseurl }}" id="footnote-ref61">61</a></sup> &mdash; MeTree will soon connect to patients&rsquo; EHRs and allow patients and providers to seamlessly access this information.<sup><a href="{{ '/references/#footnote-62' | prepend: site.baseurl }}" id="footnote-ref62">62</a></sup></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content">
  <div class="row">
    <div class="grid-12">
      <h2 class="recap"><span class="section-number"></span>Chapter 4 Recap</h2>

      <p>Improve clinical decision-making by leveraging technologies to:</p>
      <ul class="checklist">
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Track patient-generated data</span></li>
      <li><span class="check" aria-hidden="true"></span> <span class="check-item">Collect family histories</span></li>
      </ul>

      {% include block-next.html %}

      {% include block-comments.html %}
    </div>
  </div>
</div>
