---
layout: home
permalink: /

og-url: "http://healthitgov-stage.ahrqstg.org/playbook/pe/"
og-title: "Patient Engagement Playbook"
og-description: "Want to make the most of #HealthIT? The ONC Patient Engagement Playbook can help you use patient portals to involve patients in their health and care. The Playbook includes tips, tricks, and workarounds from providers like you."
og-poster: ""
tweet: "Check out the ONC Patient Engagement Playbook for tips on using #HealthIT to improve care: http://bit.ly/1srrD7v via @ONC_HealthIT"
---

<div class="full-bleed home-block">
  <div class="content">
    <div class="row">
      <div class="grid-12">
        <h1 class="visually-hidden">ONC Patient Engagement Playbook</h1>
        <p class="text-center"><img src="{{ "/img/site-logo-large.png" | prepend: site.baseurl }}" class="onc-logo" alt=""></p>
      </div>
    </div>
    <div class="row">
      <div class="grid-12">
        <p><strong class="home-highlight">Patient engagement can have big benefits for your practice and your patients:</strong> better communication, better care, and better outcomes. Health information technology (health IT) is a powerful tool to help you get there.</p>
        <p><strong class="home-highlight">Make health IT work for you &mdash; and use the Patient Engagement Playbook as your guide.</strong> The Playbook is an evolving resource: a compilation of tips, tricks, and workarounds we&rsquo;re collecting from innovative providers and health systems like yours.</p>
      </div>
    </div>
    <div class="row">
      <div class="grid-12">
        <a href="{{ "/introduction/" | prepend: site.baseurl }}" class="btn-landing btn-landing-first"><span class="section-title">Introduction to the Patient Engagement Playbook</span> <span class="btn btn-arrow-img" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="row">
      <div class="grid-6">
        <a href="{{ "/chapter-1/" | prepend: site.baseurl }}" class="btn-landing-tall"><span class="section-title">Chapter 1</span> Facilitate easy enrollment <span class="btn btn-arrow-img" aria-hidden="true"></span></a>
      </div>
      <div class="grid-6">
        <a href="{{ "/chapter-2/" | prepend: site.baseurl }}" class="btn-landing-tall"><span class="section-title">Chapter 2</span> Activate features that meet patient needs <span class="btn btn-arrow-img" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="row">
      <div class="grid-6">
        <a href="{{ "/chapter-3/" | prepend: site.baseurl }}" class="btn-landing-tall"><span class="section-title">Chapter 3</span> Allow caregiver proxy access <span class="btn btn-arrow-img" aria-hidden="true"></span></a>
      </div>
      <div class="grid-6">
        <a href="{{ "/chapter-4/" | prepend: site.baseurl }}" class="btn-landing-tall"><span class="section-title">Chapter 4</span> Integrate patient-generated health data <span class="btn btn-arrow-img" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="row">
      <div class="grid-12">
        <div class="stay-connected">
          <div class="row">
            <div class="grid-9">
              <p class="h3">Stay connected.</p>
              <p>Want the latest on the Patient Engagement Playbook?</p>
            </div>
            <div class="grid-3 space-top-2">
              <p><a href="https://public.govdelivery.com/accounts/USHHSONC/subscriber/new?category_id=USHHSONC_C3" class="btn btn-chapter">Sign up for emails</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="healthit-logo">
  <a href="https://www.healthIT.gov/"><img src="{{ "/img/healthIT-logo-medium.png" | prepend: site.baseurl }}" alt="A product of HealthIT.gov"></a>
</div>
{% if page.og-url %}
  {% if page.og-title %}
    {% if page.og-description %}
      {% if page.tweet %}
<div class="sharing sharing-home">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.og-url }}" class="btn-sharing btn-facebook" aria-label="Share this page on Facebook">Facebook</a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.og-url }}&amp;title={{ page.og-title | uri_escape }}&amp;summary={{ page.og-description | uri_escape }}" class="btn-sharing btn-linkedin" aria-label="Share this page on LinkedIn">LinkedIn</a>
  <a href="https://twitter.com/intent/tweet?text={{ page.tweet | uri_escape }}" class="btn-sharing btn-twitter" aria-label="Share this page on Twitter">Twitter</a>
</div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
</div>
