---
layout: chapter
title: Infographic 2
permalink: /infographic-2/
bodyclass: infographic-share

og-url: "http://healthitgov-stage.ahrqstg.org/playbook/pe/infographic-2/"
og-title: "Meet Patient Needs"
og-description: "Portals offer features that benefit you and your patients — like online booking and prescription refills, secure information sharing, and sharing notes. Check out this slideshow from the ONC Patient Engagement Playbook to learn more."
og-poster: "http://healthitgov-stage.ahrqstg.org/playbook/pe/img/ig-2-poster.png"
tweet: "Check out this slideshow from @ONC_HealthIT’s Patient Engagement Playbook on key features of patient portals: http://bit.ly/1W2o8Rw"
---

<!-- {% include sharing-buttons.html %} -->

{% include infographic-2.html %}

<div class="next">
  <p class="text-center"><a href="{{ "/chapter-2/" | prepend: site.baseurl }}" class="btn btn-blue"><span aria-hidden="true">&larr;</span> Back to to Chapter 2</a></p>
</div>
