---
layout: chapter
title: Infographic 3
permalink: /infographic-3/
bodyclass: infographic-share

og-url: "http://healthit.gov/playbook/pe/infographic-3/"
og-title: "Allow Proxy Access for Caregivers"
og-description: "Some portals allow separate access for patients and caregivers — so patients have privacy, caregivers have relevant information, and you’re out of the middle. Learn more in this slideshow from the ONC Patient Engagement Playbook."
og-poster: "http://healthit.gov/playbook/pe/img/ig-3-poster.png"
tweet: "Check out this slideshow from @ONC_HealthIT’s Patient Engagement Playbook on proxy access to patient portals: http://bit.ly/1XzMW2S"
---

<!-- {% include sharing-buttons.html %} -->

{% include infographic-3.html %}

<div class="next">
  <p class="text-center"><a href="{{ "/chapter-3/" | prepend: site.baseurl }}" class="btn btn-blue"><span aria-hidden="true">&larr;</span> Back to to Chapter 3</a></p>
</div>
