---
layout: chapter
title: Infographic 1
permalink: /infographic-1/
bodyclass: infographic-share

og-url: "https://www.healthit.gov/playbook/pe/infographic-1/"
og-title: "Encourage Patients to Sign Up"
og-description: "Did you know that patients who use portals are 2.6 times more likely to choose to stay patients? Check out this slideshow from the ONC Patient Engagement Playbook for tips on getting patients to buy into the benefits of portals."
og-poster: "https://www.healthit.gov/playbook/pe/img/ig-1-poster.png"
tweet: "Check out this slideshow from @ONC_HealthIT’s Patient Engagement Playbook on getting buy-in for patient portals: http://bit.ly/1WCKPwe"
---

<!-- {% include sharing-buttons.html %} -->

{% include infographic-1.html %}


<div class="next">
  <p class="text-center"><a href="{{ "/chapter-1/" | prepend: site.baseurl }}" class="btn btn-blue"><span aria-hidden="true">&larr;</span> Back to to Chapter 1</a></p>
</div>
