---
layout: chapter
title: Infographic 4
permalink: /infographic-4/
bodyclass: infographic-share

og-url: "https://www.healthit.gov/playbook/pe/infographic-4/"
og-title: "Use Patient-Generated Health Data"
og-description: "Did you know that 1 in 5 people use technology to track their health? With #HealthIT, you can collect patient-generated health data and use it to improve care. Check out this slideshow from the ONC Patient Engagement Playbook to see how."
og-poster: "https://www.healthit.gov/playbook/pe/img/ig-4-poster.png"
tweet: "Check out this slideshow from @ONC_HealthIT’s Patient Engagement Playbook on using patient-generated health data: https://www.healthit.gov/playbook/pe/infographic-4/"
---

<!-- {% include sharing-buttons.html %} -->

{% include infographic-4.html %}

<div class="next">
  <p class="text-center"><a href="{{ "/chapter-4/" | prepend: site.baseurl }}" class="btn btn-blue"><span aria-hidden="true">&larr;</span> Back to to Chapter 4</a></p>
</div>
