---
layout: chapter
title: Introduction
permalink: /introduction/

next-title: "Chapter 1"
next-url: "/chapter-1/"

og-url: ""
og-title: ""
og-description: ""
og-poster: ""
---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro bg-intro">
  <div class="chapter-intro-inner">
    <h1 class="chapter-title">Introduction</h1>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">
      <h2>About this Playbook</h2>

      <p>Healthcare practices across the country are already seeing the benefits of electronic health record (EHR) patient portal implementation. The rewards are real: more effective delivery of care; reduced burden on office staff; and informed, engaged patients. And so are the barriers: cumbersome enrollment; clunky interfaces; reluctant patients and office staff; and questions of privacy and security.</p>

      <p><strong>In this playbook, we&rsquo;ll demystify patient portals and describe how you can make them work for you.</strong></p>

      <p>It will take years to address all of the pain points, but transformation is under way. We&rsquo;ve compiled best practices and home-grown solutions from innovative providers and health systems around the country. There&rsquo;s much to learn from analyzing these bright spots and scaling their success.</p>

      <p>Even a few small changes in your practice and patient portal implementation can lead to meaningful improvements in portal adoption, care delivery, and health outcomes.</p>

      <p>Use this playbook to help you:</p>
      <ul>
      <li>Facilitate easy enrollment to achieve greater portal adoption</li>
      <li>Meet patient needs online &mdash; while also streamlining practice workflow</li>
      <li>Involve caregivers in an appropriate way</li>
      <li>Integrate patient-collected data to improve clinical decision-making and care</li>
      </ul>

      <h2>Why a Playbook?</h2>

      <p>Playbooks aren&rsquo;t static instruction manuals &mdash; they&rsquo;re always-evolving sets of strategies and approaches. Good coaches update their playbooks constantly, and each iteration reflects new, innovative solutions to shifting circumstances.</p>

      <p>We see this as version 1.0 &mdash; just a first step in our mission to help clinicians and their patients adopt and adapt to patient portals. We want to learn more about your experiences and hear your suggestions. Tell us what&rsquo;s working and what isn&rsquo;t. A good playbook is never completed &mdash; it just keeps getting better.</p>


      <h2>About Patient Portals</h2>

      <p>The Centers for Medicare and Medicaid Services (CMS) launched <a href="https://www.healthit.gov/providers-professionals/meaningful-use-definition-objectives">Meaningful Use objectives</a> to encourage providers and practices to use EHR technology effectively &mdash; to improve patient care and outcomes<sup><a href="{{ '/references/#footnote-1' | prepend: site.baseurl }}" id="footnote-ref1" aria-label="Footnote 1">1</a>,<a href="{{ '/references/#footnote-2' | prepend: site.baseurl }}" id="footnote-ref2" aria-label="Footnote 2">2</a></sup>.</p>

      <p>Providers and practices must meet Meaningful Use objectives to qualify for CMS&rsquo;s EHR Incentive Programs. For example, Meaningful Use sets goals for providers and practices to:</p>
      <ul>
      <li><a href="https://www.healthit.gov/providers-professionals/achieve-meaningful-use/core-measures-2/patient-ability-electronically-view-download-transmit-vdt-health-information">Enable patients to view online, download, and transmit</a> their health information within 4 business days of the information being available</li>
      <li><a href="https://www.healthit.gov/providers-professionals/achieve-meaningful-use/core-measures-2/use-secure-electronic-messaging">Exchange secure messages</a> with more than 5 percent of patients</li>
      <li><a href="https://www.healthit.gov/providers-professionals/achieve-meaningful-use/core-measures-2/clinical-summaries">Provide clinical summaries</a> to patients or caregivers within 1 business day for more than half of office visits</li>
      </ul>

      <p>In addition to financial incentives, portals can add up to big benefits in patient care. For patients with chronic diseases, engagement in patient portals has been associated with improvements in disease management.<sup><a href="{{ '/references/#footnote-3' | prepend: site.baseurl }}" id="footnote-ref3" aria-label="Footnote 3">3</a></sup> Portals can also improve preventive care. Patients with portal access to screening recommendations &mdash; like when to get their next mammogram or colonoscopy &mdash; are more likely to follow through on these recommendations.<sup><a href="{{ '/references/#footnote-4' | prepend: site.baseurl }}" id="footnote-ref4" aria-label="Footnote 4">4</a></sup></p>

      <p>Ultimately, patient portals can contribute to:</p>
      <ul>
      <li>Reduced call volume</li>
      <li>Improved responsiveness to patients&rsquo; needs</li>
      <li>Lower utilization of health services</li>
      <li>More effective care</li>
      <li>Cost savings<sup><a href="{{ '/references/#footnote-5' | prepend: site.baseurl }}" id="footnote-ref5" aria-label="Footnote 5">5</a></sup></li>
      </ul>

      <p><strong>Patient portals hold enormous potential to improve patient care. We&rsquo;ve created this playbook to help you realize it &mdash; and build an effective digital strategy for patient engagement.  </strong></p>


      <h2>Terms to know</h2>

      <p><em>Electronic health record (EHR)</em>. An EHR is an electronic system that health care providers use to document patients&rsquo; medical and health information. A patient&rsquo;s EHR may include demographic data, progress notes, medications, vital signs, medical history, immunizations, lab results, and radiology reports. Patients don&rsquo;t access their own EHR.</p>

      <p><em>Patient portal</em>. A patient portal is a secure website where patients can access their medical history and often certain information from their EHR. Using patient portals, patients can typically complete forms online, communicate with providers, request prescription refills, pay bills, review lab results, and schedule appointments.</p>


      <h2>Share Your Feedback</h2>

      <p>Best practices start with providers like you. Have you successfully boosted portal adoption in your practice? Do you have a promising product hack?</p>

      <p>As you discover new ways to navigate patient portals and EHR technology, let us know. We&rsquo;ll be updating our playbook with the next iteration of patient portal solutions.</p>

      {% include block-comments.html %}


      {% include block-next.html %}
    </div>
  </div>
</div>
