---
layout: chapter
title: Introduction
permalink: /introduction/

next-title: "Chapter 1"
next-url: "/chapter-1/"

og-url: "https://www.healthit.gov/playbook/pe/introduction/"
og-title: "Patient Engagement Playbook - Introduction"
og-description: "The ONC Patient Engagement Playbook demystifies patient portals and explains how you can make them work for you and your patients."
og-poster: "https://www.healthit.gov/playbook/pe/img/bg-intro.jpg"
tweet: "Learn how the ONC Patient Engagement Playbook can help you use #HealthIT to improve care: http://bit.ly/25b9wEu via @ONC_HealthIT"
---

{% include sharing-buttons.html %}

<div class="content">
</div> <!-- /content -->

<div class="full-bleed chapter-intro bg-intro">
  <div class="chapter-intro-inner">
    <h1 class="chapter-title">Introduction</h1>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="grid-12">
      <h2>About this playbook</h2>

      <p>The Patient Engagement Playbook is a tool for health care providers, practice staff, hospital administrators and others who want to leverage health IT &mdash; starting with electronic health record (EHR) patient portals &mdash; to engage patients in their health and care.</p>

      <p>Health care practices across the country are already seeing the benefits of EHR patient portal implementation. The rewards are real: more effective delivery of care; reduced burden on office staff; and informed, engaged patients. And so are the potential barriers: cumbersome enrollment; clunky interfaces; reluctant patients, doctors, and office staff; and questions of privacy and security.</p>

      <p>Use this playbook to help you:</p>
      <ul>
      <li>Facilitate easy enrollment to achieve greater portal adoption</li>
      <li>Meet patient needs online &mdash; while also streamlining practice workflow</li>
      <li>Involve caregivers in an appropriate way</li>
      <li>Integrate patient-generated health data to improve clinical decision-making and care</li>
      </ul>

      <p><strong>In this playbook, we&rsquo;ll demystify patient portals and describe how you can make them work for you and your patients.</strong></p>

      <p>A patient portal doesn&rsquo;t automatically increase patient engagement; to reap the benefits, practices must set up and use the portal in a thoughtful way. We&rsquo;ve compiled best practices and real-world solutions from innovative providers and health systems around the country to help you do just that. There&rsquo;s much to learn from analyzing these bright spots and scaling their success. Even a few small changes in your practice and patient portal implementation can lead to meaningful improvements in portal adoption, care delivery, and health outcomes.</p>

      <p>Every day, providers and practices embrace new technologies, discover ways to improve care, and find opportunities for meaningful patient connection. As health IT and health care delivery evolve, the Playbook will evolve too. Over time, we&rsquo;ll update the Playbook to include a broader range of tried-and-true strategies for involving patients in their health and care.</p>

      <h2>Why a playbook?</h2>

      <p>Playbooks aren&rsquo;t static instruction manuals &mdash; they&rsquo;re always-evolving sets of strategies and approaches. Good coaches update their playbooks constantly, and each iteration reflects new, innovative solutions to shifting circumstances.</p>

      <p>Use this playbook in a way that works for you and your practice. For example, you may want to:</p>

      <ul>
      <li>Review patient portal benefits with office staff, so they can share them with patients</li>
      <li>Focus on 1 chapter at a time &mdash; discuss lessons during team meetings, apply best practices in the workplace, and have ongoing conversations about what works and what can be improved</li>
      <li>Use Playbook language on your website or Facebook page to let patients know how they can use the patient portal to participate in their care</li>
      </ul>

      <p>We see this as version 1.0 &mdash; just a first step in our mission to help clinicians and their patients adopt and adapt to patient portals and patient-generated health data. We want to learn more about your experiences and hear your suggestions. Tell us what&rsquo;s working and what isn&rsquo;t. A good playbook is never completed &mdash; it just keeps getting better.</p>

      <h2>About patient portals</h2>

      <p>The Centers for Medicare &amp; Medicaid Services (CMS) launched <a href="https://www.healthit.gov/providers-professionals/meaningful-use-definition-objectives">Meaningful Use objectives</a> to encourage providers and practices to use EHR technology effectively &mdash; to improve patient care and outcomes.<sup><a href="{{ '/references/#footnote-1' | prepend: site.baseurl }}" id="footnote-ref1" aria-label="Footnote 1">1</a>,<a href="{{ '/references/#footnote-2' | prepend: site.baseurl }}" id="footnote-ref2" aria-label="Footnote 2">2</a></sup> For office-based Medicare providers, Meaningful Use will soon be replaced by <a href="http://www.hhs.gov/about/news/2016/04/27/administration-takes-first-step-implement-legislation-modernizing-how-medicare-pays-physicians.html">Advancing Care Information under the proposed Quality Payment Program</a>.</p>

      <p>Providers and practices must meet these objectives to qualify for CMS&rsquo;s incentive payments. For example, Meaningful Use sets goals for providers and practices to:</p>
      <ul>
      <li><a href="https://www.healthit.gov/providers-professionals/achieve-meaningful-use/core-measures-2/patient-ability-electronically-view-download-transmit-vdt-health-information">Enable patients to view online, download, and transmit</a> their health information within 4 business days of the information being available</li>
      <li><a href="https://www.healthit.gov/providers-professionals/achieve-meaningful-use/core-measures-2/use-secure-electronic-messaging">Exchange secure messages</a> with more than 5% of patients</li>
      <li><a href="https://www.healthit.gov/providers-professionals/achieve-meaningful-use/core-measures-2/clinical-summaries">Provide clinical summaries</a> to patients or caregivers within 1 business day for more than half of office visits</li>
      </ul>

      <p>In addition to financial incentives, portals can add up to big benefits in patient care. For patients with chronic diseases, engagement in patient portals has been <strong>associated with improvements in disease management</strong>.<sup><a href="{{ '/references/#footnote-3' | prepend: site.baseurl }}" id="footnote-ref3" aria-label="Footnote 3">3</a></sup> Portals can also improve preventive care. Patients with portal access to screening recommendations &mdash; like when to get their next mammogram or colonoscopy &mdash; are <strong>more likely to follow through on these recommendations</strong>.<sup><a href="{{ '/references/#footnote-4' | prepend: site.baseurl }}" id="footnote-ref4" aria-label="Footnote 4">4</a></sup> </p>

      <p>Ultimately, patient portals can contribute to:</p>
      <ul>
      <li>Reduced call volume</li>
      <li>Improved responsiveness to patients&rsquo; needs</li>
      <li>Lower utilization of health services</li>
      <li>More effective care</li>
      <li>Cost savings<sup><a href="{{ '/references/#footnote-5' | prepend: site.baseurl }}" id="footnote-ref5" aria-label="Footnote 5">5</a></sup></li>
      </ul>

      <p><strong>Patient portals hold enormous potential to improve patient care and practice workflow. We&rsquo;ve created this playbook to help you realize it &mdash; and build an effective digital strategy for patient engagement.</strong></p>

      <div class="panel">
        <h3>Terms to know</h3>
        <p><em>Electronic health record (EHR).</em> An EHR is an electronic system that health care providers use to document patients&rsquo; medical and health information. A patient&rsquo;s EHR may include demographic data, progress notes, medications, vital signs, medical history, immunizations, lab results, and radiology reports. Patients typically don&rsquo;t access their own EHR.</p>

        <p><em>Patient portal. </em>A patient portal is a secure website where patients can access their medical history and often certain information from their EHR. Using patient portals, patients can typically complete forms online, communicate with providers, request prescription refills, pay bills, review lab results, and schedule appointments.</p>
      </div>

      <h2>Help us improve the Playbook</h2>

      <p>Best practices start with providers and administrators like you. Have you successfully boosted portal adoption in your practice? Do you have a promising product solution?</p>

      <p>As you discover new ways to navigate patient portals, EHRs, and other health IT solutions, <a href="{{ '/feedback/' | prepend: site.baseurl }}">let us know</a>. We&rsquo;ll be updating the  Playbook with the next iteration of patient engagement strategies.</p>

      <h2>Disclaimer</h2>
      <p>References or links in this website to any specific non-federal entity, commercial product, process, service or company do not constitute their endorsement or recommendation by the U.S. Government or HHS. HHS is not responsible for the contents of any &ldquo;off-site&rdquo; website linked to in this website, nor is HHS responsible for such other website&rsquo;s compliance with Section 508 (accessibility).</p>

      {% include block-next.html %}

      {% include sharing-buttons-footer.html %}

    </div>
  </div>
</div>
